[2013-07-19 20:24] axelstudios opened #131 "HVAC Tab - There isn't a way to rename water use connections (Bugzilla #913)"
On 2012-09-18 08:38:14, @DavidGoldwasser wrote:

[2014-02-28 22:48] macumber opened #110 "Hard to see errors generated in ModelToIdf job in App"
You have to go to the tree, right click the job and do show errors and warnings.  Seems like these should get printed to the screen as well

![2-28-2014 2-14-52 pm](https://f.cloud.github.com/assets/1327850/2299292/67f35680-a0ca-11e3-9358-f1ca28fbf682.jpg)

[2014-04-04 16:03] CUEBoxer opened #112 "Refrigeration Spreadsheet GUI: drop-down lists"
Within the "Grid" view of refrigeration systems; the drop-down lists showing schedules don't present the schedules in an alphabetized manner.
@kbenne

[2014-07-21 14:47] macumber opened #142 "Double click to open does not work on Mac"
Matt Brown sent a 1.3.0 file.  When double clicking this on a Mac (using 1.4.0) the OpenStudio application launches and initially shows the model.  However, after dismissing the "Model Updated from 1.3.0 to 1.4.0" dialog the app refreshes and an empty model is displayed.  This appears to happen if the model is already up to date as well.

This does not happen on Windows, it also does not happen on

[2015-03-24 03:18] macumber opened #162 "Allow visualization of Schedule:Compact and Schedule:Constant on Schedules tab in OS App"
Understanding that they might not be editable users are concerned if they cannot see their schedules in the model.  Kristin was concerned that all of her schedule compacts had been removed after importing model from idf.

Alternatives are to show schedules in read only or convert all schedules to schedule ruleset

[2015-04-14 16:10] DavidGoldwasser opened #163 "Apply Measures Now dialog taking 5 seconds to Open on my computer"
I think this is just because I have so many measures in my measure directory (168). It seems that this dialog may parse the XML data each time it is opened. I think the "measures" tab just does this when the app is launched. I wonder if this dialog should do the same. All the dialog should need at first is the taxonomy information.

@macumber @asparke2 and @evanweaver any thoughts?.

[2015-04-15 15:35] DavidGoldwasser opened #166 "Sort measures alphabetically in GUI"
@macumber @axelstudios maybe this is related to API improvements mentioned in issue NREL/OpenStudio#1609.

The comment on YouTube about not finding measures is more common of an issue now that we have enough measures that results often span multiple pages. Ideally If I have enough screen space I'd like to see more than 10 at a time, but if I see 10 at a time, they should be alphabetical. Currently

[2015-04-22 16:52] DavidGoldwasser opened #175 "Add ability for OS app to look for updated BCL components and measures."
Currently the user has to know something has been updated on BCL, to decide to update it, or stumble across it when searching for something else. A number of times I had updated measures but users didn't know there was a newer one with new features and or bug fixes. It would be great for a way in the GUI to update all BCL content for the latest version that works on my OS version.

From what I lea

[2017-01-10 16:36] jmarrec opened #115 "Delete a measure, re-add it from library: no prompt and duplicated folders"
System info:

* Sketchup 2016
* macOS Sierra 10.12.2
* OpenStudio 2.0.0 (47ba3cbe19)

----

There seem to be a small bug that you might have noticed too with Measures on mac (aside from not telling you it’s broken and not giving you any message that can help), where you delete a measure and re-add it from library

1. It doesn’t ask anything (no "Update all previous reference to measure?" or someth

[2017-08-31 15:35] macumber opened #116 "Space Types library item collapses after dragging in Space Type from library"
Have to keep opening this to drag in more space types

[2018-01-18 05:46] macumber opened #149 "Improve grid views performance for big models"
https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/14802282-improve-grid-views-performance-for-big-models

Working with real models with 400+ spaces and 4000+ surfaces would be really helpful from grid views. Surprisingly, they are very slow with such size. More filters could be useful as well

[2018-01-18 16:30] macumber opened #123 "Organize HVAC library by category"
https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/10473030-organize-hvac-library-by-category

Since 1.9.0, the quantity of available library objects when viewing the "HVAC System" makes it really hard to find an object. It'd be great to categorize the objects, for example following the EnergyPlus "Groups" (in the I/O documentation, or when using IDF editors)

You'd have a group

[2018-03-19 23:09] aaron-boranian opened #153 "Allow users to choose which design days (0.4%, 1%, 2%) are imported"
Allow users to choose which design days (0.4%, 1%, 2%) are imported, as detailed in this unmet hours post:

https://unmethours.com/question/13050/how-to-modifying-design-day-conditions-as-per-ashrae-901-g1221/

Migrated from [UserVoice](http://openstudio.uservoice.com/forums/308629/suggestions/10932066)

[2018-05-08 17:52] eringold opened #126 "Add Exterior Equipment functionality to OS App - Enhancement Request"
Currently (as of v2.5.0) the 'Exterior Equipment' subtab of the Facility tab only enables defining Exterior Lights loads. Other children of ExteriorLoadInstance are not exposed anywhere in the app:

- ExteriorFuelEquipment/ExteriorFuelEquipmentDefinition
- ExteriorWaterEquipment/ExteriorWaterEquipmentDefinition

Either make the existing Exterior Equipment subtab type-generic (with additional colum

[2019-04-05 20:50] MatthewSteen opened #145 "Allow rearraging of AirLoop and PlantLoop components"
It would be nice to be able to rearrange the components (fans, pumps, coils, boilers, chillers, SetPointManagers, etc.) of an AirLoopHVAC or PlantLoop in the app by dragging and dropping an object rather than removing it and then adding a new object from the Library.

[2019-04-08 19:58] macumber opened #1 "CMake error based on Conan on Windows"
CMake Warning at openstudio/CMakeLists.txt:712 (message):
  Ruby doesn't appear to be built against the right OpenSSL version, built
  against '1.0.2q' while we expected >= '1.1.0g'

[2019-04-08 19:59] macumber opened #2 "Call git submodule init in CMake"

[2019-04-08 20:22] macumber opened #3 "Build errors on new checkout on Windows"
[code]

[2019-04-09 13:38] #2 closed, assigned to jmarrec

[2019-04-09 13:38] #3 closed, assigned to jmarrec

[2019-04-23 14:21] #1 closed, assigned to jmarrec

[2019-05-03 03:19] macumber opened #8 "CMake does not find conan ruby on Windows"
I am on Windows, I have a system ruby installed and in my path. When CMake runs, it is finding my system ruby and not the conan ruby, configure fails.

I think code that used to put the built Ruby first in PATH addressed this issue but was removed in this commit:
https://github.com/NREL/OpenStudio/commit/2bbfea180d95e9b9b2ee886c54de3a99eb6ce146#diff-af3b638bc2a3e6c650974192a53c7291L612

I think so

[2019-05-06 17:01] #8 closed, assigned to nobody

[2019-05-06 18:05] macumber opened #9 "Create Windows Installer"

[2019-05-06 18:06] macumber opened #10 "Test Mac Installer"

[2019-05-06 18:13] macumber opened #11 "Use pre-built Qt on all platforms"

[2019-05-06 18:20] macumber opened #12 "Update to Visual Studio 2019"
Linked to https://github.com/NREL/OpenStudio/issues/3521

[2019-05-31 17:11] macumber opened #14 "Create Ubuntu Installer"

[2019-06-14 16:52] macumber opened #16 "Ubuntu products linked to shared libraries in build dir on develop3"

[2019-06-14 17:09] #16 closed, assigned to lefticus

[2019-06-14 18:28] macumber opened #17 "Add user preference to point to DView install"
Add user preference to point to DView, if DView is found enable the load DView button.  If not, show message saying “Set path to DView in preferences”

[2019-06-14 18:41] macumber opened #18 "Clean up build options"
We want to clean up the build options to make things easier on future maintainers.  The options should be about the app, I don't think there are good reasons to customize the OpenStudio Core build.  OpenStudio Core should just build with its default settings.  The following options can be removed from the app

[code]

I don't think anyone is using our ModelEditor C# bindings so `BUILD_CSHARP_BINDI

[2019-06-17 22:13] macumber opened #19 "Clean up installer"
- [ ] Install new Application specific readme/release notes
- [ ] Install openstudio_modeleditor.rb and openstudio_modeleditor.so in Ruby bindings (these will be used by the SketchUp plugin)
- [ ] Remove C# bindings from installer
- [ ] Remove OpenStudio Core Examples from installer, add new examples for Application

[2019-06-17 22:31] macumber opened #20 "FloorspaceJS editor tab does not work"

[2019-06-17 22:32] macumber opened #21 "EPlusout.html and other report html files do not show up after simulation"
![image](https://user-images.githubusercontent.com/1327850/59641097-856b6d80-911d-11e9-9a4e-46505476ccef.png)

[2019-06-21 14:24] macumber opened #23 "Update About box"
Should show OpenStudio version but also info for OpenStudioApplication, need to give the app its own version

[2019-06-21 14:27] macumber opened #24 "Move template and default library osms to App repo"
Also need to include the scripts which update version, might make that a build step

[2019-06-27 22:43] macumber opened #28 "Mac installer issue"
Reported by @DavidGoldwasser when installing the Mac package

![Screen Shot 2019-06-27 at 3 21 05 PM](https://user-images.githubusercontent.com/1327850/60305664-988af400-98fa-11e9-81f4-f353f871cb60.png)

[2019-06-27 22:48] macumber opened #29 "Crash on quit"
Reported by @DavidGoldwasser on Mac

This one may just be something developers would see. If you have both 2x and 3x app's open, then quit 3x, it crashes on quit orphaning an openstudio process. The reverse is not a problem (you can quit 2x without while 3x is open without an issue)

[2019-07-10 15:31] #9 closed, assigned to macumber

[2019-07-11 00:09] macumber opened #32 "Add github pages CI"
Add docs folder and port some content over from https://github.com/NREL/OpenStudio-user-documentation/ (https://nrel.github.io/OpenStudio-user-documentation/) (include a few markdown files and images, etc).  Add CI task to make docs and post to github pages on merge to master

[2019-07-26 15:32] #23 closed, assigned to jmarrec

[2019-07-26 15:32] #24 closed, assigned to jmarrec

[2019-07-26 15:32] #14 closed, assigned to jmarrec

[2019-07-26 15:32] #17 closed, assigned to jmarrec

[2019-09-20 16:39] #29 closed, assigned to jmarrec

[2019-10-08 14:17] #28 closed, assigned to jmarrec

[2019-10-08 14:35] #21 closed, assigned to jmarrec

[2019-11-06 22:03] jmarrec opened #38 "Measure Manager failed to start on Ubuntu 18.04"
![image (1)](https://user-images.githubusercontent.com/5479063/68341723-5617c600-00e9-11ea-80e3-b52e29ce775a.png)

https://github.com/NREL/OpenStudioApplication/blob/develop/src/shared_gui_components/MeasureManager.cpp#L140

https://github.com/NREL/OpenStudioApplication/blob/develop/src/openstudio_app/OpenStudioApp.cpp#L1216:L1242

If I reproduce the command manually: `/usr/local/openstudioapplica

[2019-11-07 22:03] tijcolem opened #40 "SSL Handshake Error to start on Ubuntu 18.04"
I originally thought this may be related to #39 but this now appears to be a separate issue.

When launching the app the following error message.

![Screen Shot 2019-11-07 at 9 48 36 AM](https://user-images.githubusercontent.com/7087120/68429962-5b6a2480-016c-11ea-8340-194acc2f8f04.png)

I built a debug version and here is the backtrace.
[code]
This function call might be causing the issue.
https:

[2019-11-08 21:24] #40 closed, assigned to nobody

[2019-11-08 21:25] #38 closed, assigned to jmarrec

[2019-11-19 15:01] #20 closed, assigned to nobody

[2019-11-19 15:07] DavidGoldwasser opened #42 "Consider linking to FloorSpaceJS instead of embedding"
Currently a static copy of FloorSpaceJS is embedded in the OpenStudio Application, but I propose linking to the live development version instead.
https://github.com/NREL/floorspace.js

I see three advantages to this approach.
1. it makes the source code smaller
2. It makes maintaining the application easier, related to updates to FloorSpaceJS
3. It gets updates to the application as soon as they g

[2019-12-02 10:06] jmarrec opened #52 "OS App doesn't display Autocalculatable fields correctly"
See the difference between Autosizable and Autocalculatable, for eg in `AirTerminal:SingleDuct:ConstantVolume:CooledBeam`:

**Autosizable**: displays a radio button

![image](https://user-images.githubusercontent.com/5479063/69950472-a8cf7c80-14f3-11ea-980a-1e9ed30286d2.png)

**Autocalculatable:** displayed as string

![image](https://user-images.githubusercontent.com/5479063/69950500-b1c04e00-14f

[2019-12-06 17:40] eomere opened #57 "Schedules Sub-tab causing App to Crash"
**Seen On**: Windows 10

**Steps to Reproduce**: Generate a Prototype Building using the using the "Create DOE Prototype Building" OR "Create DEER Prototype Building ALPHA Version" Measure. Go to the Schedules Resource. Go to the Schedule Sub-tab.

**Observed Result**: Error Message, then OS Crash
![Sub-tabs - Schedules Resource](https://user-images.githubusercontent.com/55591465/70338258-97031780

[2019-12-10 19:31] craigers290 opened #58 "Ubuntu: Cannot Install both openstudio and openstudioapplication (conflicting symlinks and manifests)"
**Conditions:** Installing both App v1.0.0-pre1 and OpenStudio v3.0.0-pre-1 on Ubuntu 18.04.3

**Observed Result**: Install pauses at 16% then never completes. The following log is generated if the Core is installed first:
![Screenshot from 2019-12-10 13-44-09](https://user-images.githubusercontent.com/43014105/70561281-2af51c00-1b58-11ea-81a6-e808ad1738f4.png)

The following log is generated if t

[2019-12-10 19:45] eomere opened #59 "App Crash During OSM File Save"
**Seen On:** Windows 10

**Steps to Reproduce:** Save OSM. Using File Explorer, Enter to the accompanying folder that is created due to the OSM save action. Return to the OS App and Save OSM again.

**Observed Result:** Unhandled Exception Message, then OS Crash.
![OSM Save](https://user-images.githubusercontent.com/55591465/70562768-0a7a9100-1b5b-11ea-9b5c-071252b3c0e4.JPG)

**Expected Result:**

[2019-12-11 23:20] tijcolem opened #62 "2019 SketchUp Plugin for OSX"
Fix for Windows was:
https://github.com/NREL/OpenStudioApplication/pull/50
https://github.com/NREL/openstudio-sketchup-plugin/pull/1

Need to move 2.x plugin logic to build model_editor for osx and test CI incremental installer.

[2019-12-13 15:34] #57 closed, assigned to jmarrec

[2019-12-18 21:21] eomere opened #65 "User Notification of Completed BCL Measure/Component Download"
**Enhancement Request**
--------------

Previous versions of OpenStudio reveal when item downloads from the Online BCL are complete. The OS App doesn't.

## Detailed Description

This issue runs across all Operating Systems (Windows, Mac, Linux). Typically, the "Download" button will become interactive after item downloads are complete.

## Possible Implementation

The "Download" button remains un

[2019-12-18 21:37] eomere opened #66 "BCL Auth Key requirement every time the App is re-run"
Enhancement Request
--------------

The OpenStudio App Versions for Mac and Linux should store the BCL Auth Key. The Windows Version has this functionality.

## Detailed Description

After closing the App and re-running it, the BCL Auth Key has to be re-entered before one can apply measures. Also, because the Key is not stored, previously downloaded components/measures are not stored. Hence, it is

[2019-12-18 21:52] eomere opened #67 "Blacked Out User Selection within Dropdown Menus on Ubuntu"
Enhancement Request
--------------

The color that highlights potential user selection within dropdown menus should be a brighter shade. This issue is only present within the **Linux** Version of the OS App.

## Detailed Description

As a user hovers over options within dropdown menus, potential selections are blacked out (unreadable).

## Possible Implementation

Similar to the Windows and Mac ve

[2020-01-13 22:00] MatthewSteen opened #102 "add ability to edit Schedule Set Name from Space Types tab"
Feature request to add ability to edit `Schedule Set Name` from Space Types tab, which would save users the time of switching back and forth between the Schedule Sets and Space Types tabs to coordinate.

![image](https://user-images.githubusercontent.com/8397034/72295722-5b2b5100-3615-11ea-984b-acd637bef24e.png)

[2020-01-14 02:43] #12 closed, assigned to lefticus

[2020-01-17 21:25] eomere opened #71 "Windows: Machine restart required to completely uninstall app"
Issue overview
--------------

The windows version of the app does not completely uninstall when prompted.
## Current Behavior

The directory containing all originally downloaded information does not get deleted. This is because it holds a bin file that won't delete. Upon restarting the computer, both the directory and bin file were deleted.
## Expected Behavior

When uninstalled, all items associ

[2020-01-21 22:35] #52 closed, assigned to jmarrec

[2020-01-21 22:35] #58 closed, assigned to jmarrec

[2020-02-18 16:27] eomere opened #77 "Purge Button within Shading sub-tab of Facility tab won't execute"
Issue overview
--------------
The purge button within the Shading sub-tab of the Facility tab won't execute. This issue cuts across all Operating Systems (Windows, Mac, Ubuntu).

## Current Behavior
None of the created shading surface groups are removed.

## Expected Behavior
This button should remove any shading surface groups that are not used within the model.

## Steps to Reproduce
1. Launch t

[2020-02-18 17:27] eomere opened #78 "Copy button within Refrigeration grid view won't execute"
Issue overview
--------------
The copy button within the refrigeration grid view won't execute. This issue cuts across all Operating Systems (Windows, Mac, Ubuntu).

## Current Behavior
Neither the Refrigeration Cases nor Refrigeration Walkins within the model get multiplied.

## Expected Behavior
Clicking the copy button should create a copy of any object that it is called on.

## Steps to Reprod

[2020-02-18 17:58] eomere opened #79 "Refrigeration Grid should be declared unavailable for Service Hot Water Systems"
Enhancement Request
--------------
Clicking the Grid button within the HVAC Systems tab should reveal a message showing that this view is unavailable when the dropdown menu selection is "Service Hot Water". The [OpenStudio User Documentation](http://127.0.0.1:8000/tutorials/creating_your_model/#service-water-heating) reveals that this button is only available for Refrigeration Systems.

## Detaile

[2020-02-18 18:42] eomere opened #80 "GUI Panel doesn't update upon navigation from Water Use Connection Layout to Refrigeration/VRF Layout"
Issue overview
--------------
This bug was found within the HVAC Systems tab. After modeling Water Use Connections, a user may choose to interact with Refrigeration/VRF Systems. This user would employ the dropdown menu that allows him/her navigate from "Service Hot Water" to "Refrigeration" or "VRF". After switching to the desired interface, the panel that displays "Water Use Connection" does not

[2020-03-04 21:10] eomere opened #81 "Error Message - "Could not import SDD file.""
Issue overview
--------------

The Import SDD feature fails.

## Steps to Reproduce
1. Create an SDD file. To do this, I exported an SDD from an OSM using the OS SketchUp Plugin.
2. Launch the OS App. Follow the menu options: "**File/Import/SDD**".

[2020-03-16 14:22] jmarrec commented on #77
I think the real question is what would you expect to happen? If you have shading in your model, it is supposed to be used by definition. This isn't like constructions which should be referenced by something else to be actually used.

Making the button inactive is an option is you agree with the above.

[2020-03-16 14:23] jmarrec commented on #77
Actually, let me look into it a bit more. I think we could at least purge the Shading Surface Groups if they have zero surfaces in there?

[2020-03-16 15:01] jmarrec commented on #77
Actually it does execute just fine.

![image](https://user-images.githubusercontent.com/5479063/76771237-54e55c80-679f-11ea-9026-9db4d4975326.png)

Click on purge:

![image](https://user-images.githubusercontent.com/5479063/76771258-5f9ff180-679f-11ea-8842-1af8975f99c5.png)

https://github.com/NREL/OpenStudioApplication/blob/38dd2b437fa7da76ef44528bf7a4c256b39ae33b/src/openstudio_lib/FacilityShadi

[2020-03-16 15:10] jmarrec commented on #77
I think it would make more sense to delete shading surface groups which have no surfaces instead. One could select all and click the delete button to remove everything anyways.

[2020-03-16 15:44] jmarrec opened #83 "Facility > Shading subtab: filter by type defaults to "Site" when really filter isn't applied."
Issue overview
--------------

Reported by  @DavidGoldwasser. The filter should have an extra option called "All" and be selected by default.

![image](https://user-images.githubusercontent.com/5479063/76775296-72b5c000-67a5-11ea-94b7-2e6fef9ac77f.png)

[2020-03-16 20:44] jmarrec commented on #66
@eomere closing until someone provides enough info to reproduce.

[2020-03-16 20:44] #10 closed

[2020-03-17 20:07] DavidGoldwasser opened #85 "Bool button doesn't display on Apply Measure Now measure argument"
Issue overview
--------------
Bool arguments display as checked whether that argument default value is true of false. There is no way to change the visible state to false. I had not confirmed if this is a display issue or function issue yet.

## Current Behavior
In prior version of OpenStudio Application this functioned. Bool could be changed by clicking and it read in the default value from the m

[2020-03-17 20:08] DavidGoldwasser commented on #85
CC: @tijcolem

[2020-03-18 12:52] jmarrec commented on #81
Could you share the SDD file so I get a chance to reproduce?

Also, the SDD import itself lives on NREL/OpenStudio so eventually the fix (and issue) would be there.

[2020-03-18 21:21] eomere commented on #66
I'm not sure that I understand how you have addressed this bug. Did you enter the Key to see if the App can read it? That is not the issue.

Within the Windows version, I have only ever entered my BCL Key once. This info is stored. However, within the Mac and Linux versions, I have to enter my BCL Key everytime I launch the App.

In order to reproduce this issue, you have to close the (Mac or Linu

[2020-03-18 21:39] eomere commented on #81
Here is a sample [SDD Model](https://www.dropbox.com/s/ke2gpweqdbj71wm/SDD_SampleModel.xml?dl=0).

[2020-03-20 15:30] tijcolem opened #87 "Build OpenStudioApp Using SDK Shared lib"
Build OpenStudioApp Using SDK Shared lib
See #75

[2020-03-23 13:03] jmarrec commented on #66
Apparently my message above was confusing due to the use of SQL statements probably.

Here's what I just did, again:

1. Move BCL directory (so OSApp cannot find it)
2. Open OpenStudioApp, go to "Find Measures"
3. Prompts to add BCL Key, do that
4. Download any measure
5. Close OS APP
6. Reopen OS App
7. Go to "Find Measures"
8. <NO PROMPT FOR AUTH KEY>
9. Download another measure, to see if that

[2020-03-23 13:24] jmarrec commented on #66
https://github.com/NREL/OpenStudio/blob/d05bc3a9ba090cf986cde56b7616b7dc445ac2f1/src/utilities/bcl/LocalBCL.cpp#L1506-L1528

I don't see a problem there at first glance.

If the RemoteBCL validates the key (the key passed is valid), then you do a transaction, and either rollback or commit it.

[2020-03-23 13:36] jmarrec commented on #85
@DavidGoldwasser Does it work on the "Measures" Tab?

[2020-03-23 14:33] DavidGoldwasser commented on #85
@jmarrec no, I see the same behavior there.

[2020-03-23 14:33] jmarrec commented on #85
It works on both Apply Now and Measures Tab with my loal build on Ubuntu... What OS are you using? which installer?

[2020-03-23 14:35] jmarrec commented on #85
![85_BoolArgument](https://user-images.githubusercontent.com/5479063/77327731-eb73c980-6d1b-11ea-8130-297494d64ae8.gif)

[2020-03-23 15:38] jmarrec commented on #81
Ok I see. It's confusing... @eomere you're hitting this: https://github.com/jmarrec/OpenStudio/blob/2700a16d28ce7f8bf10cbdf16bfd1b1ac4263b31/src/sdd/ReverseTranslator.cpp#L247-L255

I think This file is supposed to be run by CBECC-Com first, and then you can reload in OSApp the result after simulation.

[2020-03-23 15:45] jmarrec commented on #81
Ideally the reporting back to user in OS App would be informative and include the logger message:

![image](https://user-images.githubusercontent.com/5479063/77334909-b4a2b100-6d25-11ea-8746-5a647db2c0b2.png)
Whereas in the CLI I see something useful:

[code]

[2020-03-23 15:53] eomere commented on #66
Hmmm, interesting. Yes, I see now that you cannot reproduce this issue. Thanks for clarifying Julien.

[2020-03-23 15:57] eomere commented on #81
So you're saying this feature isn't actually supported yet? Does this mean that the feature could be dropped from the App?

[2020-03-23 16:23] jmarrec commented on #81
That's not what I'm saying no.

There are two types of SDD XML files: Input, and Simulation files.

Import SDD file works for the Simulation files, not the input ones.

I never used the feature myself but as I understand it:

Sketchup > Export to SDD > Import SDD into CBECC-Com > Run CBECC > Take **simulation** XML file > Import SDD **simulation** Xml in OS App to have an OSM.

[2020-03-23 16:28] jmarrec commented on #81
![image](https://user-images.githubusercontent.com/5479063/77339136-a5266680-6d2b-11ea-8a63-38c3658d40b0.png)

[2020-03-23 16:31] jmarrec commented on #81
@eomere Give the above, would the fix in #88 suffice to close this one?

[2020-03-23 16:33] jmarrec commented on #66
If you find a -journal file or something please let me know. I'll keep this one open for now, as if it can be reproduced on other machines it'd be severe bug

[2020-03-23 16:41] eomere commented on #66
What is a "-journal file"?

[2020-03-23 16:43] eomere commented on #81
Yes, thanks for this. Updating the SDD error message so that a User can better understand how the feature works will help.

[2020-03-23 17:28] jmarrec commented on #66
`BCL/components.sql-journal` or similar

[2020-03-23 17:55] DavidGoldwasser commented on #85
@jmarrec I confirmed this still happens with latest version of OS App using 3.x for mac that I got from @tijcolem

<img width="416" alt="Screen Shot 2020-03-23 at 11 54 10 AM" src="https://user-images.githubusercontent.com/4857055/77347253-2dd9de00-6cfd-11ea-94ae-731312802cc8.png">

[2020-03-23 18:22] DavidGoldwasser commented on #29
@tijcolem I saw this with new installer today on fresh. I've quit about 10 times and this has happened twice. If I can show how to reproduce it Ill re-open this or file a new issue.

Just to confirm since my fresh relaunch I have not launched 2.x OpenStudio or any version of PAT. When crash happens `openstudio` process is orphaned, which I then use activity monitor to mangae.

[2020-03-23 20:46] eomere commented on #66
Here is a [journal](https://www.dropbox.com/s/aso20wmfdzl9mo4/components.sql?dl=0) that I just pulled from Ubuntu. Will it suffice?

[2020-03-25 08:32] jmarrec commented on #66
That's your actual `components.sql` database I think. Was there a `components.sql-journal` next to it?

[2020-03-25 08:41] jmarrec commented on #66
The `components.sql` file you shared does have the BCL `prodAuthKey` stored...

[code]

The key appears to be 32 char long like it should, and I can use it in RemoteBCL::setProdAuthKey which returns true.

[2020-03-25 15:01] eomere commented on #66
I just tried recreating this bug in Ubuntu, but couldn't. I didn't need to re-enter my BCL Key.

However, I downloaded a few measures. Upon closing the App, re-launching it, and accessing the Apply Measures dialog, I noticed that all downloaded Measures were not stored. I had to re-download all measures. This is not the case within Windows. Are you able to replicate this?

Here is a copy of the [j

[2020-03-25 19:21] DavidGoldwasser commented on #62
This has been tested in the past, but I can leave open until I go through process with RC installers

[2020-03-25 22:25] #87 closed

[2020-03-30 09:04] jmarrec commented on #66
@eomere Ok so you do have a DB-journal file... That's not good, I'm bumping this to a blocker bug.

Typically we do this:
* BEGIN TRANSACTION
* <do stuff>
* Then:
    * If worked: COMMIT transaction, which actually writes to the `components.sql` file and delete the DB-journal (`components.sql-journal` file)
    * If not, ROLLBACK transaction.

The fact that the measures aren't "registered" (closin

[2020-03-30 14:21] jmarrec commented on #66
I have reproduced this issue on my Ubuntu 18.04 machine and addresed on OpenStudio's side: NREL/OpenStudio#3934

[2020-03-30 14:23] eomere commented on #66
Sounds good. Were you able to reproduce it on your Mac?

[2020-03-31 00:57] #66 closed

[2020-04-03 15:10] tijcolem opened #91 "OpenStudio v1.0.0 Application Release Checklist"
- [x] Create Debian, Darwin, and Windows untested build zips and upload to S3, Tim
- [X] Run simple model on all 3 platforms
- [x] Test and Release OpenStudio Measures, David, Eric
- [x] Run BEST tests with new installer, David?
- [x] Run Standards Tests with new installer, Matt?
- [x] Run hpxml tests with new installer, Scott?
- [x] Create Release Notes. API changes (if needed), Tim
- [x] Github

[2020-04-03 15:47] tijcolem commented on #18
Unused build options for the App have been removed.

[2020-04-03 15:47] #18 closed

[2020-04-03 15:50] #65 closed

[2020-04-06 09:27] jmarrec opened #92 "Application style is old fashioned on Windows: regression to "XP" style."
Issue overview
--------------

The "style" / look and feel of the GUI App on Windows has regressed.

## Current Behavior

This is what the rc1 installer does on Windows right now
![image (2)](https://user-images.githubusercontent.com/5479063/78543451-f7ba5500-77f8-11ea-9fa1-4e48565cac7a.png)

## Expected Behavior

This is what 2.9.1 looked like on Windows:

![image](https://user-images.githubuserc

[2020-04-06 23:24] #92 closed

[2020-04-07 10:37] jmarrec opened #95 "Geometry Editor not working on Ubuntu"
Issue overview
--------------

[code]

**Note**: `cd /usr/local/openstudioapplication-1.0.0-rc1/bin/ && ./OpenStudioApp` does the same.

## Current Behavior

Doesn't work

## Expected Behavior

Should work

## Steps to Reproduce

1. Load the OSApp
2. Go to the "Geometry Editor" tab

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platfor

[2020-04-07 10:45] jmarrec opened #96 "On Results Tab, "Set Path to DView in Preferences" isn't "registered" until you switch tabs"
Issue overview
--------------

If you haven't set the path to DView in Preferences, it displays a button on the Results tab to set it.
But you have to change to another tab and back to the Results tab so that it's processed correctly and the button changes to "Open in DView". This isn't a huge deal since a user will generally have to do this only once.

## Steps to Reproduce

1. Go to Preferences

[2020-04-07 10:47] jmarrec commented on #96
This was done in https://github.com/NREL/OpenStudioApplication/pull/33/files#diff-acf859aed04b90ae7e4ceef885950f48, and it will definitely not work on mac, period, in its current form either

[2020-04-07 10:54] jmarrec opened #97 "Properly register 'OS:Construction:AirBoundary' in OSApp"
Issue overview
--------------

Logging shows: `[getObjectMaterialName] <1> Unknown iddObjectType 'OS:Construction:AirBoundary'`

This indicates that it isn't registered somewhere, and it's missing an icon too.

![image](https://user-images.githubusercontent.com/5479063/78661220-a5e3fe80-78ce-11ea-87f5-f70de42365b1.png)

## Steps to Reproduce

Missing Icon:

1. Load Model, put a few Construction:Ai

[2020-04-07 11:50] jmarrec commented on #95
Ok, I found it: We are no longer shipping the plugins for Xcbgl. Locally I can make the geoemtry editor working

[code]

[2020-04-07 14:13] #67 closed

[2020-04-07 14:13] #77 closed

[2020-04-07 14:13] #83 closed

[2020-04-07 14:13] #80 closed

[2020-04-07 14:13] #81 closed

[2020-04-07 14:13] #79 closed

[2020-04-07 15:19] jmarrec commented on #85
@DavidGoldwasser Have you tried the openstudioapplication-1.0.0-rc1 installer?

[2020-04-14 20:21] DavidGoldwasser commented on #85
@jmarrec yes, it still had this issue

[2020-04-16 15:13] #97 closed

[2020-04-20 13:45] ljbrackney opened #101 "Drag and Drop bug in Constructions Tab"
Issue overview
--------------
Dragging and dropping a material onto the layer section of the constructions tab APPEARS to do nothing.  The user might try a second time, and would be pleased to see that it did work that time.  Unbeknownst to them, the first drag and drop action actually worked, and they now have doubled the material in their construction.  They would only know this during subsequen

[2020-04-27 11:29] MatthewSteen opened #104 "selecting all objects in a filtered view of Spaces subtabs unhides all objects"
Issue overview
--------------

## Current Behavior
In 2.9.0, when the user selects `All` objects in a filtered view in the following subtabs, the app unhides all the filtered/hidden objects and selects all of them. This makes it difficult to use the `Apply to Selected` feature and is different behavior than the main `Properties` subtab.

**Subtabs Affected**
* Loads
* Surfaces
* Subsurfaces
* Inte

[2020-04-27 11:30] jmarrec commented on #104
Confirmed issue still exists in current develop. (1.0.0)

[2020-05-01 15:19] tijcolem commented on #91
OpenStudio Application v1.0.0 released. closing

[2020-05-01 15:19] #91 closed

[2020-05-01 15:38] tijcolem commented on #32
This now has GitHub pages activated for OpenStudioApplication user docs.
https://nrel.github.io/OpenStudioApplication/
A couple of notes on this.

1. branch `gh-pages-markdown` contain the markdown content.
2. branch `gh-pages` contain the converted html via mkdocs (v0.11.1).

To enable the automatic markdown build by GitHub,  the markdown contents need to be compatible with GitHub Jekyll markdown

[2020-05-01 15:38] #32 closed

[2020-05-07 09:56] aaron-boranian opened #105 "Allow removal of Design Day Profile schedules"
This should be allowed by the GUI for usability and consistency with the Run Period Profiles.

Migrated from [UserVoice](http://openstudio.uservoice.com/forums/308629/suggestions/11305644)

[2020-05-11 13:02] jmarrec commented on #102
Just a matter of removing this line: https://github.com/NREL/OpenStudioApplication/blob/61db320fb2e2eda8408e0158ae034f01f5b13c23/src/openstudio_lib/library/OpenStudioPolicy.xml#L1251

And making sure that the name updates correctly.

[2020-05-11 13:12] jmarrec opened #106 "OpenStudioPolicy.xml isn't enforced in openstudioapplication-1.0.0"
Issue overview
--------------

Found while toying with #102. It seems that the OpenStudioPolicy.xml isn't enforced, I can edit ALL fields of an OS_DefaultConstructionSet on the Space Types tab for example, while I could edit none in 2.9.1

## Current Behavior

**In openstudioapplication-1.0.0**

![image](https://user-images.githubusercontent.com/5479063/81565406-90fcfe00-9399-11ea-908a-f3b29d864d5

[2020-05-11 13:13] jmarrec commented on #102
Had to open #106 while testing this, I found out that currently you can edit ALL fields in openstudioapplication-1.0.0.

[2020-05-11 13:17] jmarrec commented on #106
OpenStudioPolicy.xml isn't parsed correctly:

https://github.com/NREL/OpenStudioApplication/blob/61db320fb2e2eda8408e0158ae034f01f5b13c23/src/model_editor/AccessPolicyStore.cpp#L350

[2020-05-11 13:26] jmarrec commented on #106
Got it, it's because `OS_AirTerminal_SingleDuct_Uncontrolled` was actually removed from the IDD.

[code]

[2020-05-11 13:38] eringold commented on #106
That current behavior (in 1.0.0) seems a lot more user-friendly than the expected (2.9.1) behavior. Any chance of keeping it?

[2020-05-11 15:32] chrisbalbach opened #108 "OS App v1.0.0 "Measures" tab does not properly render Reporting Measure Arguments"
Issue overview
--------------
OS App v1.0.0 "Measures" tab does not render Reporting Measure Arguments

## Current Behavior
While a Reporting measure can be added to a .osm model using the "Measures" tab, NONE of the  measure arguments are rendered in the OS App UI.

This means OS Reporting measures, if executed as part of a simulation, will only successfully execute if  all 'required' arguments h

[2020-05-13 16:06] snlavu opened #109 "Air to Water Heat Pump has draft level strictness of 23F on Min Inlet Air Temp Compressor Operation."
Issue overview
--------------

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): Windows.
 - Version of OpenStudioApplication (if using an intermediate build, include SHA):V2.8, 3.0

### Context

[2020-05-13 17:42] MatthewSteen commented on #104
Also happens when selecting _one_ object in a filtered view.

[2020-05-13 19:51] DavidGoldwasser opened #111 "HVAC tab toolbar review"
The "toolbar" at the top of the HVAC tab has some obnoxious and downright confusion behavior as you switch between VRF, Refrigeration, Service Hot Water, and HVAC systems.  Review and fix as appropriate.

[2020-05-13 19:52] evanweaver opened #113 "LibraryListController::createItems is getting called a lot more often than it should be"

[2020-05-13 19:53] evanweaver opened #114 "Implement inheritance across all gridviews"
1.9.0 Space tab: do not see inherited properties NREL/OpenStudio#1893
https://github.com/NREL/OpenStudio/issues/1893

Inherited Default Construction and Schedule Sets Not Displayed in Facility Tab NREL/OpenStudio#1460
https://github.com/NREL/OpenStudio/issues/1460

[2020-05-13 19:54] macumber opened #117 "Drag and drop response time too slow"
https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/15300522-improve-drag-and-drop-response-time-in-openstudio

When dragging and dropping model or library elements into an OpenStudio section (e.g. dropping a thermal zone into an air loop), the app takes several seconds to register before it allows further input. It makes the App annoying to use at times. Faster response (<0.25s)

[2020-05-13 19:55] DavidGoldwasser opened #118 "Geometry Editor very slow for non drawing tasks on mac"
Tested with 2.6.0. QTWebEngineProcess gets pegged at 100%

- going to story detail to change floor to floor height is really slow (15 seconds on simple two story model before I could access fields)
- space detail is slower, was at least 2 minutes
- assignments and components seem hardly functional. Very slow, and since there isn't a loading icon to tell me to wait. Since I had not used it before i

[2020-05-13 19:56] eringold opened #119 "'Multiplier' field not aligned with loads in Space loads grid view"
Found in 2.6.0, Windows
Multiplier field not aligned horizontally with Load Name/Definition in Space tab > Loads subtab:

![image](https://user-images.githubusercontent.com/10799524/45560780-4e210680-b803-11e8-900c-2cd88184bb0a.png)

Note: it is aligned correctly in the Space Type tab.

Also in Ubuntu per @jmarrec

[2020-05-13 19:56] macumber opened #120 "Can't access model companion directory from Runner/WorkflowJSON in Apply Measure Now"
Apply measure now uses a temp model and sandbox to protect the working model.  However, we need a way to access files in the model's companion directory.  Use cases are:

- Write an html report to the reports directory
- Write a csv file to the model's data dir
- Read a file from the model's data dir

We need to make sure to revert all changes if the user cancels.  Suggest that we initialize a tem

[2020-05-13 19:57] DavidGoldwasser opened #121 "DropZone2 (used in grid view) doesn't enforce correct object type"
Currently it accepts any kind of surface or sub-surface.

[2020-05-13 19:58] DavidGoldwasser opened #122 "OpenStudio Application Results tab becomes less responsive when user goes back and forth multiple times between reports"
I hit this in 2.2.0 (but went back and confirmed same behavior with 2.1.2) on mac OS 10.11.6. At first it looks like it is very quick, but then when you try to scroll a beach ball comes up. At first may refresh in 0.5 seconds, but didn't take too many cycles to get to 5 to 20 seconds for beach ball to go away. Then for some reason one time might be really quick again, then gets slower. Maybe rende

[2020-05-13 20:09] aaron-boranian opened #124 "Replace entire library with openstudio measures"
Problem: Right now the libraries such as the HVAC one are .osm files. It would be great to have the library being openstudio measures instead.

Rationale: This would allow much greater flexibility, including adding your own components (right now the “safe way” to modify the hvac_library.osm is to do it through a measure anyways…), and would allow for a large base of easily reusable code (or snippe

[2020-05-13 20:10] aaron-boranian opened #125 "Better support for Compact Schedules"
Currently Compact Schedules are imported from IDF into OSM. The schedules can be used but they are not editable. At some point OpenStudio should convert all of these schedules to ScheduleRuleset so they can be edited.

Migrated from [UserVoice](http://openstudio.uservoice.com/forums/308629/suggestions/11126322)

[2020-05-13 20:13] MatthewSteen opened #127 "Schedules sub tab UI"
The left pane of Schedules > Schedules tab should be re-sizable like most of the other panes in the app. For example, in one of my 2.5.0 models the Run Period Profiles `+` is barely visible on a 720p screen.

![image](https://user-images.githubusercontent.com/8397034/39777374-a5173002-52c0-11e8-9743-ed8604c52a56.png)

[2020-05-13 20:13] macumber opened #128 "Allow multiple drag/drop"
Would be nice to select multiple space types, construction sets, schedules, etc and drag/drop these into the model all at once

[2020-05-13 20:14] eringold opened #129 "Dropping a load definition on a grid view-filtered space will undo the filter"
Found in 2.7.0

In the Spaces tab, Loads subtab, if you filter the list (by Story, Thermal Zone, or Space Type) and drag and drop a load definition to a remaining space's definition drop zone, all of the spaces will appear - the filter will be deactivated, although the dropdown menu will still show the previously-selected filter.

Note, filtering by 'Load Type' will not exhibit that behavior, but

[2020-05-13 20:16] axelstudios opened #130 "When you change an object tagged as "BCL" it doesn't loose the tag when you alter it (Bugzilla #724)"
On 2012-06-07 13:14:35, @DavidGoldwasser wrote:

On 2012-09-13 16:00:45, @DavidGoldwasser wrote:

[2020-05-13 20:18] macumber opened #132 "Can't set wrap around year in app"
Tried to make a run period from 3/1/2012-2/28/13 and could not do it

[2020-05-13 20:19] kbenne opened #133 "Add support for per refrigeration door ref. properties in GUI"
Backend support has been added, but we need to add columns in the case table view for per door properties.

[2020-05-13 20:21] macumber opened #134 "Show source for all inherited values"
Needs mockups

[2020-05-13 20:21] evanweaver opened #135 "Extend GridView focus event to true selection pattern"
From Andrew's testing:

Selection:
1.  When you scroll up or down in the grid view, you lose the yellow selected cell.  This makes it impossible to click "Apply to Selected" from a row you have to scroll down to get to.
2.  When you click an object in the grid, the cell turns yellow and that object opens in the inspector.  Then when you then click inside the inspector to edit that object, you lose

[2020-05-13 20:23] DavidGoldwasser opened #136 "Apply to Selected - issue on larger models (scrolling loses selected object)"
I talked with @evanweaver about this. We know this will just be known issue for now, it is a complicated fix, the preferred solution maybe keeping the header row always visible so scrolling isn't necessary. We should note this in release notes so people know how to get around it.

Issue: If select an object (hilighted in yellow as copy object for "Apply to Selected" and then use the scroll bar to

[2020-05-13 20:23] eringold opened #137 "Space Tab Grid View column width change after 100 spaces"
Possibly related to https://github.com/NREL/OpenStudio/issues/1587

In OpenStudio v1.8.4 (Windows 64-bit) the Space tab grid view exhibits a strange column size shift after 100 spaces:
![1 8 4_spacegrid](https://cloud.githubusercontent.com/assets/10799524/9556243/994585cc-4d90-11e5-84fa-9bf2e6099fae.png)

This occurs (to varying degree) on all sub-tabs:
![1 8 4_spacegridloads](https://cloud.github

[2020-05-13 20:24] eringold opened #138 "SetpointManager:Scheduled allows control variable/schedule type mismatch, causing ModelToIdf failure"
Possibly related to https://github.com/NREL/OpenStudio/issues/1749, https://github.com/NREL/OpenStudio/issues/1747

Setting a SetpointManager:Scheduled control variable to 'HumidityRatio' (or 'MassFlowRate', or any controlVariable other than temperature) and leaving the default Schedule Name (referencing a schedule of type: Temperature) is allowed and the model will save. Attempting to run this mo

[2020-05-13 20:24] macumber opened #139 "Grid view column headers should stay fixed when scrolling"
When scrolling grid view if headers do not stay fixed it is very difficult to tell what each column is

[2020-05-13 20:26] adhilton25 opened #140 "Unable to Scale Minimum OA"
Right now, the [forward translator](https://github.com/NREL/OpenStudio/blob/2e71acadf03eb258ca9297679d3b21d96163686b/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslateControllerMechanicalVentilation.cpp#L100) gets the `Minimum Outside Air Schedule` from `OS:Controller:OutdoorAir`. When the `Controller:OutdoorAir` is setting the outside air flow rate the [`Minimum Outside Air Schedule

[2020-05-13 20:26] DavidGoldwasser opened #141 "Non standard ASHRAE climate zone strings are saved in OSM but not displayed in model"
The Prototype Models save the climate zone as 7A and 8A. The climate zone is saved in the OSM, but not displayed in the GUI.

Showing non-standard strings could be an option, but maybe not a good idea. Could also either update standards to drop the A from 7 and 8 (maybe a can of worms) or in OpenStudio we could update 7 and 8 to 7A and 8A. If we do this some measure like AEDG would need to be upda

[2020-05-13 20:30] macumber opened #143 "Start OpenStudio button does not work in sketchup if osm is on network drive"
Would work when file was on mapped drive, did not work when saved to //nrel.gov/shared/5500/5500 HPBldg/DansFiles/Untitled.osm

[2020-05-13 20:33] DavidGoldwasser opened #144 "Schedule Rule colors when more than 12 rules"
When you have more than 12 rules in a schedule rules "Priority 13" and higher take on the color of the default profile. Ok, so this is a corner case, but maybe we can loop through the same colors we just used for first 12 rules. If not, then I'd prefer to stop one color earlier, so at least I could see if a day used the default profile or not. I hit this in the past, but couldn't find issue for it

[2020-05-13 20:35] mdahlhausen opened #146 "App doesn't re-load schedule fixed intervals after apply measure now"
1. Open empty OpenStudio v2.8 model in the OSApp
2. Use the [Add Interval Schedule From File](https://bcl.nrel.gov/node/84422) measure with Apply Measure Now to add a ScheduleFixedInterval object the the model.  Save the model.

The Schedule:FixedInterval appears in the .osm in a text editor, but is not listed under Schedule Fixed Intervals in the app.  Saving, closing, and then re-opening the mod

[2020-05-13 20:35] macumber opened #147 "OpenStudio geometry tab renders EnergyPlus example file surfaces as white"
https://unmethours.com/question/38115/openstudio-geometry-tab-renders-energyplus-example-file-surfaces-as-white/?comment=38593#post-id-38593

[2020-05-13 20:36] macumber opened #148 "Curve editing in OpenStudio"
https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/9313437-curve-editing-in-openstudio

Problem: There's no easy or user friendly way to edit or add new curves

Rationale: It would be nice to be able to edit the curve coefficients/add new curves for say a chiller directly in OpenStudio. I've found that creating them manually in notepad++ is unstable at best and not user friendly

[2020-05-13 20:37] macumber opened #150 "Graphical representation of node/equipment variables on a schematic of the plant loop"
https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/10771254-graphical-representation-of-node-equipment-variabl

Problem:
---------
Checking the behavior of a plant or air loop is currently limited to plotting graphs of the chosen Node variables (temperature, flow rate, setpoints, etc). This mode of representation, while useful, makes it hard to analyze considering you have to me

[2020-05-13 20:38] macumber opened #151 "Add rendering color control to constructions in OS App"

[2020-05-13 20:39] erikkolderup opened #152 "Mislabelled units for PTAC fan power"
In the Edit section for PTAC zone equipment, the units for "Rated Evaporator Fan Power Per Volume Flow Rate" is labeled as "Pa". It should not be pressure, looks like it should be something like W/m^3/s, but should be verified.
-Erik Kolderup

[2020-05-13 20:40] jmarrec commented on #152
This is going to be harder than it looks to fix for little gain IMHO.

[2020-05-13 20:42] macumber opened #154 "Allow rearranging HVAC equipment in Thermal Zones tab"
https://openstudio.uservoice.com/forums/308629-openstudio/suggestions/9099592-allow-rearranging-material-layers-in-construction

Problem: Currently there's not a quick way to rearrange ZoneHVAC equipment in the Thermal Zones tab without a measure. In order to switch the order of equipment the user must delete ZoneHVAC objects losing any user-specified inputs.

Rationale: Heating and cooling priori

[2020-05-13 20:43] aaron-boranian opened #155 "Speed up loading of model data for large models"
The application runtime, especially when opening the surfaces or subsurfaces tab, as well as the Sketchup plugin is really slow. Working with bigger models is currently impossible. A general speedup of the user interface would be a really great improvement.

Migrated from [UserVoice](http://openstudio.uservoice.com/forums/308629/suggestions/20626561)

[2020-05-13 20:44] aaron-boranian opened #156 "Enable 'Hours of Operation' schedule in schedule set to modify other schedules"
According to @macumber , the ‘Hours of Operation’ schedule in a schedule set was originally intended to act as a master schedule to modify the others in the set, but was never hooked up to operate that way. For buildings or spaces with irregular annual operation, it would be incredibly useful to define the operation in one place, rather than as multiple priority schedules for each applicable sched

[2020-05-13 20:45] macumber opened #157 "Enable standard controls in reporting measure views"
Ctrl-f for find, Ctrl-c, Ctrl-v

Requested at https://unmethours.com/question/4422/determining-the-heating-and-cooling-loads-for-each-zone/?comment=4442#comment-4442

[2020-05-13 20:47] kbenne opened #158 "Expose VRF Condenser node"
Allow selection of VRF Condenser node, by choosing from available zone nodes / zones.

[2020-05-13 20:49] aaron-boranian opened #159 "Shrink the size of the icons & white space in the GUI"
Problem: Icons etc. are enormous especially in the loops. This is fine for tiny projects, but when you have large projects they just make it difficult to navigate. A tiny icon gets the job done. I doubt there are many illiterate users. Similarly the format of the edit screen makes it cumbersome to look at the fields because they are distributed across so many screens.

Solution: Make the icons tin

[2020-05-13 20:50] aaron-boranian opened #160 "Add contextual help for fields in OS App"
Problem: Currently there is no direct way to get a description of an input field. You have to pull up the E+ Input/Output guide (you have to download it from energyplus.net since as of 8.3 it doesn’t ship with E+ anymore or look online)

Rationale: Adding contextual help would greatly help in having a streamlined workflow, staying in the OS App as much as possible.

Solution: Add contextual help d

[2020-05-13 20:53] aaron-boranian opened #161 "Allow comments for qualitative narrative related to model"
It would be amazing if OpenStudio had a place to enter a running narrative about a given model.

Often, models go through multiple iterations, several hands, and years of lapsed time through the life of a project. To have a field for qualitative data input would be so great as it would create a place for institutional memory that carries with the model.

Migrated from [UserVoice](http://openstudio

[2020-05-13 20:54] #163 closed

[2020-05-13 20:55] macumber opened #164 "Add SpacesDaylightingGridView"
No way to access daylighting objects in app

[2020-05-13 20:56] pflaumingo opened #165 "Downloading measures in the GUI causes the app to freeze"
Using Openstudio 2.3.0 with Build Number: cf58ee1e38 on a Macbook Pro 2017 running macOS Sierra 10.12.6

Can be recreated by opening the OS app, navigating to Components & Measures > Find Measures, selecting a measure and pressing download. The BCL pop up remains working and more measures can be downloaded, however after closing the BCL pop up all OpenStudio buttons become inactive.

Going to Appl

[2020-05-13 20:57] evanweaver opened #167 "Modify Space Types Loads Definition behavior per new design doc."
https://docs.google.com/document/d/1QmcpED4BGvdzA2TD_yszF2XbxV8DuMypOf7ISrfgOTQ/

[2020-05-13 20:58] MatthewSteen opened #168 "Unhandled Exception after stopping sim"
I've been experiencing this in 2.7.0 and 2.8.0. on Windows 10. Steps to reproduce...

1. Run model
2. Stop run before complete
3. Run model again.

![image](https://user-images.githubusercontent.com/8397034/58288128-f6627400-7d6f-11e9-80fe-fa88f9ed4802.png)

Choosing `Relaunch` doesn't work either.

[2020-05-13 21:00] DavidGoldwasser opened #169 "Apply Measure Now, very slow in some situations (large model and or large directory)"
I loaded the "DEER_2017.osm" that ships with OpenStudio 2.4.3 into OS app and then went to Apply Measures Now. My measure directory is "nrel_published" from develop branch of measure repo.

The dialog came up in about 10 seconds and listed all of the measure, but when I select a measure (even if it is a measure without any arguments) it took 130 seconds before I could click run. My guess is this i

[2020-05-13 21:01] DavidGoldwasser opened #170 "Space Infiltration Design Flow Rate instances from Space Type don't show up on Spaces/AIrFlow sub-tab"
Given a model with ventilation and infiltration assigned at the space type level.

On the Space Types Tab
- Under "General" view you can see both types of loads.
- Infiltration can be seen and edited, and deleted from the "Loads" view, but you can't add new ones from this view.

On the Space type
- Under "Properties/Airflow" you can see inherited ventilation but not inherited infiltration
- Under

[2020-05-13 21:01] eringold opened #171 "Edit pane resizes when new subtab is selected; in measure tab it resizes when new project measure is selected"
OS App 1.11, tested in Windows 7 and 10 x64.

Ideally the edit pane size should stay static where the user sets it within each tab. Resizing the pane when cycling through project measures or subtabs is bad for workflow.

[2020-05-13 21:03] macumber opened #172 "Run Reporting Measures in Apply Measure Now"
If user has already run their model, allowing them to run reporting measures in apply measures now without having to re-run the model would be helpful.  This would be especially useful for the 3D viewer reporting measures.

[2020-05-13 21:03] macumber opened #173 "Allow load library to load an IDF"
Would translate to OSM and use as the library model

[2020-05-13 21:03] DavidGoldwasser opened #174 "Positive working feedback when loading measure arguments with BCL search"
In the OS app you see this when you go first select the measure. It doesn't show anything is happening while the search is going on. You still see "Select Measure to Apply" after choosing one, until search is done.

When adding measure to workflow, the delay occurs when you first take the measure and drop it on the dropzone. It doesn't look like it took. Then when it does show up the arguments are

[2020-05-13 21:10] DavidGoldwasser opened #176 "Inspector pick lists for schedules doesn't filter schedules by type"
You can see all schedule but it will only accept as a selection schedules of the correct type. It should only show you schedules that you can apply.

Filed by @jmarrec

[2020-05-14 20:02] tijcolem opened #177 "OpenStudioApp Windows crashed during save attempt"
A user reported that when using OpenStudioApplication v1.0.0 the application crashes when trying to save the osm. See video at 5:15: https://www.youtube.com/watch?v=swX0ewW325g&t=542s

This very well could be a legitimate permissions problem on Windows when boost is trying to create a directory, but this should be a handled exception vs crash the app.

This is using Windows: https://github.com/NRE

[2020-05-15 05:29] jmarrec commented on #177
Duplicate of #59 that has more info

[2020-05-19 23:10] eomere commented on #59
Hi Julien, I'm still hitting this bug. Since it was filed during testing, would NREL release a fixed version of the App?

[2020-05-19 23:26] DavidGoldwasser commented on #29
@tijcolem I thin I have a way to repeat this on mac without involving launches of 2.x app. There are three ways to quit the app. Command-Q, the pulldown menu item for "Quit OpenStudio" Under the "OpenStudioApplicaiton" menu item, and by "Exit" under the "File" menu. Note the two file menu options show Command-Q as shortcut.

Two of the three methods are fine, but if I use the "Command-Q" shortcut

[2020-06-01 01:36] MatthewSteen opened #178 "Find Measures doesn't show all BCL Measures"
Issue overview
--------------
With a fresh install of OSA 1.0 on Ubuntu 18.04 the user is not able to find or download all measures from the BCL. Appears to be limited to `Whole Building > Space Types`.

Workaround is to use the search feature.

## Current Behavior
Whole Building > Space Types does not show _any_ measures.

![Screenshot from 2020-05-31 19-33-36](https://user-images.githubuserconte

[2020-06-04 22:33] DavidGoldwasser commented on #108
Seems to be related to this code change here. (Thanks Phylroy!)
https://github.com/NREL/OpenStudio/commit/41388baeae414547260eb5d2fed53b69ce3c2bc7#diff-9940e92849a5870672e98bb83e0cb6fb

When I changed `def arguments` to `def arguments(model)` then the arguments showed up in the GUI. So one fix is to update all the reporting measures, external users would need to do the same (although there are not

[2020-06-04 22:55] macumber commented on #108
I did this for the ViewModel and ViewData measures, I suggest changing all the reporting measures to:

`def arguments(model = nil)`

That way you support 0-1 arguments

[2020-06-04 22:56] macumber commented on #108
https://github.com/macumber/openstudio-vA3C/blob/master/ViewData/measure.rb#L51

[2020-06-05 14:27] DavidGoldwasser commented on #108
Thanks @macumber that seems like nice approach.

[2020-06-05 17:46] DavidGoldwasser commented on #108
Note, while testing this I confirmed that bool arguments always show as true. There is an existing open issue for that. That issue isn't limited to reporting measures
https://github.com/NREL/OpenStudioApplication/issues/85

[2020-06-07 12:47] danielhatton opened #179 "CMakeLists.txt incorrectly assumes that any LSB release ID that's not 18.04 must be 16.04"
Issue overview
--------------
In the CMakeLists.txt file in the root directory of the OpenStudioApplication source tree, lines 399-406 are an if...else construct, which tests whether the host system's LSB release ID is 18.04, and if not, assumes the LSB release ID must be 16.04.  I think it's using LSB release ID as a proxy for Ubuntu version number.  The current LTS release of Ubuntu has LSB rele

[2020-06-09 08:22] jmarrec commented on #179
@danielhatton This is (strongly) related to the conversation on #11.

[2020-06-09 14:23] DavidGoldwasser commented on #178
I can confirm this on mac. But it only happens on certain categories or sub-categories. for example I can see content on Whole Building / Whole Building Schedules, but not Whole Building / Space Types or the parent "Whole Building". "Electric Lighting and its sub-categories appear to work. I also confirmed that the search still works fine with the 2.9.1 application.

@MatthewSteen what search term

[2020-06-09 14:26] MatthewSteen commented on #178
@DavidGoldwasser I think I used `prototype`.

[2020-06-09 16:33] danielhatton commented on #179
Thanks, @jmarrec.  You're right that #11 is relevant. The fundamental issue is that OpenStudioApplication needs Qt to be built with very specific compile-time options, right?  Are we quite sure that the enormous plethora of Qt packages in the Ubuntu repositories (or indeed in the repositories of other distros) doesn't include anything with the right compile-time options?

(I think there are analog

[2020-06-09 21:07] jmarrec commented on #179
Yes, that's the fundamental issue. The webengine/chromium stuff for one is a major thing we need which needs to be specifically enabled.
Mind that we are cross platform: ubuntu, mac, and windows. So relying on system deps/packages instead is a ton more complicated.

There are a few things we do download via cmake such a radiance and EnergyPlus. Yes, you might have your own installation, and that i

[2020-06-10 06:19] jmarrec commented on #120
I think the issue title might be a bit misleading. The companion dir can be accessed (or should be accessible) via WorkflowJSON I think. The path to the original model dir cannot however.

[2020-06-11 22:29] danielhatton commented on #179
Thanks, @jmarrec.  I guess you really know this already, but the 50MB occupied by the libraries is not the main problem with the current approach.  The three main problems are:
- a security problem: downloading binaries from unfamiliar websites is, AIUI, generally considered high-risk for malware infection (I think amazonaws counts as "unfamiliar", even though I'm aware that the site has some sort

[2020-06-12 15:34] lgentile commented on #179
The OpenStudio Application is distributed under a BSD3-style license, https://github.com/NREL/OpenStudioApplication/blob/develop/LICENSE.md

The Application makes use of a subset of dynamically linked Qt library modules, licensed under GPL 3.0 and LGPL 3.0. Let us know of any specific questions regarding compliance requirements a-e.

[2020-06-15 23:21] danielhatton commented on #179
Thanks, @lgentile.  The possible legal problem doesn't arise in the process of _using_ dynamically linked Qt library modules - that process is (under certain runtime conditions which I _hope_ are being met) exempted, by section 4 of the LGPL, from requirements a-e of section 6 of the GPL.

The problem arises instead in the process, initiated by the CMakeLists.txt build script of OpenStudioApplicat

[2020-06-16 09:58] jmarrec opened #180 "Upgrade to Qt 5.15 LTS"
Enhancement Request
--------------
Qt 5.11 is used currently, which isn't a LTS
Qt 5.12 is a LTS, and Qt 5.15 LTS was released in May, might be a good idea to upgrade to Qt 5.15 LTS directly.

https://www.qt.io/blog/qt-5.15-released

[2020-06-16 23:17] rwadhwa910 opened #181 "While Running the simulation on Openstudio 3.0.1 version I am getting this error- ERROR: Input file must have IDF, IMF, or epJSON extension."
@tijcolem

 I am not able to run successful simulation with Open studio version 3.0.1.  I have attached the run.log file along with stdout-energyplus.txt for your reference.

I get the same error when i run simulation on any open studio model on my pc.

We ran the workflow.osw file with command line successfully but when we tried to run the same file using open studio , the same issue encountered

[2020-06-22 21:27] antonszilasi opened #183 "Cannot open osms with a Version Identifier greater than 3 or pre-release identifier"
If the version identifier is greater than 3.0.0 or the osm contains a pre-release identifier I cannot open the osm.

For example:
![image](https://user-images.githubusercontent.com/8773483/85336971-d9c9cb80-b49c-11ea-9e38-45bfefb8f7e1.png)

has to be converted to

![image](https://user-images.githubusercontent.com/8773483/85337010-e6e6ba80-b49c-11ea-84a2-1681f5b7a9eb.png)

In order to open the mod

[2020-06-23 01:45] macumber commented on #183
Thanks @antonszilasi, as I understand it there was a design on how the OpenStudio Application was supposed to be able to update to other versions of the OS SDK.  @kbenne @tijcolem @jmarrec do you have any design docs on how that is supposed to work?

[2020-06-23 05:46] jmarrec commented on #183
There should  be No changes there really. The prerelease identifier isn't processed for version translation.

If you try to open a 3.0.1(rc1 or not) in openstudioapplication 1.0.0 which expects 3.0.0, SDK version translator isn't happy.
Just like opening a 2.9.1 OSM in 2.9.0 didn't work.

[2020-06-23 14:30] macumber commented on #183
Ok, Luigi said there was a plan to make that easier but I didn't know.  I could see the options being:

1. Rebuild and distribute App packages for each OS Core RC
2. Strip RC identifiers from the Version Translator (requires frozen IDD for all RCs which makes sense, IDD could change for pre-release)
3. Some sort of OS Core patch where you copy certain files (dlls, exes) from the OS Core install in

[2020-06-23 14:32] macumber commented on #183
Oh I see, looks like `OpenStudio v3.0.1-rc1` was released instead of `OpenStudio v3.0.0-rc1`

[2020-06-23 14:33] macumber commented on #183
So option 2 from above is already implemented.  Is option 3 desired?  Or is it just good old option 1?

[2020-06-23 14:35] kbenne commented on #183
Option 3, is where we want to go. I'm tasked to outline it. I think we are 90% there with introduction of openstudio.dll.

[2020-06-24 22:58] rwadhwa910 commented on #177
@tijcolem  I am having the same issue on the newer version of Open studio 3.0.1. I have attached the screenshot.

@DavidGoldwasser

[2020-06-25 20:28] DavidGoldwasser commented on #108
I can't figure out why, hard to diff XML from BCL vs. GitHub repo, but while arguments show for GitHub copy when brought in through MyMeasures directory, the BCL copy (made from GitHub copy) doesn't work. No idea why at this point. Screenshots are below. I threw away my BCL directory and made a fresh OSM for this test.

For reference test and BCL upload are from this branch ,not develop.
https://g

[2020-06-25 20:51] DavidGoldwasser commented on #108
:( Well this at least explains an error on UH about failed reporting measure with no Output in OSW. Here is bug filed for the Measure, that I can only reproduce with BCL copy of measure, not GitHub repo copy
https://github.com/NREL/openstudio-common-measures-gem/issues/23

[2020-06-26 18:23] rwadhwa910 commented on #177
Apart from the crash in the app, When I open the same model again in open studio, I am not able to edit the model in editor tab. The only option I see is of creating a new model.

[2020-06-26 19:24] DavidGoldwasser commented on #177
Just to update @rwadhwa910 its comment, the floorplan.json and I believe other files (measures, weather?) have been deleted from the project.

[2020-06-26 20:01] rwadhwa910 commented on #177
@DavidGoldwasser Weather file was deleted, I am not sure whether measure file was deleted, If that happens again I will note it and update it on this page.

[2020-06-29 12:39] jmarrec opened #184 "Support WaterCooled VRF in OS App"
Enhancement Request
--------------

https://github.com/NREL/OpenStudio/pull/3613 added WaterCooled `OS_AirConditioner_VariableRefrigerantFlow` to the SDK. OSApp doesn't properly support it yet.

## Detailed Description

## Possible Implementation

* OpenStudioPolicy.xml needs to be updated to hide the Condenser Inlet / Outlet Nodes.
* Icon isn't registered, (seems like this commit didn't make it i

[2020-07-09 03:25] #102 closed

[2020-07-09 03:25] #106 closed

[2020-07-09 19:02] rwadhwa910 opened #188 "Empty nodes are created whenever I try to drag an equipment from library and that equipment is not supported."
Issue overview
--------------
In the image I am trying to place a water heater in the loop and that equipment is not allowed at that location still it creates an empty nodes.

It should not create a node as it is not supported , Although it is not affecting the simulation, but the empty nodes are created everytime i add an equipment that is not supported.
![nodes](https://user-images.githubusercon

[2020-07-09 19:07] rwadhwa910 opened #189 "Floorspace.js editor is using polygon tool if I select the rectangle tool"
**Issue overview**

If I try to use the eraser tool in the editor tab and after that I switch to rectangle tool, Although the rectangle tool will be active but the operations performed in the editor will be of polygon.

**Current Behavior**

In the image below You can see I have selected the rectangle tool but the operations are performed similar to polygon tool.
This is happening only when I swit

[2020-07-09 20:10] MatthewSteen opened #190 "Measures tab doesn't show all measures"
Issue overview
--------------
In v1.0.1 the Measures tab doesn't show all the local measures, wihch is not the case in PAT v3.0.1. This appears to be isolated to specific measure categories. For example, it didn't happen with `Whole Building > Space Types`, but did happen for `Economics`.

## Current Behavior
![image](https://user-images.githubusercontent.com/8397034/87076419-f70dd200-c1de-11ea-9b

[2020-07-09 22:15] jmarrec commented on #188
Please state which Openstudio Application you are using. Also, it seems that you may have corrupted your PlantLoop to begin with.

The WaterHeater (Mixed Or Stratified) should be allowed there.

If you care share a model with the problem I can take a look.

[2020-07-10 01:08] rwadhwa910 commented on #188
@jmarrec  I am using th 1.0.1 Openstudio App version, I agree with you WaterHeater (Mixed Or Stratified) are allowed, but if I use some other like heat pump it creates a node saying the selected component in this location.

I have uploaded the model in google drive and have shared the link here.

https://drive.google.com/file/d/1ulYK1kknInrZwjOe7FWoGRTPT9YWmwMM/view?usp=sharing

[2020-07-10 17:21] rwadhwa910 commented on #190
@MatthewSteen  I am experiencing the same issue with couple of measures.

Not able to see any measures in space types.

![measure](https://user-images.githubusercontent.com/63880759/87181374-74008080-c29f-11ea-86dc-8e649df914ee.PNG)

[2020-07-10 17:23] MatthewSteen commented on #190
@rwadhwa910 that's a separate issue, see #178.

[2020-07-21 14:08] jmarrec opened #192 "Add new fields for SimulationControl: DoHVACSizingSimulationforSizingPeriods and MaximumNumberofHVACSizingSimulationPasses"
Enhancement Request
--------------

OS SDK 3.0.0 added two new fields for SimulationControl: `DoHVACSizingSimulationforSizingPeriods` and `MaximumNumberofHVACSizingSimulationPasses`

cf https://github.com/NREL/OpenStudio/pull/3897/files

## Possible Implementation

Add them to the GUI on the Settings Tab > Simulation Control

[2020-07-21 17:20] jmarrec opened #194 "Add Output:JSON to the GUI"
Enhancement Request
--------------

OS SDK 3.0.0 added Output:JSON, cf https://github.com/NREL/OpenStudio/pull/3875

## Possible Implementation

Add a new toggle on the Settings tab for Output JSON to be able to set these fields.

[2020-07-21 22:26] DavidGoldwasser commented on #177
Just wanted to share another video demonstrating this by TheEnergyTutor on UH. He appears to not have the directory open, but still gets the crash related to file permission. I could not recreate this on my windows machine following same steps that user did. I had hoped that maybe I could recreate it by deleting a measure in the GUI like he did, but it wasn't reproducible for me.
https://unmethour

[2020-07-22 05:29] macumber commented on #177
This appears to still be valid:

https://unmethours.com/question/45931/is-anyone-have-problems-with-floorspace-js-losing-floor-plans/
https://unmethours.com/question/45913/another-unhandled-exception/

[2020-07-22 08:58] #184 closed

[2020-07-22 09:02] #192 closed

[2020-07-28 09:24] jmarrec commented on #108
Related PR where I made the change to allow accepting `model` in the `arguments()` method of the reporting measures: https://github.com/NREL/OpenStudio-workflow-gem/pull/94

[2020-07-31 02:40] #177 closed

[2020-08-02 18:35] macumber opened #199 "Release Template - Clone For Each Release"
- [ ] Release Notes
- [ ] Test Windows Installer
- [ ] Test Mac Installer
- [ ] Test Linux Installer
- [ ] Email Blast

[2020-08-02 18:35] macumber opened #200 "1.1.0 OpenStudio Application Release"
- [x] Release Notes
- [x] Test Windows Installer
- [x] Test Mac Installer
- [x] Test Linux Installer
- [x] Email Blast

[2020-08-02 18:44] macumber opened #201 "Add Check For Update functionality to OS App"
Provide a new implementation in OpenStudioModelEditor library that can be used by OpenStudio Application and SketchUp Plug-in

[2020-08-02 18:47] macumber commented on #201
Should check for a file on the openstudiocoalition.org website

[2020-08-02 18:51] macumber opened #202 "Wrap new Output Diagnostic objects"

[2020-08-05 13:35] jmarrec opened #203 "[Mac] UI is unreadable with white font on grey background"
Issue overview
--------------

Reported by @ljbrackney :

## Current Behavior

![image](https://user-images.githubusercontent.com/5479063/89418893-f78f7f00-d730-11ea-8a5c-a6049ed5920a.png)

## Expected Behavior

it should be legible!

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your environment for this issue (if relevant):

[2020-08-05 16:27] DavidGoldwasser commented on #203
Maybe something unique on @ljbrackney's setup. I'm not seeing that behavior on my computer with 1.0.0 or 1.0.1 app on mac. My mac operating system is 10.15.6
![Screen Shot 2020-08-05 at 10 24 40 AM](https://user-images.githubusercontent.com/4857055/89438594-3fe57780-d706-11ea-8a32-31c2ecc51a6e.png)

[2020-08-05 17:15] mbadams5 commented on #203
I see it on my Mac with 10.14.6 with OpenStudio 1.0.0
![Screen Shot 2020-08-05 at 1 12 41 PM](https://user-images.githubusercontent.com/2001544/89442938-9a3e0280-d71d-11ea-9db6-3dae099365bb.png)

[2020-08-05 20:12] jmarrec commented on #203
Oh boy. That's going to be a fun one :)
Thanks for testing guys.

I guess the coalition is going to need to put their hands on a faulty mac

[2020-08-06 09:41] jmarrec opened #205 "Code signing for Windows installer?"
Issue overview
--------------

I think code signing will be needed to avoid antivirus problems on Windows... Which means we'd need a certificate for signing.

[2020-08-06 13:25] macumber opened #206 "SWIG utilities directory"
Enhancement Request
--------------
Get access to code in utilities via Ruby bindings

[2020-08-06 15:29] rwadhwa910 opened #207 "Not able to Draw more than 11 Windows using floorspace.js App version"
Issue overview

Working on a Model which has multiple buildings, When I try to draw the 12th Window , The size of the 12th Window gets transfered to the 11 th window and both the windows overlap with each other. Also When you try to merge after drawing the window and try to see the 3d view app crashes.

## Current Behavior
I can never draw 12th window, When I try to give some dimension to the 12th

[2020-08-06 23:49] Shoussai commented on #203
I am not having that issue on my Mac, version 10.12.6, on OpenStudio Application 1.0.0
![Screen Shot 2020-08-06 at 5 34 31 PM](https://user-images.githubusercontent.com/33497521/89593255-e8313400-d80b-11ea-895d-24999625650d.png)

[2020-08-08 23:03] macumber commented on #203
I just tried this on my Mac, 10.15.6.  I think it is a dark mode issue.  If you set Appearance to Dark mode and restart the OS App you will see this, setting Appearance to Light mode and restarting resolves the issue for me.  I think we would need to figure out how to support dark mode in Qt Applications, seems like it should be possible.

[2020-08-08 23:08] macumber commented on #201
Fixed in https://github.com/openstudiocoalition/OpenStudioApplication/pull/204

[2020-08-08 23:08] #201 closed

[2020-08-09 09:08] jmarrec commented on #203
Pretty sure addressing https://github.com/openstudiocoalition/OpenStudioApplication/issues/180 will fix this one.

It seems that dark mode support may have been added in qt 5.12 only, we use 5.11. https://trac.macports.org/ticket/57574

[2020-08-09 16:21] macumber commented on #203
That would be great, upgrading Qt is certainly the first thing we should try.  Should we add upgrading Qt to the 1.1.0 milestone?

[2020-08-09 16:22] macumber commented on #180
Would you recommend using Conan for Qt update or do we need to use our own builds?

[2020-08-10 18:21] jmarrec commented on #180
conan-qt is such a beast I wouldn't really recommend using it. I'm afraid it'll break every other day, and because we use non-standard recipe options (to get webengine etc), that means you cannot download a binary from bintray and it will build qt, which takes a lot of time, especially in debug (and that takes about 40 GB of disk space in your conan cache).

[2020-08-11 02:56] macumber opened #209 "Update OpenStudio Application Wiki - Add version compatibility info, update build docs, remove dead pages"

[2020-08-12 20:49] jmarrec opened #210 "Add AirLoopHVAC "design return airflow fraction" to the OpenStudioApplication and adjust OpenStudioPolicy to hide splitter/mixer"
Enhancement Request
--------------

Companion issue for adding this field in the SDK: https://github.com/NREL/OpenStudio/issues/4039, and PR that adds it https://github.com/NREL/OpenStudio/pull/4044

This issue to remember to test the feature in the OS App and do any modifications needed to expose the field in the App.

[2020-08-16 21:53] macumber opened #212 "Plenums with doors"
Issue is with OpenStudio

https://github.com/NREL/OpenStudio/issues/4036

[2020-08-16 21:54] macumber opened #213 "A bug related to OS:Schedule:File and OS:External:File with OpenStudio App"
Issue is with OpenStudio

https://github.com/NREL/OpenStudio/issues/4046

[2020-08-18 05:47] macumber opened #214 "North Axis not synchronized between OSM and Floorspace JSON"
App seems to be using old `config["initialNorthAxis"]` key to store north angle:

https://github.com/openstudiocoalition/OpenStudioApplication/blame/develop/src/openstudio_lib/GeometryEditorView.cpp#L273

Correct key is `project["north_axis"]`:

https://github.com/NREL/OpenStudio/blob/develop/src/utilities/geometry/FloorplanJS.cpp#L1508
https://github.com/NREL/floorspace.js/blame/develop/schema/ge

[2020-08-18 18:36] Ski90Moo opened #215 "DualDuct Thermal Zone Assignment on Splitter Not Working"
Issue overview
--------------
When selecting the Dual-Duct supply splitter and assigning thermal zones, the thermal zone is not added to the terminal box that was already placed.

## Current Behavior
 See gif
![Emh3UI7afU](https://user-images.githubusercontent.com/69771412/90552017-0b7eac00-e147-11ea-811a-3624bb75a577.gif)

## Expected Behavior
User expects the zone to be assigned to the AirTermin

[2020-08-18 18:39] Ski90Moo commented on #215
Maybe this is not an issue.  It works if you add a thermal zone to the first instance and then select the supply splitter and start adding zones.

[2020-08-19 04:24] #209 closed

[2020-08-19 04:31] macumber commented on #214
Also need to ensure building is rendered correctly in the 3D view

[2020-08-19 16:09] jmarrec commented on #205
@marccosta reported getting it with the 1.0.1 installer on a clean windows machine,

![image](https://user-images.githubusercontent.com/5479063/90661068-0a34a880-e247-11ea-828c-7c105c16ff0f.png)

[2020-08-19 16:47] Ski90Moo opened #217 "App crashes when multiplying (cloning) Dual Duct AirLoopHVAC"
Issue overview
--------------
When attempting to use the x2 button on an air loop, the app crashes

## Current Behavior
 see gif:
![mkDPjqFF7y](https://user-images.githubusercontent.com/69771412/90665336-c028d400-e200-11ea-9429-774b20ca57a1.gif)

## Expected Behavior
 It should replicate the air loop.

## Steps to Reproduce

1. Create a dual duct air loop.  No thermal zones added.
2. Click the x2

[2020-08-20 13:05] jmarrec opened #218 "OpenStudioPolicy needed for CoilCoolingDXTwoStageWithHumidityControlMode"
Issue overview
--------------

At least to hide air inlet/outlet nodes

![image](https://user-images.githubusercontent.com/5479063/90773613-74585680-e2f6-11ea-97f8-54adb596fe49.png)

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): All
 - Version of OpenStudioApplication (if using an intermediate buil

[2020-08-20 13:23] jmarrec commented on #218
Hum this may just be that the Policy itself is completely not working. I'll need to check develop.

[2020-08-20 13:53] jmarrec opened #219 "VRF from hvac_library makes E+ Fatal Out"
Issue overview
--------------

[code]

## Steps to Reproduce

1. Create a dummy model
2. Drag the VRF system from the Library
3. Drag the VRF Terminal from the library
4. Assign a zone
5. Simulate, open eplusout.err

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): All
 - Version of OpenStudioApplicat

[2020-08-22 19:24] macumber opened #220 "Crashes when using OpenStudio Results and SI reporting"
User reports:

https://unmethours.com/question/46477/openstudio-losing-weather-file-and-measures/?comment=46786#post-id-46786

https://unmethours.com/question/46686/using-bcl-openstudio-results-si-measure-causes-simulation-failure/?comment=46690#post-id-46690

[2020-08-22 19:59] #62 closed, assigned to DavidGoldwasser

[2020-08-22 20:00] #59 closed, assigned to nobody

[2020-08-23 17:53] eringold commented on #217
@jmarrec I noticed that cloning the dual duct loop results in some dangling nodes, which I think the App has problems display (but OpenStudio translates just fine):

[code]

[2020-08-24 08:55] jmarrec commented on #217
Backtrace:

[code]

[2020-08-24 21:20] antonszilasi opened #222 "utilities.Transformation - Cannot compute outward normal for vertices"
Issue overview
--------------

Intermittently when importing a Floor js json into an OSM the import fails with the following errors and warnings seen below:

However when I try to import the same json again it will work intermittently. I have provided a google doc link to an example json where the import failed (and sometimes succeeds)

https://drive.google.com/file/d/1yq5tUGpHk7si_4fHdXDINL2RF_6X

[2020-08-24 21:28] #222 closed

[2020-08-24 21:28] antonszilasi commented on #222
Sorry I opened this in the wrong place it should be under https://github.com/NREL/OpenStudio

issue is here: https://github.com/NREL/OpenStudio/issues/4057

[2020-08-24 21:29] rwadhwa910 opened #223 "Extra surfaces made resulting in increase in simulation timing"
I am making a model and the resulting geometry is having more surfaces, for example in the image below the same space is having more than 1 surface, which is increasing the time required to simulate the model.

Now once the the simulations runs without any error and then you try to open the same project again  excess surfaces and faces are created every time you open the model.

Normally there sho

[2020-08-24 21:41] rwadhwa910 opened #224 "Option of changing the schedule type in the schedules tab"
If a user selects a wrong schedule type while making the schedule there is no option of changing it again, One will have to delete the schedule and make the new schedule again, having this feature can make the user change the type of schedule, also the default value of the schedule type is Dimensionless which is not used in most of the application and that too is 3 times along with fractional in b

[2020-08-28 13:31] jmarrec commented on #217
Moved to #4060 as it should. Leaving open until we can test in App that there isn't something else to be done.

[2020-08-28 14:06] jmarrec commented on #217
Thanks for looking into this @eringold

[2020-08-29 15:29] macumber opened #225 "Update CI"
Enhancement Request
--------------
Provide an easy way to switch CI builds between official NREL OS packages and interim packages with changes from the OSC fork .

## Detailed Description
We want to be able to reliably update the version of OS used in the app build, including the ability to use packages with interim changes that are not yet in NREL's official builds.

## Possible Implementation

-

[2020-08-29 17:55] macumber opened #226 "OpenStudio Results don't include boiler or infrared sizing"
Issue overview
--------------
OpenStudio Results don't include boiler or infrared sizing

## Details

Unclear if this is because the current reporting measure does not include those features or that the OS App is not getting the most recent measure.

[2020-08-30 18:14] macumber commented on #225
Use case 1: official NREL/OpenStudio package is available with everything OS App needs
- OS App builds against official NREL package, this is preferred

Use case 2: OSC has open PRs to NREL/OpenStudio with changes needed in OS App
- All OSC PRs consolidated on openstudiocoalition/OpenStudio/develop
- Merge openstudiocoalition/OpenStudio/tree/develop into Merge openstudiocoalition/OpenStudio/tree/c

[2020-08-30 18:41] macumber commented on #225
I think we should go with Alternative 2 above for now

[2020-09-01 08:53] jmarrec commented on #225
I'm working on this.

[2020-09-01 12:36] jmarrec commented on #225
Fixed it in #208

[2020-09-01 12:36] #225 closed

[2020-09-01 12:53] #194 closed

[2020-09-01 14:00] #214 closed

[2020-09-02 20:50] RKStrand commented on #203
Just ran into this myself while preparing for a class.  Interestingly enough, if I start the app while in light mode but then switch back to dark mode, the text stays visible.  But if I start the app in dark mode, the text is almost unreadable and switching to light mode doesn't help until I have restarted the app.  Not sure if this helps at all, but I thought I'd add my experience here.

[2020-09-03 09:28] jmarrec commented on #203
make sure to check out #11 before trying to upgrade Qt

[2020-09-04 22:42] rwadhwa910 opened #228 "Failed to partition Polygon and change in the intersection area after merging the json file with osm"
Issue overview
--------------
When I try to merge the json file with the current osm file i get this error, Failed to partition polygon , and difference in the initial area and post intersection area.

I have attached the link to the model, also the attached project will create excess faces and surfaces each time you open the project.

https://drive.google.com/file/d/1_EUxK7RUD4ey5QoNgS3GDVkkF7lLs

[2020-09-06 18:27] MatthewSteen commented on #203
This can also happen on some Linux distributions, e.g. Kubuntu (KDE desktop).

[2020-09-09 03:26] macumber opened #230 "Remove explicit constructor cppcheck suppression"
https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/.github/workflows/cppcheck.yml

[2020-09-10 05:12] macumber commented on #220
I think these issues may be resolved with https://github.com/NREL/openstudio-common-measures-gem/issues/33

[2020-09-10 05:13] macumber commented on #226
I think this is due to this issue in the OpenStudio Results measure: https://github.com/NREL/openstudio-common-measures-gem/issues/33

[2020-09-10 05:13] #226 closed

[2020-09-10 22:09] rwadhwa910 opened #231 "Envelope and Internal load breakdown measure breaking while running the simulation"
Issue overview

Not able to run Envelope and Internal Load breakdown measure, It will run for the first time and then when I try to run the model again some files from the measures will get deleted as shown in the video.

The files in the measures were deleted from the folder after the simulation failed.

https://www.youtube.com/watch?v=15gJ_g1PFFA

I have attached the link to the project.
https:/

[2020-09-12 16:36] macumber opened #232 "Update OpenStudio Standards Library OSMs"
Enhancement Request
--------------
OpenStudio Application ships with a library of standards OSM files.  We want to keep these up to date with OpenStudio Standards.

## Possible Implementation
Want a script that can be run to update these

Orthogonal to: https://github.com/openstudiocoalition/OpenStudioApplication/issues/124

[2020-09-12 16:41] macumber commented on #232
Based off of export_openstudio_libraries in openstudio-standards

https://github.com/NREL/openstudio-standards/blob/e08fcfde63ff6a4af5ce12b0aa70208024596c86/data/standards/export_OpenStudio_libraries.rb#L15

[2020-09-15 00:41] macumber opened #233 "3D viewer causing OS to crash"
See https://github.com/NREL/OpenStudio/issues/4075

[2020-09-15 03:22] macumber commented on #233
I am able to replicate this, the translation is very slow and then it crashes.  Update to Qt 5.15 doesn't seem to help.  Will investigate further.

[2020-09-15 04:12] macumber commented on #85
I could not reproduce this in v1.0.1, uploaded a measure to the issues repo

[2020-09-15 05:14] macumber commented on #213
1. Running a workflow with the measure generates output csvs, output csvs end up in generated files directory, idf files point to schedules in temp directory (fine for simulation)
2. Running measure in apply now generates the csvs, does not properly bring back csvs to generated files or files directory, idf exported has blank file path

[2020-09-15 05:25] macumber commented on #213
This is the line that is supposed to make case 2 work: https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/src/openstudio_lib/ApplyMeasureNowDialog.cpp#L128

[2020-09-15 05:51] macumber commented on #213
It looks like translate to idf is what is putting the schedule in the correct location during the simulation workflow:

https://github.com/NREL/OpenStudio/blob/4d136973122860b11dcfc976fcaa0268223290d7/src/energyplus/ForwardTranslator/ForwardTranslateScheduleFixedInterval.cpp#L94

[2020-09-15 05:54] macumber commented on #213
We need to repoint new external file objects to files directory in apply measure now.

[2020-09-16 03:55] macumber opened #234 "Model always shows modified on Mac"
## Current Behavior
The modified * always shows next to the model on Mac

## Expected Behavior
The model should not show as modified after saving

## Steps to Reproduce
Create a model on Mac, hit save, model shows modified

### Environment

Some additional details about your environment for this issue (if relevant):
 - Mac
 - 1.1.0-alpha+beda47b988

[2020-09-17 07:40] jmarrec commented on #234
@macumber I know I've touched this behavior a long time ago. The idea was that you could always click "Revert to Saved". Have you tested on another platform?

[2020-09-17 07:43] jmarrec opened #235 "Update to OS SDK 3.1.0"
Issue overview
--------------

This issue aims to list changes to the OS SDK 3.1.0 that will affect the OpenStudioApplication and will require adjustment:

* [ ] https://github.com/NREL/OpenStudio/pull/4066 :  Multiple shading controls referenced by a single subsurface

[2020-09-17 07:47] jmarrec commented on #235
NREL/OpenStudio#4066:

SpacesSubSurfacesGridVIew will not compile

### Blocks that need update:

https://github.com/openstudiocoalition/OpenStudioApplication/blob/97ca38d046531ca27a7f058fdf275c1bb5767fb8/src/openstudio_lib/SpacesSubsurfacesGridView.cpp#L351-L366

https://github.com/openstudiocoalition/OpenStudioApplication/blob/97ca38d046531ca27a7f058fdf275c1bb5767fb8/src/openstudio_lib/SpacesSubs

[2020-09-17 15:16] #180 closed

[2020-09-17 21:31] rwadhwa910 opened #238 "Possible option of a search icon in the output variable tab"
Enhancement Request
Having a search icon in output variable tab can facilitate the user to search the desired output variable one wants to look for.

In the OS app, one have to manually scroll and look for the output variable he/she wants to select which takes unnecessary time this feature could save a lot of time.

![output](https://user-images.githubusercontent.com/63880759/93530443-d490e700-f8f

[2020-09-18 00:08] macumber commented on #234
We don't set revert to saved off any more, it's always available:

https://github.com/openstudiocoalition/OpenStudioApplication/blob/17d62810bd4991178dfd667e80673cdb85bc9d93/src/openstudio_lib/MainMenu.cpp#L251

My guess is some order of signals is happening differently on Mac, I'm not sure if this is new or not

[2020-09-18 05:40] jmarrec commented on #234
I did confirm yesterday after writing this that ubuntu isn't affected. Once I hit save the `*` goes away

[2020-09-19 17:02] macumber opened #239 "Shading Control Enhancements"
Enhancement Request
--------------

## Detailed Description

## Possible Implementation
https://docs.google.com/presentation/d/1py1qnkI3TRodwc2oqypxDHh4oX0gzcF7dMcSaL5u2ic/edit?usp=sharing

[2020-09-27 05:17] mldichter opened #242 "Geometry Shading:Building Bug"
Issue overview
--------------
OpenStudio Application v1.0.0 Geometry tab does not render Shading:Building objects in the correct location. The Shading:Building object has been rotated while the building geometry has not. As stated in the Input Output Reference, this should never be the case.
![shading site relative world](https://user-images.githubusercontent.com/39242689/94356662-c9019680-0045-11

[2020-09-29 00:54] macumber commented on #242
Thanks @mldichter , would you be able to check if this issue is fixed in this release preview: https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.0.1

We fixed https://github.com/openstudiocoalition/OpenStudioApplication/issues/214 which I think was the same issue as this

[2020-09-29 01:11] mldichter commented on #242
Looks like the bug is still there.
![shading bug v1 0 1](https://user-images.githubusercontent.com/39242689/94500936-64fde000-01b5-11eb-853e-eb67107374bc.PNG)

The rotation specified in
[code]
is being applied to the Shading:Building object even though
[code]
and the North Axis field should be ignored. You can also see the orange North line 20 degrees to the left of the green y-axis line. But the

[2020-09-29 01:59] macumber commented on #242
Thanks for checking.  I looked into it further and agree that there could be a misunderstanding of these objects in the OpenStudio translation from IDF to OSM here: https://github.com/NREL/OpenStudio/blob/e42fde8aa21cf78bc8d961dcbc8480448f50e102/src/energyplus/GeometryTranslator.cpp#L414

[2020-09-29 02:30] mldichter commented on #242
Looks like the GlobalGeometryRules doesn't translate from IDF to OSM. I imported the IDF into OpenStudio Application v1.0.1 and found these. These are the World coordinates case.
[code]
I didn't find an equivalent OSM object for the GlobalGeometryRules IDF object.

With Relative coordinates, those four OSM objects are the same. The difference is in the building surfaces.

World
[code]

Relative
[c

[2020-09-29 02:42] mldichter commented on #242
There is also
[code]
which was 0 in the World and Relative cases since the building surface vertices were pre-rotated. I changed the value in the OSM with a text editor and the OSM field does indeed rotate the zone.

[2020-10-06 08:33] jmarrec commented on #242
Seems like this is an OpenStudio SDK issue no? @macumber

[2020-10-06 08:38] jmarrec commented on #238
@rwadhwa910 this is a good idea. We could have a text box to search by name, as well as a dropdown to filter per IddObjectType (eg display only variables for "OS:Boiler:HotWater").

[2020-10-06 08:52] jmarrec commented on #232
@macumber FYI last time I ran that os-standardsscript (2 years ago almost exactly), I made it parallel.

It still took 19 hours to finish, on a 8 core 16 threads machine, and about 1/4 or 1/3 of the library files didn't successfully generate.  OpenStudio hadn't done the update since then, we just had version translation-ed these files from release to release. Cf history on the 2.9.X-LTS branch: ht

[2020-10-07 03:02] macumber commented on #232
Yeah that is a good idea to add that check on merge to master.  Are you just suggesting that we run that script and start it sooner rather than later?  I can run it

[2020-10-07 03:10] macumber commented on #232
Ok, I see, I got myself confused on my own issue.  One approach is to simply version translate the existing files.  The second (and better) approach is to re-export the files from current standards.

I don't think the HVAC library can be exported from the standards, is that right?  That is a hand maintained file?

[2020-10-07 03:17] macumber commented on #242
OpenStudio purposefully has only one way to define coordinate systems.  Allowing multiple definitions in IDF was a choice made to support users when they were entering coordinates one by one in text, it's not as useful anymore.

I agree this is an OpenStudio SDK bug in the import of Shading:Building and Shading:Site objects from IDF. Filed here: https://github.com/NREL/OpenStudio/issues/4111

[2020-10-07 03:17] #242 closed

[2020-10-07 03:19] macumber commented on #125
https://unmethours.com/question/47768/not-all-schedules-used-in-a-model-are-listed-on-schedules-tab/

[2020-10-07 08:27] jmarrec commented on #232
There are two files:

* Check if OSM versions are ok (github actions implemented): https://github.com/openstudiocoalition/OpenStudioApplication/blob/1038789f17fd92ba83fe6f472bf2443c37c6d568/developer/ruby/CheckOSMVersions.rb#L1

* Update OSM libraries: Manual, because you need to decide **when** to do that. The IO Freeze for the SDK and all required VT needs to be correctly set up first: https://g

[2020-10-07 12:17] rd2 commented on #203
On MacOS version 10.15.7 (19H2). Whether I switch from Dark to Light modes before/after (re)starting OsApp, I get the same behaviour:
![OSAPP_Dark_vs_Light_MAC](https://user-images.githubusercontent.com/40636643/95328341-6f823e80-0873-11eb-9f40-12361ea15652.jpg)
In a nutshell, for large areas of the background that are (still) using the OpenStudio default (fixed) mid-range gray color, there doesn'

[2020-10-07 12:51] rd2 commented on #234
I get the same behaviour on a Mac (Catalina 10.15.7 (19H2)). * always there, regardless if project is saved or not.

[2020-10-08 02:30] #203 closed

[2020-10-08 03:44] macumber commented on #203
Tested on my Mac and it works as intended, thanks for the report @rd2 and for the fix @jmarrec !

[2020-10-08 11:40] DaveInCaz opened #248 "Windows Defender warning comes up when the installer is run"
Issue overview
--------------
When running the OS application installer it shows a dire-looking warning.

## Current Behavior

![image](https://user-images.githubusercontent.com/18285074/95453648-3e6c4180-0939-11eb-97ad-de97b28877f2.png)

## Expected Behavior
It should run without this warning.

## Steps to Reproduce
Download & run the 1.0.1 installer on Windows 10

## Possible Solution
Code sign

[2020-10-08 14:17] jmarrec commented on #248
Duplicate of #205, but thanks for reporting it. We're aware of this. But it requires a code signing certificate, which you obviously have to pay a significant amount of money for, so it's not high on the list of priorities.

[2020-10-08 14:17] #248 closed

[2020-10-08 14:18] jmarrec commented on #235
Fixed. The Shading COntrol thing was moved to another issue at #239

[2020-10-08 14:18] #235 closed

[2020-10-08 15:02] DaveInCaz commented on #248
@jmarrec oops, sorry I hadn't realized it was a dupe! Thanks

[2020-10-09 05:34] macumber commented on #248
Thanks for the report @DaveInCaz we are hopeful that the OpenStudio Coalition will be able to get the certificates set up for future releases.  In the mean time please help us by submitting the app as safe, once Windows defender get's enough people saying an app is ok then they lower the level of warnings about it.

[2020-10-11 20:46] Ski90Moo opened #249 "The image of AirLoopHVAC:OutdoorAirSystem is incorrect"
Enhancement Request
--------------
The image used for the OutdoorAirSystem shows one of the mixing dampers on the OutdoorAirSystem outlet.  The damper should be depicted inbetween the exhaust outlet and fresh air inlet:
![2020-10-11](https://user-images.githubusercontent.com/69771412/95689784-15adab80-0bc8-11eb-8fbe-5b674f0cee4e.png)

## Detailed Description

## Possible Implementation

[2020-10-13 13:59] jmarrec opened #251 "Fix build warnings"
Issue overview
--------------

Building on macOS 10.15.7 with xcode 12, I'm getting warnings I don't get on gcc 7 (Ubuntu 18.04) and they make a lot of sense

[code]

## Details

<details><summary>**Click to expand build log**</summary>

[code]

</details>

[2020-10-13 20:31] muh182 opened #252 "OpenStudio Application does not find EnergyPlus"
Issue overview
--------------
One of my students has encountered a strange issue when trying to run a working model in the simulation tab. The application is not able to find E+.

## Current Behavior
Here is the error message in the log file.
[code]

## Expected Behavior
Just run the model

## Steps to Reproduce
I cannot reproduce it on my computers. The model works fine on my computer.

## Possib

[2020-10-13 22:44] muh182 opened #253 "FloorspaceJS selects more than one item in the drop down list"
Issue overview
--------------
This is an issue that I have seen in the previous versions of OpenStudio before, but the error still persists. In the Geometry tab, it is not possible to select only one thermal zone or construction sets, ... in some situations. For example, recently, I noticed if students use the measures that change the R-values, the error shows up.

The floorplan.json is available

[2020-10-14 03:16] macumber commented on #252
Can you get us the directory that the model was saved in?  Also the directory that OpenStudio Application is installed in?  Did the student install all components of the OpenStudio Application?

[2020-10-15 00:49] muh182 commented on #252
Thanks @macumber. Here is the description:

On Mac, the model was saved on Desktop and different versions of OpenStudio are installed in the Applications as follow:

<img width="706" alt="Screen Shot 2020-10-14 at 4 55 27 PM" src="https://user-images.githubusercontent.com/2249257/96060375-f1ff9500-0e55-11eb-8335-5dc6135b9e79.png">

On Windows, OpenStudio is installed on the local C drive and have

[2020-10-15 14:58] MatthewSteen opened #254 "FanZoneExhaust schedule fields disabled in App for objects created with API"
Issue overview
--------------

FanZoneExhaust objects created with the API have two schedule fields disabled in the App. Objects added to a model in the App are fine. Found in 2.9.0, but I assume it's present in newer versions based on a quick look at git blame. https://github.com/NREL/OpenStudio/issues/4116

## Current Behavior

![image](https://user-images.githubusercontent.com/8397034/95406733-

[2020-10-15 15:21] macumber opened #255 "Crash on startup"
Issue overview
--------------
App crashes on startup, possibly related to no internet connection

https://unmethours.com/question/47901/openstudio-application-closes-automatically/

To reproduce:

1. Disconnect from internet
2. Move BCL directory
3. Start the OS App

[2020-10-15 16:18] #218 closed

[2020-10-15 16:22] jmarrec commented on #254
Either:

* OpenStudio changes it's Constructor just to please the OSApp and initializes this field, which makes no sense now post-separation of SDK and App (hence why I closed the original https://github.com/NREL/OpenStudio/issues/4116) , but which is the way we've always handled that stuff in the past
* **You** ensure you initialize these fields (workaround)
* Or, we change the overall InspectorG

[2020-10-15 16:51] craigers290 commented on #218
Thanks. Checked out for me as well.

[2020-10-18 05:13] #255 closed

[2020-10-18 05:15] macumber commented on #233
Update with latest from https://www.ladybug.tools/spider-2020/spider-idf-viewer/v-2020-10-09/spider-idf-viewer.html and https://nrel.github.io/floorspace.js/

[2020-10-18 05:56] macumber commented on #233
This model is blowing up in translation from the model to ThreeJS, see https://github.com/automaticmagic/openstudio-troubleshooting/blob/main/load_floorspace_json.rb for debugging

[2020-10-24 21:22] Ski90Moo opened #261 "Application crashes when deleting HVAC loop"
Issue overview
--------------
The application crashes when the user tries to delete an HVAC air loop.

## Current Behavior
![TlankqSsEG](https://user-images.githubusercontent.com/69771412/97093837-37655480-1604-11eb-9f0d-020561147f6f.gif)

## Expected Behavior
The application should delete the airloop and all associated devices.

This also happens when I try to delete the zone equipment one-by-one

[2020-10-25 04:59] macumber opened #262 "Add file system browse control for measure path arguments"
##  Expected Behavior
Path arguments of measures should allow opening filesystem finders

## Current Behavior
Only string inputs are allowed

[2020-10-25 05:04] macumber opened #263 "Cannot enter path arguments in apply measure now"
## Current Behavior
Path arguments allow for users to enter a string value, when the measure is run `getPathArgumentValue` will fail

![image](https://user-images.githubusercontent.com/1327850/97099287-28ef5b00-164d-11eb-9387-45407f723fbb.png)

[2020-10-25 05:04] macumber commented on #262
Related to https://github.com/openstudiocoalition/OpenStudioApplication/issues/263

[2020-10-25 05:33] macumber commented on #213
Added example measure to issue files

[2020-10-26 16:30] DavidGoldwasser opened #264 "Zooming in FloorSpaceJS zooms UI in addition to plan space"
Issue overview
--------------
This is new to the 1.1.0. I confirmed with same json file that doesn't happen with 1.0.1.
## Current Behavior
Here is view when zoomed out
![Screen Shot 2020-10-26 at 10 25 44 AM](https://user-images.githubusercontent.com/4857055/97199879-250b2800-1776-11eb-882c-bc9f5f58ea12.png)

And when zoomed in, notice GUI elements are lost, the entire workspace is zooming and no

[2020-10-31 19:42] macumber commented on #252
So the issue occurs when running OpenStudio on Windows using Parallels on a Mac?  The host machine is Mac and OpenStudio is installed on Mac, does the model run when OpenStudio is run on Mac?  Does the error only occur when OpenStudio is running on Windows via Parallels?

[2020-10-31 19:45] macumber commented on #264
I am not seeing this on Windows

[2020-10-31 20:55] macumber commented on #264
I'm also not seeing this on MacOS 10.15.7.  I'm using a Windows style mouse with Natural scroll off.  Do you have some custom scroll settings?  Are you using trackpad or holding down any key when scrolling?

[2020-11-01 20:15] DavidGoldwasser commented on #264
@macumber I'm using an external Apple magic trackpad, should behave similar to macbook trackpad. Did a bit more testing
- In OpenStudio Application 1.0.1 I can zoom in and out in two different ways. Two finger scroll up or down (which should be like mouse scroll wheel). I can also use pinch/zoom with two fingers to zoom in and out.
- I did confirm that in OpenStudio Application 1.1.0 the two finge

[2020-11-06 09:13] souliane opened #266 "Ship auxiliary programs together with OpenStudioApplication"
Enhancement Request
--------------
Ship auxiliary programs like the EP-Launch, IDFEditor and IDFVersionUpdater together with OpenStudioApplication.

## Detailed Description
It would be nice to have those installed with OpenStudioApplication so one don't have to install an extra energyplus (+600MB) only to get those small programs.

[2020-11-07 23:05] muh182 opened #267 "Missing fields for some measures in the measure tab"
Issue overview
--------------
The new version of OpenStudio (version 1.0.1) does not show extra fields for some measures (i.e., ExpertMetertoCSV: https://bcl.nrel.gov/node/83269). This is a different behavior than the older versions of OpenStudio such as version 2.8.0.

## Current Behavior
The following image shows that in the right hand side, it is not possible to put any inputs:

<img width="935

[2020-11-07 23:07] muh182 commented on #252
That's correct. The host is on Mac with Parallels for Windows.

No, it does not run on any of the platforms. I can try to get more clarifications on this.

[2020-11-09 13:23] souliane opened #268 "Can't set "Outdoor Carbon Dioxide Schedule Name""
Issue overview
--------------
Can't set "Outdoor Carbon Dioxide Schedule Name"

## Current Behavior
"Outdoor Carbon Dioxide Schedule Name" selector of the "Zone Air Contaminant Balance" section of the "Simulation Settings" tab doesn't allow to select any schedule.

## Expected Behavior
The selector should be populated with the adequate schedules.

## Steps to Reproduce
1. Define a dimensionless an

[2020-11-11 23:05] Ski90Moo opened #269 "My Model list does not show cooling towers"
Issue overview
--------------
My Model list does not show cooling towers

## Current Behavior
![2020-11-11](https://user-images.githubusercontent.com/69771412/98874574-5e5abd80-242f-11eb-8940-87cc1ef90f47.png)

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 -

[2020-11-12 11:51] souliane opened #270 "Don't default to "0" after the user cleared an input field"
Enhancement Request
--------------
When the user clears an input field, leave it empty *or* default to energyplus default value instead of writing "0".

## Detailed Description

Windows 10 Home
OpenStudioApplication 1.1.0

OpenStudioApplication should behave as energyplus when the user clears an input field (i.e. sets its value to "").
IDF Editor will leave the field empty and energyplus will use

[2020-11-13 08:24] souliane opened #271 "Allow compact schedules editing in the schedules graphical editor"
Enhancement Request
--------------
It would be great to allow viewing/editing the compact schedules in the "Schedules" section.

## Detailed Description

Windows 10 Home
OpenStudioApplication 1.1.0

Compact schedules are sometimes editable in the "Edit" tab of an object (the edition is similar to what we would do in a text editor, without extra help). It would be great if we could also edit them w

[2020-11-13 11:49] souliane opened #272 "OS:SpaceInfiltration:DesignFlowRate edit panel displays wrong units"
Issue overview
--------------
OS:SpaceInfiltration:DesignFlowRate edit panel displays wrong units for "Flow per Space Floor Area" and "Flow per Exterior Surface Area".

## Current Behavior
The displayed unit for the fields that are mentioned above is m/s.

## Expected Behavior
It should be m3/s-m2 instead.

### Environment
Windows 10 Home
OpenStudioApplication 1.1.0

[2020-11-13 23:35] rwadhwa910 opened #273 "Download bar keeps on going once the measure gets downloaded."
while downloading the OS measures from the OS app, the download bar keeps on going showing downloading but after I open the model again I can see the measure downloaded but still the bar shows downloading.

I have attached the link to the screen cature for the issue.
https://drive.google.com/file/d/1_HxB3mCNJUoLchK6trqPFLF99nGR0x5z/view?usp=sharing

Windows 10
OS 3.1.0

[2020-11-16 15:13] souliane opened #274 "Unhandled exception when BCL searching pattern contains a space character"
Issue overview
--------------
Unhandled exception when searching for a pattern containing a space character in the "Online BCL" dialog.

## Current Behavior
Enter something containing a space character in the input field for searching measures (e.g. "Components & Measures" / "Find Measures").
A error "Unhandled Exception" will appear and the program has to be restarted.

### Environment

Windows 1

[2020-11-16 18:19] DavidGoldwasser commented on #85
@macumber did this get in 1.1.0? I still see this behavior on Mac.

[2020-11-17 03:06] macumber commented on #274
Verified

[2020-11-17 07:43] dubois34 opened #275 "compilation under ubuntu 18.04 or 20.04"
Hi there,
I'am trying to compile OpenStudioApplication and it doesn't work.

Here is my problem:

Building CXX object src/openstudio_lib/CMakeFiles/openstudio_lib.dir/PlanarSurfaceWidget.cpp.o
/home/dubois/WORK/CODES/OpenStudioApplication/OpenStudioApplication/src/openstudio_lib/OSDocument.cpp: In constructor ‘openstudio::OSDocument::OSDocument(const openstudio::model::Model&, const path&, openstu

[2020-11-18 08:20] coldwong commented on #181
Have you solve it?

[2020-11-19 03:39] macumber commented on #275
Hi @dubois34, our documentation on how to build the OpenStudioApplication is at:

https://github.com/openstudiocoalition/OpenStudioApplication/wiki/Configuring-OpenStudio-Application-Build-Environments

This might be slightly out of date.  The code to build OpenStudioApplication by CI is at:

https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/.github/workflows/app_build.yml

[2020-11-19 04:29] macumber commented on #267
@muh182 for some reason ExpertMetertoCSV is not included in https://github.com/NREL/openstudio-common-measures-gem/tree/develop/lib/measures

The issue with the measure on BCL is that the arguments method is missing the model input to the arguments method.  Changing the arguments method to `def arguments(model=nil)` resolved the issue for me.

Another issue is that measures with errors result in m

[2020-11-19 10:39] souliane opened #276 ""Space Type" filter is unapplied when dropping a "People Definition""
Issue overview
--------------
"Space Type" filter in "Spaces" / "Loads" section is unapplied when dropping a People Definition.

## Current Behavior
The table is filtered with a "Space Type". Drag and drop a People Definition from the right tab "My Model". The "Space Type" selector still shows the selected space type, but the spaces from all space types are displayed in the table.
If a "Load Type"

[2020-11-19 13:52] dubois34 commented on #275
Hi Dan,
Thanks for the help.
The CI link was helpful and using aqt was a solution to compile OpenStudioApplication.
It means that my problem is coming from the way I compiled Qt5.

By the way I have to copy files manually form Qt-Install/.../lib to Products to make it works: libQt5QmlModels.* and libicu*
Currently I still have problems with locales.

Now I have to check it works. By the way do you

[2020-11-22 18:05] muh182 commented on #267
Thanks @macumber for looking into the source of this issue.

[2020-11-23 18:49] DavidGoldwasser opened #278 "Support AddSpecificDates method of ScheduleRule"
Enhancement Request
--------------
If a model has used AddSpecificDates with the API the OpenStudio Application calendar correctly shows the, but currently there is no method to alter these dates in the GUI; just a start/end date for a rule.

## Detailed Description
With more time series calibration schedule rules that accord and a number of non-adjacent dates will be used more often, for example

[2020-11-24 01:29] macumber commented on #275
Yes, there are some additional steps which stage the binaries to run in the installer.  As far as testing the Application, I would suggest working through some of the tutorials:

https://openstudiocoalition.org/getting_started/getting_started/
https://www.youtube.com/channel/UC8ZEW4PXKOsveko55XCJTUA

The fastest way to get a running model is to run one of the model articulation measures:

https://

[2020-11-24 17:43] macumber opened #279 "Package Reporting Measure with OS App"
Enhancement Request
--------------
Package the Reporting Measure with the OS App

## Detailed Description
Including Reporting Measure with OS App will cut down on errors for users with stale or invalid BCL credentials.  It also ensures that we can control the content of the reporting measure for each version of the app.

[2020-11-24 17:45] #200 closed

[2020-11-24 17:51] macumber commented on #275
Ok to close this @dubois34 ?

[2020-11-24 18:28] dubois34 commented on #275
yes thanks !

--
Frédéric Dubois, PhD, Eng.
---
Directeur adjoint du LMGC.
Laboratoire de Mécanique et Génie Civil - CNRS/UM
cc 048, 163 rue Auguste Broussonnet, 34090 Montpellier
http://www.lmgc.univ-montp2.fr/~dubois
Tel: 33/0 467144984
Mobile: 33/0 635490843

[2020-11-24 18:36] #275 closed

[2020-11-24 18:36] macumber commented on #272
This is a known issue with the OpenStudio units engine.  Basically it simplifies (m^3)/(s*m^2) to m/s.

[2020-11-24 18:37] macumber commented on #267
Closing and linking to underlying issue https://github.com/NREL/OpenStudio/issues/4147

[2020-11-24 18:37] #267 closed

[2020-11-24 18:43] macumber commented on #264
We updated Qt to 5.15 for 1.1.0, I'm assuming there is some new default behavior for the pinch/zoom.  Do you think there is any benefit to the new pinch/zoom behavior?  Presumably Qt is trying to match what users expect that behavior to do?  Do you think we need to override the new default behavior?

[2020-11-24 18:48] macumber commented on #252
Any updates @muh182 ?

[2020-11-24 18:51] muh182 commented on #252
@macumber No, let's close this issue and I will open it if I know more about it.

[2020-11-24 18:52] #252 closed

[2020-11-25 23:30] DavidGoldwasser commented on #264
Since there is a good work around (using scroll, not pinch) once someone is aware of it, I'd leave it alone for now unless you get a more people confused about it. It only impacts Mac users on a trackpad.

[2020-11-25 23:35] DavidGoldwasser commented on #267
I can check with @mdahlhausen if he wants to maintain that add add to common measures.

[2020-11-26 19:15] macumber commented on #213
I think I know what the issue is, the CLI is inserting a new path `generated_files` in front of the `WorkingFiles` dir.  We should copy content of `generated_files` back to the `generated_files` in the model dir in addition to the `WorkingFiles` which is getting copied back to the `files` dir

[2020-11-26 19:40] macumber opened #280 "Generated files in Apply Measure Now"
Issue overview
--------------
Files written to the first file path in the workflow (generated_files which is added to the workflow by the Workflow Gem) in Apply Measure Now are not copied back to generated_files.

Additionally, add the model's measure path to the end of temp osw path.  This allows Apply Measure Now to find a measure if the user has changed their My Measures Path.

[2020-12-01 16:35] mdahlhausen commented on #267
@DavidGoldwasser it's a simple update.  Yeah, we should maintain it.  I don't want to add it to gems but it should be available on BCL.

[2020-12-02 19:33] corymosiman12 opened #283 "Selecting / unselecting boolean arguments for a measure doesn't change UI"
Issue overview
--------------
Selecting / unselecting boolean arguments for a measure doesn't change UI, although argument does change in the workflow.osw

## Current Behavior
Above.

## Expected Behavior
The UI and the OSW should be in alignment for boolean arguments.

## Steps to Reproduce

1. Occurs in both the Apply Measure Now and in the Measures screens.

## Possible Solution

## Details

##

[2020-12-14 21:29] LouYingli opened #284 "Have a search icon in the right-hand pane."
Enhancement Request
--------------

Have a search icon in the right-hand pane.
## Detailed Description

In the OpenStudio Application, one has to manually scroll and look for the model inputs in the right-hand pane he/she wants to select. A search function in the right-hand pane could save a lot of time to search for the desired material and equipment.
![image](https://user-images.githubuserconten

[2020-12-14 21:32] LouYingli opened #285 "Enable dynamic 3D View"
Enhancement Request
--------------

Enable dynamic 3D View.
## Detailed Description

The 3D View function in the OpenStudio Application is in one direction. The image can be zoomed in and out but cannot be rotated.

[2020-12-14 21:33] LouYingli opened #286 "Make the right-hand pane on Schedules editable"
Enhancement Request
--------------

Make the right-hand pane on Schedules editable.
## Detailed Description

The right-hand pane on Schedules cannot be edited. In some applications, such as large-scale simulations, users would need to edit them.
![image](https://user-images.githubusercontent.com/52507951/102138224-448b0c80-3e19-11eb-9655-bde7c2c2368f.png)

[2020-12-14 21:51] LouYingli opened #287 "Building flashes in the 3D View"
Issue overview
--------------

When I create building geometry in the OpenStudio Application, then view the building in 3D View, the building flashes.
## Current Behavior

The building image flashes in the 3D View.
## Expected Behavior

The building image should be stable in the 3D View.
## Steps to Reproduce

1. Create building geometry by using the Floorspace JS editor in the Geometry.
2. Click

[2020-12-19 20:02] macumber commented on #286
I think this is a duplicate of https://github.com/openstudiocoalition/OpenStudioApplication/issues/271, do you agree @LouYingli ?

[2020-12-19 20:03] macumber commented on #287
That is pretty extreme flashing, have you seen this in OpenStudio Application 1.1.0 (which uses an updated version of Qt and Chromium)?

[2020-12-19 20:05] macumber commented on #285
You can rotate the 3D model by left click, hold, and moving the mouse.  Does this not work for you?

[2020-12-19 20:07] macumber commented on #284
Good idea

[2020-12-20 03:22] LouYingli commented on #287
The building image can not be seen in the 3D View for OpenStudio Application 1.1.0.

[2020-12-20 03:32] LouYingli commented on #285
Thank you. This method works for me.

[2020-12-20 03:39] LouYingli commented on #286
I think this is not a duplicate of #271. #271 suggests that the right-hand pane on Schedules is in read-only mode. I think that's why I can't edit the right-hand pane on Schedules now. I have a different opinion with #271. I think we should make the right-hand pane on Schedules editable.

[2020-12-20 05:10] #285 closed

[2020-12-23 19:08] macumber commented on #286
The values displayed in the right hand pane under edit on the schedules tab are the day schedule values that are editable in the main gui area.  The values in the right hand pane are not editable because we would have to redraw the schedule view in the main gui every time one of those values changed.  Also we would have to support adding and deleting values from the day schedule in the right hand

[2020-12-30 19:05] LouYingli commented on #286
Thank you for the clarification. I agree that the _Schedule Type Limits Name, Interpolate to Timestop, Hour, Minute,_  and _Value Until Time_ in the right-hand pane do not need to be editable. Because we can edit this information in the main gui area. But the _Name_ of the _ScheduleDay_ should be editable. For example, as shown in the following figure, the _Name_ of the _ScheduleDay_ is "Schedule

[2020-12-30 23:46] DavidGoldwasser opened #289 "Loading included libraries can increase OpenStudio Application Launch Time to 20 minutes"
Enhancement Request
--------------
I was working with someone who saw 20 minute launch time because of 90.1 2010 and 2013 libraries were loaded.

## Detailed Description

I expected to find the library files were older version of OpenStudio but they were up to date. Maybe issue is having two libraries open that may have duplicate object names. (I confirmed some kind of negative interaction. 2010 o

[2020-12-30 23:56] DavidGoldwasser commented on #289
When I quit and launched again 7 minute load time went up to 9 minutes, so maybe that is how the other user had gotten to 20? Not sure what would cause it to get progressively slower.

[2020-12-31 22:39] macumber commented on #286
Oh ok, I see, thanks for clarifying.  Yes, editing the name of the day schedule seems reasonable.  Would it meet your needs if we just did that on the schedule editing tab and not in the edit/inspector?

[2020-12-31 23:04] LouYingli commented on #286
Sorry. What is the schedule editing tab refer to? Do you mean the left-hand pane (in the following figure)? I think it may be easier to make the _Name_ of the _ScheduleDay_ in the right-hand-pane editable.
![image](https://user-images.githubusercontent.com/52507951/103430454-850cb900-4b81-11eb-868a-2a5dc9538825.png)

[2020-12-31 23:32] macumber commented on #286
I'd suggest adding it right on top of the day schedule that is being edited

![image](https://user-images.githubusercontent.com/1327850/103430855-9d7ed280-4b85-11eb-8729-a2b5b1fe9489.png)

[2020-12-31 23:41] LouYingli commented on #286
I see. It's a very good option.

[2021-01-04 00:03] macumber opened #290 "No rendering color for Foundation surfaces in Geometry Viewer"
https://github.com/NREL/openstudio-common-measures-gem/issues/53

[2021-01-11 18:51] LouYingli opened #291 "Provide option to reorder items in the left-hand pane of Geometry/Editor/Floorplan"
Enhancement Request
--------------
Provide option to reorder items in the left-hand pane of Geometry/Editor/Floorplan.

## Detailed Description
The order of the items in the Geometry/Editor/Floorplan/Space cannot be changed. Putting same spaces neighboring makes edition easier. In the following figure, I want to put Classroom (1), Classroom (2), and Classroom (3) neighboring. But there is no optio

[2021-01-11 18:57] LouYingli opened #292 "Spaces in one story cannot be copied along with this story"
Issue overview
--------------
In the Geometry/Editor/Story, the spaces in one story cannot be copied along with this story.

## Current Behavior
When I copy a story, the spaces in this story are not copied to the new story.

## Expected Behavior
The spaces in the story should be copied to the new story.

## Steps to Reproduce

1. Click the copy icon in the Geometry/Editor/Story.
Following is the v

[2021-01-11 19:01] LouYingli opened #293 "Multiplier in the Geometry/Editor/Story cannot be implemented"
Issue overview
--------------
The multiplier in the Geometry/Editor/Story cannot be implemented.

## Current Behavior
Multiplier translation not yet implemented.

## Expected Behavior
Multiplier translation should work well.

## Steps to Reproduce

1.	Set Story Multiplier value to 2.
2.	Click Merge with Current OSM.
Following is the video link of this bug.
https://drive.google.com/file/d/1kafMpOJ1

[2021-01-11 19:05] LouYingli opened #294 "Adding Plenum height causes Model running failure"
Issue overview
--------------
Adding Plenum height causes Model running failure.

## Current Behavior
After adding the Plenum height, the simulation fails to run.

## Expected Behavior
After adding the Plenum height, the simulation should run well.

## Steps to Reproduce

1.	Add Plenum height in the Geometry/Editor/Story.
2.	Click Merge with Current OSM.
3.	Click run.
Following is the video link o

[2021-01-12 02:25] yizhi37 opened #295 "Cannot draw space on geometrical model"
Issue overview
--------------
Cannot draw space on geometrical model.

## Current Behavior

After many spaces being created, space cannot be drawn on the current geometrical model.

## Expected Behavior

Space should be shown on the current geometrical model after drawing.

## Steps to Reproduce

1. Click Rectangle to draw the space named Story 4 - Unit D.
2. Draw the space on current model.
3. Cr

[2021-01-12 02:30] yizhi37 opened #296 "Provide batch operations in Geometry/Editor/Floorplan"
Enhancement Request
--------------
Provide batch operations in Geometry/Editor/Floorplan.

## Detailed Description
When the building has many spaces of the same type, it is not convenient for users to unify the color by changing it one by one.
![Picture1](https://user-images.githubusercontent.com/72763751/104261721-2cc49980-5454-11eb-91bb-0ce8b1b9a1fe.png)

[2021-01-14 07:53] rwadhwa910 opened #297 "Multiple space types getting created while merging floorspacejs with the OSM file"
So what is happening when I am trying to Merge the OSM file in the geometry tab multiple space types are getting created, For example in the video that I have attached you can see when the OSM is merged Corridor 3 and Corridor 4 are created .

https://drive.google.com/file/d/18iau4tVC7tLM_ta54ZMzblk-Ytcfw26T/view?usp=sharing

OS1.1.0
Windows 10

[2021-01-14 08:11] rwadhwa910 opened #298 "Multiple Copies of Schedules getting created"
I have imported a schedule from a library which has 12 different schedules within it. After getting imported each schedule creates a copy of its own schedule as shown in the image below.

OS APP 1.1.0
Windows 10
![1](https://user-images.githubusercontent.com/63880759/104562325-70123a00-5605-11eb-9e79-450b0c71e6b0.PNG)

[2021-01-14 18:39] rwadhwa910 opened #299 "Multiple Faces and Surfaces getting Created"
Whenever I run the simulation, It fails and in the process new faces and surfaces gets created and the model fails because new faces and surfaces do not have a construction assign to them as shown in the image below.

I have attached the model I am having issues with.

![1](https://user-images.githubusercontent.com/63880759/104633767-de361b80-565c-11eb-81ca-38d160ab544d.PNG)

OS App 1.1.0
Windows

[2021-01-14 20:52] jmarrec opened #300 "ZoneHVACWindAndStackArea is missing an icon"
Issue overview
--------------

Noticed while updating an old question https://unmethours.com/question/46736/how-to-introduce-natural-ventilation-in-openstudio-taking-into-consideration-the-outdoor-temperature/?answer=50731#post-id-50731

## Current Behavior

![Screenshot from 2021-01-14 21-47-00](https://user-images.githubusercontent.com/5479063/104647575-5ed33700-56b2-11eb-8463-2717bce26ca8.png)

[2021-01-17 19:03] macumber commented on #298
Can you attach the original OSM you imported @rwadhwa910 ?  By import, do you mean you loaded the OSM as a library and dragged the schedule into your model from the library?

[2021-01-17 19:06] macumber commented on #299
It looks like your default construction set may be missing the entries for interior and exterior wall surfaces.  Have you checked that?

[2021-01-17 19:08] macumber commented on #297
That is strange, can you post the OSM and floorplan.json for this model?

[2021-01-17 19:11] macumber commented on #294
Thanks for the report, this seems like a bad issue.

[2021-01-17 19:15] macumber commented on #292
Would be implemented in FloorspaceJS, existing issue: https://github.com/NREL/floorspace.js/issues/178

[2021-01-17 19:17] macumber commented on #291
Would be implemented in FloorspaceJS, added new issue: https://github.com/NREL/floorspace.js/issues/375

[2021-01-17 19:30] rwadhwa910 commented on #297
@macumber This is the link to the osm file and json.

https://drive.google.com/file/d/18iau4tVC7tLM_ta54ZMzblk-Ytcfw26T/view?usp=sharing

All these three issues 297, 298, and 299 have the same file.

[2021-01-20 20:15] DavidGoldwasser opened #301 "HVAC library doesn't seem to have CoilCoolingDXVariableSpeed"
Issue overview
--------------
User pointed this out on UH
https://unmethours.com/question/50851/openstudio-adding-coilcoolingdxvariablespeed-as-a-component/

## Current Behavior
I see SingleSpped, TwoSpeed, and TwoStage, but not VariableSpeed

## Expected Behavior
Not sure if there is a reason this is not included in the library.

[2021-01-21 09:44] jmarrec commented on #301
The reason is that we didn't register that this needed to be added to the library. Which is going to become more common now that objects are added in the SDK but the OSApp is separated (I had added a checklist in the SDK PR template for it previously).

Registering an object is extremely simple, so I'm marking this as a "good first issue" for any one willing to spare 30 minutes.

I have added a wi

[2021-01-21 15:11] jmarrec commented on #301
Haha, apparently there's already an icon ready, and apparently I'm the one that created it https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/src/openstudio_lib/images/cool_coil_dx_vari_speed.png

I suppose I just forgot to list it in MainRightCOlumnController.cpp.

[2021-01-30 20:17] macumber opened #302 "Wrong version of CONCRT140.dll in Windows installer"
Issue overview
--------------
Version of CONCRT140.dll included in installer is built for:
I386, DLL, Handles addresses larger than 2 GB, Handles 32 bit words, Executable
Microsoft® Visual Studio® 2015, 14.00.23506.0

Other MSVC runtime dlls (e.g. msvcp140.dll) are:
AMD64, DLL, Handles addresses larger than 2 GB, Executable
Microsoft® Visual Studio®,14.28.29325.2

## Current Behavior
Installing in

[2021-01-30 20:41] macumber commented on #302
Included in the GitHub Actions Runner:
https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md

[2021-02-03 10:24] jmarrec opened #303 "Add new ZoneHVAC:CoolingPanel:RadiantConvective:Water to the OpenStudioApplication"
Enhancement Request
--------------

cf https://github.com/NREL/OpenStudio/pull/4157, will be in OS SDK 3.2.0

## Detailed Description

## Possible Implementation

[2021-02-03 10:24] jmarrec opened #304 "Add new Humidifier:Stream:Gas to the OpenStudioApplication"
Enhancement Request
--------------

cf https://github.com/NREL/OpenStudio/pull/4155, will be in OS SDK 3.2.0

## Detailed Description

## Possible Implementation

[2021-02-03 10:25] jmarrec opened #305 "Add new Fan:ComponentModel to the OpenStudioApplication"
Enhancement Request
--------------

cf https://github.com/NREL/OpenStudio/pull/4193, will be in OS SDK 3.2.0

## Detailed Description

## Possible Implementation

[2021-02-03 16:08] macumber opened #308 "Issue with new env var for initial tab"
I'm seeing a ton of this since your changes about env variable for start tab:

[code]

[2021-02-03 17:45] jmarrec commented on #302
@macumber https://github.com/openstudiocoalition/OpenStudioApplication/actions/runs/534415348

I downloaded the produced zip.

[code]

[2021-02-04 05:22] macumber commented on #302
Thanks @jmarrec, I don't know what is happening here but this is interesting.  I downloaded the ZIP package and it does have the right x64 architecture for `concrt140.dll`.  However, if you download the exe installer and install it, you can see that it has a 32 bit x86 architecture `CONCRT140.dll` (different case).  I don't know what this is but it is likely happening in the Qt IFW installer, poss

[2021-02-04 05:25] macumber commented on #302
Possibly running actions with [CPACK_IFW_VERBOSE](https://cmake.org/cmake/help/latest/cpack_gen/ifw.html#debug) would tell us something

[2021-02-04 09:24] jmarrec commented on #302
That's weird... It's the https://gitlab.kitware.com/cmake/cmake/-/blob/master/Modules/InstallRequiredSystemLibraries.cmake module that's responsible for locating the CRT and other DLLs. I'm having trouble seeing why in the context of CPack it would produce different result.

I tested the exe installer. It does at least have the right MSVC version now, but it's 32 bit indeed...

[2021-02-04 10:06] jmarrec commented on #302
I did some changes and am trying to debug cpack in https://github.com/openstudiocoalition/OpenStudioApplication/pull/309

[2021-02-04 11:37] jmarrec commented on #302
https://github.com/openstudiocoalition/OpenStudioApplication/pull/309/checks?check_run_id=1829790427

[code]

[2021-02-04 11:44] jmarrec commented on #302
**IFW**

[code]

**ZIP**
[code]

[2021-02-04 11:51] jmarrec commented on #302
AHH Geeeezzzzzzzz

[code]

[2021-02-04 11:53] jmarrec commented on #302
Something is plain overriding the dll, with an upcase name too

[code]

[2021-02-04 11:56] jmarrec commented on #302
Could this be? https://github.com/openstudiocoalition/OpenStudioApplication/blob/370654f39d8d5d9c11ae612b0376805a9e5768f7/src/openstudio_app/CMakeLists.txt#L383-L392

[2021-02-04 13:38] jmarrec commented on #302
Ok this should be fixed now.

[2021-02-04 14:48] #302 closed

[2021-02-04 16:18] jmarrec commented on #261
I think this is a SDK issue, which I have filed on https://github.com/NREL/OpenStudio/issues/4060

[2021-02-04 16:21] jmarrec commented on #232
I fixed this already: https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/.github/workflows/export_standards_data.yml

[2021-02-04 16:21] #232 closed

[2021-02-04 16:58] nklammer commented on #177
I just wanted to add that the trigger for this problem seems to also be having the GitHub Desktop app open during simulation via the OpenStudio App 1.0.1.

[2021-02-04 16:59] jmarrec commented on #269
@macumber @Ski90Moo Does it really make sense to have it show on "My Model List". The fix is easy, but usually stuff you see in "My Model List" on the loops tab is because either:

* This is a component you define somewhere else (eg a children of a ZoneHVAC object)
* This is component that can be added to 2+ loops, so that when you drag it from the library it gets added to its primary loop, but th

[2021-02-04 17:15] Ski90Moo commented on #269
It is helpful in order to duplicate the component without adding to the library.  So, for example, if I drag in a cooling tower from the library and then proceed to customize it, it becomes part of My Model.  Then, if I want to have two more just like it, I would drag two more from the My Model and drop onto the loop.  Maybe I am doing it wrong?

[2021-02-04 17:30] jmarrec commented on #270
Here: https://github.com/openstudiocoalition/OpenStudioApplication/blob/d4e0710a5418feddb01c8ed3e75a4cc59609e1b8/src/model_editor/IGLineEdit.cpp#L99

[2021-02-04 21:55] jmarrec commented on #269
That's not how it works though. `clone()` method is called only when you drag from "Library", not from "My Model".

In My Model, it would be calling plantLoop.addToNode(object) instead, thus disconnecting it from any previous loops.

It would be a different feature request to allow cloning HVAC Components. (this is something I would personally do via the ruby bindings...)

[2021-02-04 22:29] Ski90Moo commented on #269
Ok, my mistake.

[2021-02-04 23:41] jmarrec commented on #269
No worries. The feature of being able to clone an hvac equipment is valid though. You can open a separate feature request for it. And if you can think of a good way to have that in the UI even better (right now I can't really think of one)

[2021-02-04 23:41] #269 closed

[2021-02-05 01:27] macumber commented on #177
Was your OSM model directory under version control?  If so GitHub Desktop app was probably locking the files or something like that.  Have you seen this in v1.1.0 or higher?

[2021-02-10 08:18] #308 closed

[2021-02-10 13:48] #304 closed

[2021-02-10 13:48] #303 closed

[2021-02-10 15:43] jmarrec commented on #298
@rwadhwa910 ping.

[2021-02-11 11:25] jmarrec opened #311 "Improve readibility of releases pages by wrapping the changelog in a `<details>` tag"
Enhancement Request
--------------

The changelog is too big, there have been at least two questions on Unmet Hours where people couldn't locate the assets.

## Detailed Description

https://unmethours.com/question/51631/cant-get-openstudio-to-download/?answer=51635#post-id-51635

## Possible Implementation

wrapping the changelog in a `<details>` tag

[2021-02-11 11:31] #311 closed

[2021-02-11 11:32] jmarrec commented on #311
fixed via #312

[2021-02-11 11:42] jmarrec commented on #220
This would have to wait for https://github.com/NREL/EnergyPlus/pull/8474

[2021-02-11 11:42] jmarrec commented on #220
https://unmethours.com/question/46686/using-bcl-openstudio-results-si-measure-causes-simulation-failure/?comment=46690#post-id-46690 user reported he made a mistake I think.

[2021-02-13 17:50] macumber commented on #298
I'm not seeing this same behavior but I am seeing orphan schedule day objects created when you "Make a new profile based on" another schedule.

[2021-02-14 19:11] macumber opened #314 "Inspector dialog allows setting invalid object names"
Issue overview
--------------
The InspectorGadget allows setting invalid (e.g. duplicate, empty) names

## Current Behavior
User can setting invalid (e.g. duplicate, empty) names on objects with InspectorGadget in the SketchUp Plug-in, HVAC inspector, etc. OSM files saved in this state are invalid. Object names are "fixed" in non-deterministic way when re-opening the file by `Workspace::resolvePot

[2021-02-17 01:41] eapuertoc commented on #95
I've installed 1.1.0 version of OpenStudio in Ubuntu 20.14 and pops ups the following error when I use "Geometry" Tab.

0216/193531.747208:WARNING:resource_bundle_qt.cpp(115)] locale_file_path.empty() for locale

Qt WebEngine resources not found at /usr/local/openstudioapplication-1.1.0/resources. Trying parent directory...

Qt WebEngine resources not found at /usr/local/openstudioapplication-1.1.

[2021-02-18 16:43] MatthewSteen opened #315 "Save As keyboard shortcut missing"
Enhancement Request
--------------
The Save As shortcut is missing from 3.1.0 on Windows (haven't checked Ubuntu).

![image](https://user-images.githubusercontent.com/8397034/108390062-834c9280-71cd-11eb-9222-7e975b98d0c0.png)

## Detailed Description

## Possible Implementation
https://github.com/NREL/OpenStudio/issues/3740
https://github.com/openstudiocoalition/OpenStudioApplication/pull/45

[2021-02-20 20:09] macumber commented on #315
It looks like that code is still there: https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/src/openstudio_lib/MainMenu.cpp#L80

The problem is that Qt doesn't define a standard shortcut for Save As on Windows (I checked a few programs, Word uses F12, Notepad++ uses Ctrl+Alt+S).  The shortcut is Ctrl+Shift+S on other platforms so maybe we should just set it to Ctrl+Shift+S fo

[2021-02-21 18:55] macumber opened #316 "Update to OpenStudio 3.2"
Enhancement Request
--------------
Update to OpenStudio 3.2

Working branch:
https://github.com/openstudiocoalition/OpenStudioApplication/tree/update_os_3_2

[2021-02-22 15:29] MatthewSteen commented on #315
Yes, `CTRL + SHIFT + S` is my recommendation based on what seems to be standard for other apps (VS Code e.g.).

[2021-02-26 20:02] macumber commented on #299
I'm pretty sure the issue here is that these spaces don't have space types assigned which would bring in the constructions

[2021-02-26 20:02] #299 closed

[2021-02-26 22:10] Ski90Moo opened #317 "Accessing the BCL through the app crashes the app"
Issue overview
--------------
 When selecting components&measures, find measures or find components, it crashes.

## Current Behavior

![0npuxQYjWn](https://user-images.githubusercontent.com/69771412/109360617-64d53f80-783c-11eb-9f31-0a073a402021.gif)

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your env

[2021-02-28 03:16] macumber commented on #317
Hmm, I am not able to reproduce this.  Can you try moving your BCL directory (should be at `C:\Users\%userprofile%\BCL`) temporarily?  You can just rename the `BCL` directory to `NotBCL` then start the App.  This should re-prompt you to sign in and start with a clean library.

[2021-03-01 17:18] Ski90Moo commented on #317
Ok, that fixed it.  I guess I have to re-download all of my measures and components?

[2021-03-02 22:00] MatthewSteen commented on #108
@macumber's fix worked for me on this measure...

* https://github.com/NREL/openstudio-calibration-gem/tree/develop/lib/measures/TimeseriesObjectiveFunction

[2021-03-04 07:40] jmarrec commented on #108
When I did that change:

* The template that ships with the SDK was already updated to be `arguments(model = nil)` https://github.com/NREL/OpenStudio/blob/3650208f2f09905ba612ea122737035bc6577f56/src/utilities/bcl/templates/ReportingMeasure/measure.rb#L27

* A warning is issued in workflow-gem when a reporting measure uses zero arguments: https://github.com/NREL/OpenStudio-workflow-gem/pull/94/fil

[2021-03-04 16:25] jmarrec opened #319 "Wrap new Output:Table:SummaryReports"
Wrap new Output:Table:SummaryReports

[2021-03-05 00:38] rwadhwa910 opened #320 "Plenum Space not getting deleted"
I created a plenum and when I deleted that it comes back, So Once I have created the plenum I cannot delete it by X icon on the spaces tab and if I draw windows and doors these get drawn both on plenum space and the wall.

Although if I go to expand icon in the story tab and then change the Above ceiling Plenum height to zero , plenum spaces go away.

![1](https://user-images.githubusercontent.com

[2021-03-08 16:59] jmarrec commented on #242
Will be fixed in https://github.com/NREL/OpenStudio/pull/4235

[2021-03-09 13:48] #202 closed

[2021-03-09 13:48] #319 closed

[2021-03-09 22:30] LouYingli opened #322 "Delete the coil unit in the air loop"
Issue overview
--------------
When delete the coil unit in the air loop, the same coil unit in the plant loop cannot be deleted automatically.

## Current Behavior
Delete the heating coil in the air loop.

## Expected Behavior
The same heating coil in the plant loop should also be deleted automatically.

## Steps to Reproduce
1.	Delete the heating coil in the air loop in the HVAC system section.
2

[2021-03-10 09:50] jmarrec opened #323 "Remove Construction "AirWall" from default library"
Enhancement Request
--------------

Moved from https://github.com/NREL/OpenStudio/issues/4063

## Detailed Description

Construction:AirBoundary should be now preferred, so remove the `Construction` named "AirWall" from the default.osm.

[2021-03-11 19:34] antoine-galataud commented on #95
same for me, using OpenStudioApp-1.1.0, console traces:

[code]

Note: I have tested opening same model with OpenStudio 2.9.1, works ok.

[2021-03-16 13:14] jmarrec commented on #95
I think we're going to have to add a Github Actions (GHA) runner to build a specific 20.04 installer. (EnergyPlus is doing it, and so is OpenStudio starting in the future 3.2.0 release).

[2021-03-16 13:53] jmarrec commented on #322
Thnaks for the report @LouYingli

I'm going to have to disagree with the wording on this one. Best case it should perhaps ask if you want to also delete it on the PlantLoop if you remove it from the AirLoopHVAC, or remove it from the AirLoopHVAC if you remove it from the PlantLoop. What do you think about this @LouYingli ?

Automatically wiping it from your model makes for a poor UX. There are man

[2021-03-16 20:44] LouYingli commented on #322
Thank you for the clarification. Yes, I mean I want it to be removed from the AirLoopHVAC if I remove it from the PlantLoop. And I  want it to be removed from the PlantLoop if I remove it from the AirLoopHVAC.

[2021-03-21 18:46] Ski90Moo opened #324 "Zone level PTHP does not connect nodes"
Issue overview
--------------
 When I try to apply a zone level packaged terminal heat pump, OS does not connect recognize the control zone or connect the zone nodes.

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1. Create Model
2. Insert PTHP into Zone Equipment
3. Run simulation
4.
![2021-03-21_E](https://user-images.githubusercontent.com/69771412/111917013-f6e6f700-8a3a-11e

[2021-03-22 19:31] DavidGoldwasser opened #325 "Outside Boundary Condition Object drop zone for sub-surfaces doesn't show in grid view"
Issue overview
--------------
See screenshots in this [UH issue](https://unmethours.com/question/53315/how-to-solve-the-invalid-blank-outside-boundary-condition-object-for-my-case/). I don't often work with any interior sub-surfaces so I had not noticed this, but I was able to confirm what user screenshots show, there isn't a drop zone for interior sub-surfaces to manually assign outside boundary

[2021-03-24 02:07] MatthewSteen opened #326 "append new ScheduleRule objects rather than inserting to top"
Enhancement Request
--------------
See https://github.com/openstudiocoalition/OpenStudioApplication/issues/127#issuecomment-474982688. Minor annoyance when adding ScheduleRules sequentially from the beginning of the year to the end.

## Detailed Description

This is what happens to the _first_ `Run Period Profile` after adding another one.

![image](https://user-images.githubusercontent.com/839703

[2021-03-25 04:13] macumber opened #327 "Update FloorspaceJS"
Enhancement Request
--------------
A previous issue which limits the number of times a user can edit a FloorspaceJS JSON file was fixed in https://github.com/NREL/floorspace.js/pull/379

Would like to update the version of FloorspaceJS in the OpenStudio Application to include this fix

[2021-04-06 19:30] DavidGoldwasser opened #328 "Text in OpenStudio Results HTML viewed in app appears white on Windows Machine"
Issue overview
--------------
https://unmethours.com/question/52134/report-text-is-white/?comment=53816#post-id-53816
## Current Behavior

User reports changing between light and dark mode doesn't impact this, and viewing the file in web browser outside of OpenStudio Application doesn't exhibit this issue.

## Expected Behavior

## Steps to Reproduce

## Possible Solution
I'm wondering if fix to s

[2021-04-09 00:52] ARCHI-JIN commented on #328
Thanks for David! And I add the picture for this bug now.[2021-04-07 005153](https://user-images.githubusercontent.com/50307499/114113191-a7e10300-9910-11eb-869c-2a6bba389901.jpg)

[2021-04-10 16:06] macumber commented on #105
Also, schedules are not present in the Library tab so you can't drop them on to design day objects, that should also be addressed.

[2021-04-15 18:59] macumber commented on #135
The selected cell goes out of focus when you click on the scroll bar.  There is a work around which is to select all the rows first and then click on the value to apply so I'm not sure we need to keep this issue open.

[2021-05-05 22:00] LouYingli opened #332 "Making a copy of some measures crushes the app"
Issue overview
--------------
Making a copy of some measures crushes the app.

## Current Behavior
Making a copy of some measures crushes the app. For example, making a copy of SetBoilerThermalEfficiency crushes the app.

## Expected Behavior
A folder named “set_boiler_thermal_efficiency_copy” should be popped up.

## Steps to Reproduce
1.	Select the measure SetBoilerThermalEfficiency.
2.	Click th

[2021-05-05 22:12] LouYingli opened #333 "Make monthly electricity generation from solar cells as an output of simulation results."
Enhancement Request
--------------
Make monthly electricity generation from solar cells as an output of simulation results.

## Detailed Description
Monthly electricity consumption data and monthly natural gas consumption data are displayed in the OpenStudio output file. It would be great if the monthly electricity generation from solar cells can also be displayed in the OpenStudio output file.

#

[2021-05-13 15:00] macumber commented on #316
Closed in https://github.com/openstudiocoalition/OpenStudioApplication/pull/331

[2021-05-13 15:00] #316 closed

[2021-05-14 18:32] MatthewSteen commented on #170
Related in 1.1.0 infiltration schedules can be deleted from Space Types > Loads using the ✖️ but do not show as deleted in the app.

![image](https://user-images.githubusercontent.com/8397034/118313524-138a3300-b4b0-11eb-9d45-fc5461ba478f.png)

![image](https://user-images.githubusercontent.com/8397034/118313606-34eb1f00-b4b0-11eb-904a-11bd7f13ef53.png)

[2021-05-15 02:27] macumber commented on #170
The last item reported by @MatthewSteen will be fixed in 1.2.0.  Rest of this issue is still valid

[2021-05-15 16:49] #270 closed

[2021-05-16 00:37] macumber opened #335 "Clicking items in drop zones to show in inspector is very slow"
Issue overview
--------------
 SpacesSpaces, Clicking ThermalZone items in drop zones to show in inspector is very slow
 ThermalZones, Clicking ZoneHVAC items in drop zones to show in inspector is very slow

[2021-05-16 00:38] macumber opened #336 "Disable redraws when doing bulk add or delete"
Issue overview
--------------
For example when deleting entire story on SpacesGeneral

[2021-05-16 00:40] macumber opened #337 "Redo Refrigeration Cases as Regular Grid View"
Enhancement Request
--------------
Refrigeration Cases UI is too complex, redo as a normal GridView with one object type at a time

## Possible Implementation
Possibly group GenerationEquipment or other objects

[2021-05-16 00:42] macumber opened #338 "Look at replacing some connect and singleshot timers with Qt::ConnectionType = QueuedConnection | UniqueConnection"
Issue overview
--------------
Look at replacing some connect and singleshot timers with Qt::ConnectionType = QueuedConnection | UniqueConnection

## Current Behavior
Some connections can result in mutliple executions per event loop, replace with other connection types to reduce number of times called

[2021-05-17 02:42] macumber commented on #85
I think this was a styling issue, the button was working (in that the value in the JSON was changed) but the appearance on the app didn't change.  I think this is fixed in 1.2.0-RC1.

[2021-05-20 07:13] damianCaceres commented on #123
Hello:
I'm interested in this issue (good first issue)
C++ level: beginner
Thank you

[2021-05-21 05:26] macumber commented on #123
Hi @damianCaceres that is great!  The first thing to do is to get your build environment set up.  Have you been able to clone the repo and build locally (see https://github.com/openstudiocoalition/OpenStudioApplication/wiki/Configuring-OpenStudio-Application-Build-Environments)?  After that you will want to make a personal fork of this repo where you can commit your work.  Let me know when you get

[2021-05-21 05:28] macumber opened #340 "Subsurface boundary conditions display wrong"
Reported at https://github.com/NREL/OpenStudio/issues/4328

[2021-05-21 05:29] macumber commented on #340
@onnomobile Can you let us know what version of the OpenStudio Application you are using?  Are you able to share your OSM that demonstrates the issue?

[2021-05-21 06:10] onnomobile commented on #340
Thx. This is a minor bug, but just wanted to let you know. I use OpenStudio Application 1.1.0+b2e7010aa0 (SDK core 3.1.0). Model issued from Sketchup Pro with OS plugin.
![image](https://user-images.githubusercontent.com/84503044/119090361-d4a63100-ba0b-11eb-9795-da363dab7252.png)
I can't upload the osm file apparenty.

[2021-05-21 09:15] damianCaceres commented on #123
I've built and install successfully OpenStudioApp, develop branch alfa tag. The App opens without segfault.
To be honest, I didn't find the instructions. I make everything from scratch. Obviously I need a few weeks to know the environment and to read the wiki page ...
Thanks you. Nice day.

[2021-05-21 09:29] ArnaudBvr commented on #95
I checked in `/usr/local/openstudioapplication-1.1.0/bin/xcbglintegrations` and file `libqxcb-glx-integration.so` is present (fresh install).

Any idea on why the geometry editor is not working ? Any temporary fix while waiting for OSA 1.2.0 ?

[2021-05-22 18:31] macumber commented on #95
@jmarrec there already is a `ubuntu-20.04` runner in the matrix, looks like that has been there for a while.  Can you explain what you meant by "add a Github Actions (GHA) runner to build a specific 20.04 installer"?  You think we need to set some CMake configurations differently on 20.04?

[2021-05-22 20:01] macumber commented on #95
What versions of Ubuntu are people using?  20.04 is still the current LTS version.

[2021-05-23 15:48] MatthewSteen commented on #95
I'm using 20.04 on my personal and work (via WSL2) machines.

[2021-05-25 07:03] ArnaudBvr commented on #95
I'm also on 20.04, same as @MatthewSteen

[2021-05-25 11:19] jmarrec commented on #95
@macumber Yeah it's definitely added already in terms of runner + FindOpenStudioSDK.cmake now, no further action needed at this point. I've done that when we bumped to 3.2.0-rc1: https://github.com/openstudiocoalition/OpenStudioApplication/pull/329, specifically in this commit: https://github.com/openstudiocoalition/OpenStudioApplication/pull/329/commits/0d032771fcbdb3a24b65e64d5bfbaa0dbd334174

[2021-05-25 11:29] jmarrec commented on #95
I'm looking into this issue right now

[2021-05-25 12:05] jmarrec opened #341 "Add functionality to load the openstudio::model::exampleModel() directly in the UI"
Enhancement Request
--------------

Add functionality to load the openstudio::model::exampleModel() directly in the UI

https://github.com/NREL/OpenStudio/blob/734787b8bb99d3507d1a7a7adcdfe202212eabc7/src/model/Model.cpp#L1323-L1327

[2021-05-25 12:24] jmarrec commented on #95
Difference, for OpenStudioApplication 1.1.0 official from Ubuntu18.04 (left) to Ubuntu 20.04

Produced with `cd /usr/local/openstudioapplication-1.1.0/bin && OPENSTUDIO_APPLICATION_DEBUG=1 QT_DEBUG_PLUGINS=1 ./OpenStudioApp`

![image](https://user-images.githubusercontent.com/5479063/119497472-e87fc900-bd64-11eb-83d8-276711f3cc2b.png)

[2021-05-25 12:44] jmarrec commented on #95
https://bugreports.qt.io/browse/QTBUG-82589

[2021-05-25 13:03] ArnaudBvr commented on #95
I read that and got the gist ; not sure how to fix it though. Is there anything I can do locally as a temporary fix or is it up to you devs to release a fix in the next update ?

[2021-05-25 13:28] jmarrec commented on #95
I'm kinda clueless about what's actually happening. I locally made copies of the resources/translations files in the location where the loader expects them, but that doesn't solve the issue whatsoever: the geometry preview view stays completely blank...

[2021-05-25 14:06] jmarrec commented on #95
@macumber any thoughts?

I also noticed this weird linker error in the Ubuntu 20.04 build: https://github.com/openstudiocoalition/OpenStudioApplication/runs/2591209238?check_suite_focus=true#step:18:964 . I don't think it's related though.

[code]

[2021-05-25 14:57] jmarrec commented on #95
Hum, if I replace the geometry_preview.html with a hello world example, then it works...

[code]

[2021-05-25 15:33] jmarrec commented on #95
See commit https://github.com/openstudiocoalition/OpenStudioApplication/commit/fb2630c194aa84ab3b5500fca427c5fb78d4f30a

Ubuntu 18.04:

[code]

[2021-05-25 16:13] jmarrec commented on #95
OK some progress. I changed this https://github.com/openstudiocoalition/OpenStudioApplication/blob/e47cbb1e9ca01179fe5547f96100291392902b5f/src/openstudio_lib/GeometryPreviewView.cpp#L125

To load from my local (non-embedded) filesystem:

[code]

Now:

[code]

[2021-05-25 17:03] jmarrec commented on #95
I've found a (shitty) workaround, which consists into loading the content of the embedded file, then calling QWebEngineView::setHTML. I've opened a question on stackoverflow here, in the hope of getting pointers: https://stackoverflow.com/questions/67692525/cannot-load-qrc-html-file-in-qwebengineview-on-ubuntu-20-04-only

[2021-05-26 15:31] jmarrec commented on #95
@eapuertoc @ArnaudBvr @MatthewSteen Could any of you install the v1.2.0-rc2 I just released and report back please? It should fix it... https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc2

[2021-05-26 16:03] jmarrec commented on #333
You are refering to the OpenStudio results measure from BCL, which we have absolutely no control over. I suggest opening an issue on https://github.com/NREL/openstudio-common-measures-gem instead, which is where it lives

[2021-05-26 16:03] #333 closed

[2021-05-26 16:14] eapuertoc commented on #95
Hi, I installed but doesn't open:

./OpenStudioApp: error while loading shared libraries: libopenstudiolib.so: cannot open shared object file: No such file or directory

Something I install wrong?

[2021-05-26 16:40] jmarrec commented on #332
Issue confirmed with Ubuntu 18.04, application 1.2.0-rc2 (local build of it). It only does so for BCL measures, it works fine for local measures.

[2021-05-26 16:45] jmarrec commented on #332
Haha, I used a C++ debugger and stopped to inspect what the program was doing. I think there's an infinite loop happening that's not hard to spot

[code]

[2021-05-26 17:01] jmarrec commented on #328
I can't reproduce. @chrisbalbach tested with windows 10 and openstudio 1.1.0+b2e7010aa0 and it worked fine. I'm closing, but if you have more info to give to help reproduce I'm happy to reopen. Thanks!

[2021-05-26 17:01] #328 closed

[2021-05-26 17:04] jmarrec commented on #332
THis happens here: https://github.com/NREL/OpenStudio/blob/734787b8bb99d3507d1a7a7adcdfe202212eabc7/src/utilities/bcl/BCLMeasure.cpp#L878

[2021-05-26 17:06] jmarrec commented on #332
How the hell was that working before?

[2021-05-26 20:19] jmarrec commented on #332
Bottom line is that:

We have a measure called `Measure`. By default when you click duplicateMeasure in the OS App, it will propose a new name `Measure Copy`. So when openstudio::replace is called, `after` (thing to replace with) contains the substring `before` (the thing to replace). And since the openstudio::replace is broken (missing `loc += after.size();` after the replace), it constantly find

[2021-05-27 02:56] macumber commented on #328
@ARCHI-JIN were you using dark mode by any chance?

[2021-05-27 07:07] jmarrec commented on #95
@eapuertoc Thanks for testing. I will look into it...

[2021-05-27 07:15] jmarrec opened #345 "libopenstudiolib.so missing on Ubuntu 18.04 and 20.04 in 1.2.0-rc1 and 1.2.0-rc2"
Issue overview
--------------

libopenstudiolib.so isn't installed anymore, it was in 1.1.0.

## Current Behavior

[code]

[2021-05-27 07:31] jmarrec commented on #345
1.1.0

[code]

1.2.0

[code]

Same but in install dirs:

[code]

[2021-05-27 08:16] jmarrec commented on #345
I've diffed all of our CMakeLists.txt / .cmake files, and I see absolutely no changes that would make this any different... I have no clue how the libopenstudiolib.so ended up also installed in ./bin/ in addition to ./lib/ before. Anyways, I don't think having TWICE the same 70MB library file was a good thing...

[2021-05-27 08:46] jmarrec commented on #345
I tracked the difference down to between 1.1.1-alpha2 and 1.1.1-alpha3

https://github.com/openstudiocoalition/OpenStudioApplication/compare/v1.1.1-alpha2...v1.1.1-alpha3

[2021-05-27 08:57] jmarrec commented on #345
And obviously it's my fault....  This is this commit: https://github.com/openstudiocoalition/OpenStudioApplication/commit/d2cf6ef67cc27fe5e5ecc7e38872c9368db2d118

Specifically, the fact that I wrapped the fixup_bundle into the If block, preventing its execution on Linux...

https://github.com/openstudiocoalition/OpenStudioApplication/blob/e47cbb1e9ca01179fe5547f96100291392902b5f/src/openstudio_ap

[2021-05-27 09:09] jmarrec opened #347 "Investigate RPATH options to avoid copies of openstudiolib in installed package"
Enhancement Request
--------------

Following #345, we should investigate options to avoid duplicating the `openstudiolib` library (`libopenstudiolib.so` on ubuntu, `openstudio.dll` on windows)

On Ubuntu at least, the libopenstudiolib.so is copied both in `./bin/` and `.lib`, resulting in an extra 87 MB.

On Windows, same, but it's 62MB. (on Windows it might be too much trouble since it doesn't s

[2021-05-27 10:53] jmarrec commented on #332
Moved issue to https://github.com/NREL/OpenStudio/issues/4331

[2021-05-27 11:05] jmarrec commented on #95
@eapuertoc Could you try again with https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc2 please?

I tried on one of my machines and it segfaulted, but I am not sure if it's specific to my system (I did some weird stuff with my system libraries recently...).

@macumber do you have a 20.04 handy?

[2021-05-27 11:11] jmarrec commented on #95
Ubuntu 18.04:

[code]

This is going great!

[2021-05-27 11:19] jmarrec commented on #95
Ubuntu 20.04

[code]

[2021-05-27 11:21] jmarrec commented on #95
Ok I can fix it manually, it is indeed due to libQt5XcbQpa

[code]

With that, the OpenStudioApp launches...

[2021-05-27 11:24] jmarrec commented on #95
I think it's your changed here @macumber https://github.com/openstudiocoalition/OpenStudioApplication/commit/35e36e010366003ce11e7ecd30a4d13b75349bf2#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20aR570

[2021-05-27 11:38] jmarrec commented on #95
with your change, cmake picks up:

[code]
As a result

[code]

If I revert, cmake picks up:

[code]

AS a result:

[code]

SO confirmed

[2021-05-27 11:40] jmarrec commented on #345
Lot more convo/investigation on https://github.com/openstudiocoalition/OpenStudioApplication/issues/95#issuecomment-849542178

[2021-05-27 13:40] jmarrec opened #349 "Annoying messages in console about QWebEngine not finding its resources/translations"
Issue overview
--------------

## Current Behavior

Run `OPENSTUDIO_APPLICATION_DEBUG=1 /usr/local/openstudioapplication-1.2.0-alpha/bin/OpenStudioApp` then click on the Geometry Preview tab, look at console output:

[code]

## Possible Solution

Install these resources/translation in the appropriate directory. Use a `qt.conf` file in both installed and local build directory (local too so that we

[2021-05-27 15:04] eringold opened #351 "App crashes when cloning air loop containing AirLoopHVAC:UnitarySystem"
Issue overview
--------------
Maybe related to https://github.com/openstudiocoalition/OpenStudioApplication/issues/217

## Current Behavior
App crashes (closes with no message) when cloning an AirLoopHVAC with AirLoopHVAC:UnitarySystem on supply side.

## Steps to Reproduce

1. Create empty Air Loop
2. Drag in AirLoopHVAC:UnitarySystem (I used just DX coil UnitarySystem, so there's no loop connect

[2021-05-28 07:06] #327 closed

[2021-05-28 07:09] #286 closed

[2021-05-28 07:09] #315 closed

[2021-05-28 07:09] #95 closed

[2021-05-28 07:09] #268 closed

[2021-05-28 07:09] #345 closed

[2021-05-28 07:12] #349 closed

[2021-05-28 14:19] jmarrec opened #353 "OpenStudioApplication 1.2.0 - Release Checklist"
- [x] Release Notes
- [x] Update OSM libraries to the right SDK version
- [x] Test Windows Installer
    - [x] Julien: clean Win10 VM (rc3)
- [x] Test Mac Installer
- [x] Test Ubuntu 18.04 Installer
    - [x] Julien (Note: on a developper machine) (rc3)
- [x] Test Ubuntu 20.04 Installer
- [x] Remove prerelease version and create tag
- [ ] Email Blast

[2021-05-28 15:18] jmarrec commented on #333
Also, there is a section already: https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/openstudio_results/resources/os_lib_reporting.rb#L2453-L2491

[2021-05-28 15:37] jmarrec commented on #353
Windows 10: clean VM.

I got the usual Windows defender warning when installing.
The CLI is functional, used it to create the exampleModel

[code]

Loaded it

Clicked through all tabs. Changed things randomly.
GeometryPreview works.
Added BCL measure openstudio_results
Ran simulation successfully.
Was able to inspect the reports.

[2021-05-28 16:40] macumber commented on #326
I think this is an OpenStudio SDK issue, ScheduleRule's put themselves at index 0 on creation

https://github.com/NREL/OpenStudio/blob/develop/src/model/ScheduleRule.cpp#L596

[2021-05-28 18:45] macumber commented on #340
Nice catch, I've fixed this for 1.2.0

[2021-05-28 18:56] macumber commented on #295
This might be fixed by upgrade to newest FloorspaceJS in version 1.2.0 which includes:

https://github.com/NREL/floorspace.js/commit/8799f0cc7e7cffc7cdb9502507d77ba13d1eef40

Are you able to test with https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc3 ?

[2021-05-28 18:57] macumber commented on #296
Moving to https://github.com/NREL/floorspace.js/issues/387

[2021-05-28 18:57] #296 closed

[2021-05-28 19:05] macumber commented on #149
Closing for now, we can have new issues for further changes

[2021-05-28 19:05] #149 closed

[2021-05-28 19:38] macumber opened #356 "Can only run OpenStudioApp from install directory on Ubuntu"
Issue overview
--------------
Can only run OpenStudioApp from install directory, or via absolute path, when launching from terminal.

## Current Behavior
Calling `OpenStudioApp` from the command line from non-install directory results in an exception thrown and App quits

## Expected Behavior
Calling `OpenStudioApp` from the command line from non-install directory works

### Environment

Some addi

[2021-05-28 21:05] macumber commented on #294
I think there are two separate issues here.

First issue:
1. Create floor plan, merge with model
2. Set building construction set
3. Return to floor plan, merge with model
4. Building construction set is removed

Second issue:
1. Create floor plan, add plenum height, merge with model
2. Assign thermal zone to plenum
3. Return to floor plan, merge with model
4. Additional thermal zones are created

[2021-05-28 21:11] #85 closed

[2021-05-28 21:11] #220 closed

[2021-05-29 18:25] #294 closed

[2021-05-29 18:25] #323 closed

[2021-05-29 18:25] #340 closed

[2021-05-29 18:25] #320 closed

[2021-05-29 18:26] #325 closed

[2021-05-29 18:40] macumber commented on #283
Duplicate of https://github.com/openstudiocoalition/OpenStudioApplication/issues/85

[2021-05-29 18:40] #283 closed

[2021-05-29 18:40] macumber commented on #287
Need to try updating version of ThreeJS https://github.com/openstudiocoalition/OpenStudioApplication/issues/233

[2021-05-29 18:57] macumber commented on #276
Fixed with Grid View enhancements

[2021-05-29 18:57] #276 closed

[2021-05-29 18:59] macumber opened #357 "Upgrade 3D Viewer and ThreeJS"
Enhancement Request
--------------
Update with latest from https://www.ladybug.tools/spider-2020/spider-idf-viewer/v-2020-10-09/spider-idf-viewer.html

[2021-05-29 19:00] #264 closed

[2021-05-29 19:03] macumber commented on #78
Related to https://github.com/openstudiocoalition/OpenStudioApplication/issues/337

[2021-05-29 19:06] #317 closed

[2021-05-29 19:07] #295 closed

[2021-05-29 19:35] macumber commented on #293
Currently a warning is shown, the real issue is that multipliers are set on ThermalZones in OS which may not map cleanly to Story (where multiplier is set in FloorspaceJS)

[2021-05-29 19:36] #291 closed

[2021-05-29 19:36] #292 closed

[2021-05-29 19:45] #207 closed

[2021-05-30 01:18] eapuertoc commented on #95
Hi, I follow the instructions:
cd /usr/local/openstudioapplication-1.2.0-alpha/bin/
sudo ln -sf libQt5XcbQpa.so libQt5XcbQpa.so.5
sudo ln -sf libQt5XcbQpa.so libQt5XcbQpa.so.5.15
sudo ln -sf libQt5XcbQpa.so libQt5XcbQpa.so.5.15.0

Same problem. if I copy the libopenstudiolib.so file i the bin folder it pops up the following error:

./OpenStudioApp: error while loading shared libraries: libQt5QmlMo

[2021-05-30 05:17] macumber commented on #95
@eapuertoc did you try the v1.2.0-rc4 release?  There were some changes in the Linux installer that should have helped:

https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc4

[2021-05-30 17:24] macumber opened #358 "Cannot run geometry editor on systems without OpenGL 2.0"
Issue overview
--------------
Geometry Editor fails to run on systems without OpenGL 2.0

## Current Behavior
App will either crash or (on VirtualBox VMs) graphics will display inverted when going to geometry tab

## Expected Behavior
Geometry tab should work

## Steps to Reproduce
Run OpenStudio in Windows VM on VirtualBox with enable 3D graphics option off

## Possible Solution
Ship Angle OpenGL

[2021-05-30 17:38] macumber commented on #297
@rwadhwa910 it seems that your issue files are no longer on your google drive.  if you are able to repost them i can transfer to our private issue files repo.  sorry i didn't grab them sooner.

[2021-05-30 17:43] jmarrec commented on #261
Fixed on sdk side

[2021-05-30 17:43] #261 closed

[2021-05-31 02:00] eapuertoc commented on #95
Hi @macumber, I didn't see that link in the comments. I used and work almost fine, Geometry works perfect, the only little problem is that the maximize button doesn't exists. But it's long enough to work with. Thank you for you help.

[2021-05-31 10:55] jmarrec commented on #328
@macumber He said in a comment on https://unmethours.com/question/52134/report-text-is-white/?comment=53816#post-id-53816  that switching between black and white modes didn't help. It's not clear if the change was done WHILE the app was running or not though.

[2021-05-31 11:26] jmarrec commented on #210
Field is here, and it's fine. But there's a bunch of fields that are shown that shouldn't (The mixer/splitter stuff).

![image](https://user-images.githubusercontent.com/5479063/120185830-004ac780-c213-11eb-99c8-ce13aff7594d.png)

[2021-05-31 11:39] jmarrec commented on #219
Made a mistkae, I meant to close #210...

[2021-05-31 11:40] jmarrec commented on #210
Fixed via #361

[2021-05-31 11:40] #210 closed

[2021-05-31 11:50] #219 closed

[2021-05-31 11:56] jmarrec commented on #356
Confirmed on Ubuntu 18.04 as well:

[code]

[2021-05-31 12:37] jmarrec commented on #356
https://github.com/openstudiocoalition/OpenStudioApplication/blob/b448816a655346f76bfd0e1cb95bd6edd72935b2/src/openstudio_app/OpenStudioApp.cpp#L394

https://github.com/openstudiocoalition/OpenStudioApplication/blob/b448816a655346f76bfd0e1cb95bd6edd72935b2/src/openstudio_app/OpenStudioApp.cpp#L1482

https://github.com/openstudiocoalition/OpenStudioApplication/blob/b448816a655346f76bfd0e1cb95bd6edd

[2021-05-31 13:42] jmarrec commented on #95
@eapuertoc Could you send a screenshot of the maximize button thing?

[2021-05-31 13:54] #356 closed

[2021-05-31 15:52] eapuertoc commented on #95
![ImageOpenstudio](https://user-images.githubusercontent.com/60450931/120217558-22861a80-c1fe-11eb-9b5f-cab931cbd213.jpg)

[2021-05-31 16:06] jmarrec opened #364 "FloorspaceJS with a map doesn't work"
Issue overview
--------------

[code]

![image](https://user-images.githubusercontent.com/5479063/120218978-cdb4c500-c23a-11eb-83e7-74085b489675.png)

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): U

[2021-05-31 16:39] MatthewSteen commented on #95
The Geometry tab (and min/max buttons) works on my copy of [v1.2.0-rc5](https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc5) on 20.04. This is a 3.1.0 OSM opened with 1.2.0-rc5.

![Screenshot from 2021-05-31 10-35-38](https://user-images.githubusercontent.com/8397034/120221733-24e77500-c1fc-11eb-9271-fee4560b197f.png)

[2021-05-31 16:48] eapuertoc commented on #95
I can't specify where's the problem, doesn't generates error when I run in terminal. The first time you open appears, but if you clicked it dissapears.

[2021-05-31 16:56] macumber opened #365 "Cannot edit plug load densities on Mac after running simulation and looking at results"
Issue overview
--------------
Cannot edit plug load densities on Mac

[2021-05-31 18:13] macumber opened #366 "Cannot view map in geometry editor"
Issue overview
--------------
Cannot view map in geometry editor

[2021-05-31 19:16] macumber commented on #364
Duplicate of #366

[2021-05-31 19:16] #364 closed

[2021-05-31 19:21] macumber commented on #11
@jmarrec this is done right?  we are using aqtinstall to install official qt for all ci builds right?

[2021-05-31 19:21] #11 closed

[2021-05-31 19:56] macumber commented on #365
Downgrading severity.  This seems to occur when:

1. Run simulation
2. Look at results tab
3. Go directly to Load Definition tab

You can edit the equipment densities but have to hit return rather that just click out of the box, issue seems to resolve after going to other tabs.  My guess is something is wrong with the focus events in this case

[2021-05-31 20:38] #366 closed

[2021-05-31 21:07] jmarrec opened #369 "CLI Process is orphaned when exiting the App (produces a crash report on mac)"
Issue overview
--------------

I could see the warning on ubuntu but on mac I get a full crash report.

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1. Launch App
2. Exit App

## Possible Solution

terminate the process correctly

## Details

<details>
<summary>Crash report on mac</summary>

[code]

</details>

### Environment

Some additional details about your environment fo

[2021-05-31 21:15] jmarrec commented on #365
can't reproduce on Ubuntu 20.04

[2021-05-31 21:17] jmarrec commented on #347
Fixed via #348

[2021-05-31 21:17] #347 closed

[2021-05-31 21:19] jmarrec commented on #305
Wiki entry describing each step required to do this enhancement request: https://github.com/openstudiocoalition/OpenStudioApplication/wiki/Registering-a-new-SDK-object-in-the-OSApp

Should take little time, mostly requires creating an icon that's somewhat different than the other fans

[2021-05-31 22:07] #305 closed

[2021-05-31 22:11] jmarrec commented on #351
Ok, this seems like an App problem, can't reproduce in the CLI

[code]

[2021-05-31 22:13] jmarrec commented on #351
It looks like an orphaned node... I've definitely seen something similar in the past:

[code]

[2021-05-31 22:17] macumber commented on #71
It's possible that orphan CLI processes were holding this folder locked.  When this happens next can you use [unlocker](http://www.emptyloop.com/unlocker/) to see which process it is?  If it is `openstudio` then there is a good chance that will be fixed in https://github.com/openstudiocoalition/OpenStudioApplication/issues/369

[2021-05-31 22:25] jmarrec commented on #351
Yeah no it is a SDK issue. I can crash the app only by using the CLI to prepare the model

[code]

[2021-05-31 22:25] #351 closed

[2021-05-31 22:26] jmarrec commented on #351
Moved to https://github.com/NREL/OpenStudio/issues/4335

[2021-05-31 22:42] jmarrec commented on #326
Closing, it's an SDK thing. Feel free to open an issue over there.

[2021-05-31 22:42] #326 closed

[2021-05-31 22:44] jmarrec commented on #287
@LouYingli Could you try with this installer please? https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc5

[2021-05-31 22:49] jmarrec commented on #274
[code]

backtrace

[code]

[2021-05-31 22:53] jmarrec commented on #274
Transfered as a SDK issue: https://github.com/NREL/OpenStudio/issues/4336

[2021-05-31 22:53] #274 closed

[2021-05-31 23:01] jmarrec commented on #233
Works fine now. Was fixed on the SDK side. I can load the supplied json in under 10 secs:

![image](https://user-images.githubusercontent.com/5479063/120247746-d88c4b80-c274-11eb-98e6-8ca9ed4bf56d.png)

[2021-05-31 23:01] #233 closed

[2021-05-31 23:02] macumber commented on #108
I think this can be closed

[2021-05-31 23:02] #108 closed

[2021-05-31 23:03] jmarrec commented on #116
Still true as of v1.2.0-rc5

[2021-05-31 23:06] jmarrec commented on #115
Updating with permalink to this repo: https://github.com/openstudiocoalition/OpenStudioApplication/blob/fd5afb70ccde5acd4f32d08e2beb48fb4df8b59e/src/shared_gui_components/WorkflowController.cpp#L184-L207

[2021-05-31 23:10] #369 closed

[2021-05-31 23:34] LouYingli commented on #287
The 3D view of this installer works well.

[2021-06-01 00:21] jmarrec commented on #274
Should be fixed via https://github.com/NREL/OpenStudio/pull/4337 (next release after 1.2.0 then)

[2021-06-01 07:03] jmarrec commented on #353
My testing of https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc6

* [x] Ubuntu 18.04 (dev machine)
* [x] Ubuntu 20.04 (dev machine)
* [X] Windows 10 (20H2, clean VM)
* [ ] macOS

[2021-06-01 07:19] jmarrec commented on #11
yes

[2021-06-01 07:27] jmarrec commented on #287
@LouYingli Thank you for testing it. Closing!

[2021-06-01 07:27] #287 closed

[2021-06-01 07:32] jmarrec commented on #324
I doubt the error message you are showing us has nothng to do with the PTHP. the PTHP does not involve SPM:SingleZone:Reheat whatsoever. I have added a PTHP to the exampleModel() and the simulation ran just fine with v1.2.0-rc6

I'm going to close this, but I'm happy to reopen if I can get something reproducible.

[2021-06-01 07:32] #324 closed

[2021-06-01 07:44] jmarrec opened #371 "Should freeze the OSApp when changing Library defaults while it's still loading them"
Issue overview
--------------

Should freeze the OSApp and display the WaitDialog when changing Library defaults while it's still loading them

## Current Behavior

See Steps to reproduce

## Expected Behavior

Display WaitDialog until done?

## Steps to Reproduce

While investigated https://github.com/openstudiocoalition/OpenStudioApplication/issues/289 I realized that I can click "Change Default

[2021-06-01 07:46] jmarrec commented on #289
If you add both libraries while looking at the console output with Debug log level, the "problem" is quite clear giving the extremely large number of warnings that pop up very very very fast: It's the duplicated names...

Here's a very tiny extract:

[code]

[2021-06-01 08:33] jmarrec opened #372 "writeLibraryPaths does not update the settings file OpenStudioApp.conf with new paths when it's not writable: warn user"
Issue overview
--------------

## Current Behavior

writeLibraryPaths does not update the OpenStudioApp.conf with new paths

## Expected Behavior

Upon loading a new library, I expect the ~/.config/NREL/OpenStudioApp.conf to be updated to include the `library` keys, but it does not

## Steps to Reproduce

1. Open OSapp
2. File > Load Library > Select an OSM (eg `DOE_Ref_pre_1980.osm`)
3. Look at ~

[2021-06-01 08:57] jmarrec commented on #372
PEBKAB. Well kinda. this is mostly because I'm a developer, and because I have launched the App as sudo at one point, which had the effect of making my OpenStudioApp.conf owned by root. so `settings.isWritable()` is false

[2021-06-01 09:13] jmarrec commented on #273
Can't reproduce on Ubuntu 18.04, but indeed I can reproduce on windows 10 with 1.2.0-rc6

[2021-06-01 09:16] jmarrec commented on #358
Windows server vm, launching the app I see this

[code]

When switching to geometry tab

![image](https://user-images.githubusercontent.com/5479063/120298904-c3daa280-c2ca-11eb-87d7-7c6e656ff819.png)

[2021-06-01 09:16] jmarrec commented on #358
![image](https://user-images.githubusercontent.com/5479063/120298951-d0f79180-c2ca-11eb-8768-e101d10a3ff3.png)

[2021-06-01 09:30] jmarrec commented on #71
Assuming it's fixed by #369, and if not need more info to reproduce. Happy to reopen if bug is confirmed with 1.2.0 (or 1.2.0-rc6) and  more info is provided

[2021-06-01 09:30] #71 closed

[2021-06-01 09:35] jmarrec commented on #228
Assuming this is fixed via https://github.com/NREL/OpenStudio/pull/4221. Try out the v1.2.0-rc6 (or 1.2.0 if it's posted...) and if it still fails, report back and I'll reopen.

[2021-06-01 09:35] #228 closed

[2021-06-01 09:39] jmarrec commented on #231
Link to the project is gone.

Also, you shouldn't have the model companion folder open in the Windows Explorer while you try to run a simulation. The reason is that the companion folder is copied to a temp dir, the simulation executes, and then it tries to copy that temp folder back to the actual location on disk. If you have it open in Windows Explorer, you can't because it has a handle on the fo

[2021-06-01 09:39] #231 closed

[2021-06-01 09:48] jmarrec commented on #249
FYI this is as simple as modifying https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/src/openstudio_lib/images/OAMixer.png (and saving a smaller 24px height one in mini_icons) as well.

[2021-06-01 09:51] #249 closed

[2021-06-01 09:51] jmarrec commented on #249
Fixed in #374

![image](https://user-images.githubusercontent.com/5479063/120304060-b83daa80-c2cf-11eb-80bd-decf093d48e7.png)

[2021-06-01 09:52] jmarrec commented on #223
This is likely an SDK issue.

[2021-06-01 09:52] #223 closed

[2021-06-01 10:01] #251 closed

[2021-06-01 10:05] jmarrec commented on #190
I think you're hitting #332, something just went wrong because you using "XcelEDATariffSelectionandModelSetup Copy" when copying "XcelEDATariffSelectionandModelSetup". Try to delete your My Measures/XcelEDATariffSelectionandModelSetup Copy and redo with a name that doesn't contain the original name.

I'm closing until further notice.

[2021-06-01 10:05] #190 closed

[2021-06-01 10:08] jmarrec commented on #188
Just tested and can't reproduce with 1.2.0-rc6. Happy to reopen if detailed steps to reproduce are provided.

[2021-06-01 10:08] #188 closed

[2021-06-01 10:10] jmarrec commented on #178
v.1.2.0-rc6, can't reproduce. As far as the space crashing this is #274 which I fixed on https://github.com/NREL/OpenStudio/pull/4337

[2021-06-01 10:10] #178 closed

[2021-06-01 10:12] jmarrec commented on #215
Reproduced in v1.2.0-rc6 on Ubuntu 18.04

[2021-06-01 10:38] jmarrec commented on #215
I think the issue is with AirLoopHVAC::terminalForLastBranch which doesn't pick it up

https://github.com/NREL/OpenStudio/blob/92a416c03a98b44b67668e5b3d6d3c89be729afa/src/model/AirLoopHVAC.cpp#L296-L332

Will transfer it over to https://github.com/NREL/OpenStudio/issues/4338

[2021-06-01 10:38] #215 closed

[2021-06-01 12:16] jmarrec commented on #290
Is there anything to do on the app side here @macumber ?

[2021-06-01 12:18] jmarrec commented on #181
This should be fixed already I think. If you can reproduce with 1.2.0-rc6 or (1.2.0 if posted already), then please provide files so we can reproduce and I'll reopen. Thanks!

[2021-06-01 12:18] #181 closed

[2021-06-01 12:19] jmarrec commented on #297
Closing, will reopen if we can reproduce

[2021-06-01 12:19] #297 closed

[2021-06-01 12:26] jmarrec commented on #298
There's a double clone happening between the OSApp and the SDK. It's perhaps confusing but the SDK ctor `ScheduleRule::ScheduleRule(ScheduleRuleset& scheduleRuleset, const ScheduleDay& daySchedule)` actually clones daySchedule already internally...

https://github.com/openstudiocoalition/OpenStudioApplication/blob/d115b0393ee44efb01f97b19639ca7ebb0a4a0c4/src/openstudio_lib/SchedulesTabController.c

[2021-06-01 12:29] jmarrec commented on #298
For the record, the same applies to Summer/Winter/holiday profiles... ScheduleRuleset::setXXXDesignDaySchedule ALSO clones the schedule day it's passed (which is confusing).

https://github.com/NREL/OpenStudio/blob/92a416c03a98b44b67668e5b3d6d3c89be729afa/src/model/ScheduleRuleset.cpp#L281-L307

[2021-06-01 15:00] arif-hanif commented on #353
Mac (Big Sur 11.4)

I got the usual security warning that not from a verified source.

- [x] openstudio app
- [x] geometry preview
- [x] checked different tabs
- [ ] ran simulation
- [ ] added measure

[2021-06-01 15:03] arif-hanif commented on #353
Windows 10

I got the usual security warning that not from a verified source, during the install.

- [x] openstudio app
- [x] geometry preview
- [x] checked different tabs
- [ ] added measure
- [ ] ran simulation

[2021-06-01 15:25] jmarrec commented on #358
[code]

[2021-06-01 16:06] Ski90Moo commented on #324
Ok, sorry for the trouble. You are correct. I also cannot reproduce it.  I must have had some undeleted objects in my model, not related to the PTHP.

[2021-06-01 16:08] Ski90Moo commented on #249
Thank you Mr. Marrec.

[2021-06-02 02:56] macumber commented on #290
We'd want to include this in the embedded viewer when we do https://github.com/openstudiocoalition/OpenStudioApplication/issues/357

[2021-06-02 05:51] jmarrec commented on #324
@Ski90Moo no problem at all. The separation between App and SDK is new and it is sometimes hard to tell where a problem is coming from. And as models are complex, it's also sometimes hard to know what caused what. I appreciate the detailed bug report, thank you for that. I didn't have to go chasing far since it had all the information needed and that's a time saver!

[2021-06-03 02:56] eapuertoc commented on #95
I found something I hope it could help.
I used my other monitor to a project, and find out that when the screen is big (mine is 32"). The maximize button does appears.

[2021-06-05 09:34] damianCaceres commented on #123
Good morning
I've rebuilt QT5 including the ICU staff. I've selected like icu libraries the system's ones.
Later on, I've rebuilt OpenStudioApp, and again I've needed to select the path to the system's icu-libraries.
But I didn't specified the icudtl.dat file path, because:

The build given me error. I've selected the icudtl included in the code folder, and OpenStudioApp build, install and open.
I

[2021-06-06 03:29] abooda1981 opened #375 "Ubuntu 20.04: missing dependencies cannot be installed"
Issue overview
--------------

Hello, I would like to install OpenStudioApplication on Ubuntu 20.04 (I already have the OpenStudio). I simply cannot get around the dependency issues listed below. I have found several similar issues online but none which seems to exactly answer my question.

I'm guessing that I'm not the only person with Ubuntu 20.04 who uses OpenStudioApplication so I'm hoping som

[2021-06-07 23:20] #372 closed

[2021-06-08 02:36] macumber commented on #375
@abooda1981 have you tried installing the https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc6 release?  There were quite a few issues closed regarding installation on Ubuntu.  We will be releasing official version 1.2.0 shortly, 1.2.0-rc6 is very close to the final version.

[2021-06-08 02:39] macumber commented on #123
@damianCaceres 1.2.0 should be out shortly.  In the meantime, 1.2.0-rc6 is available for testing and is very similar to the final 1.2.0: https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0-rc6

I don't know if the instructions changed since you last looked but you should not have to build Qt, we use pre-built Qt binaries as described in this wiki:
https://github.com/op

[2021-06-08 04:37] damianCaceres commented on #123
@macumber
Last night I received the news of a positive PCR for covid19. Again I am confined, and I cannot make commitments. Thank you very much for your patience and for such a wonderful program.
Bye.

[2021-06-08 05:45] macumber commented on #123
Sorry to hear that, I hope you feel better soon.

[2021-06-08 09:06] jmarrec opened #377 "Documentation: add a section on the "Simulation Settings" tab"
Enhancement Request
--------------

Seems like we never actually talk about the "Simulation Settings" tab anywhere in the OpenStudio Application docs. https://openstudiocoalition.org/getting_started/running_your_simulation/

## Detailed Description

https://openstudiocoalition.org/getting_started/creating_your_model/ also doesn't mention it. But I think it's best if it's on the "running your simul

[2021-06-08 20:23] luisclv opened #378 "Models with a large number of Spaces or ThermalZones crashes the application"
[2021.06.08_Code_Model.zip](https://github.com/openstudiocoalition/OpenStudioApplication/files/6626622/2021.06.08_Code_Model.zip)

Issue overview
--------------
In a model with a relatively large number of Spaces (and Thermal Zones) makes the window not respond, and crashes when changing to the ThermalZones or Spaces tab.

## Current Behavior
The window stops responding, and then closes.

## Expec

[2021-06-08 21:28] eringold opened #379 "AirLoopHVAC Control Tab resets some economizer selections"
Issue overview
--------------

## Current Behavior
Setting economizer type at the Controller:OutdoorAir to 'DifferentialDryBulbAndEnthalpy' or 'ElectronicEnthalpy', then navigating to the 'Control' tab will reset the economizer type:

![econ_reset](https://user-images.githubusercontent.com/10799524/121260034-10dfeb00-c86e-11eb-86eb-177d3c53d7d8.gif)

## Expected Behavior
Economizer type selection

[2021-06-08 22:40] abooda1981 commented on #375
Thank you for pointing out this Ubuntu version to me. I have downloaded the deb package and attempted to install it, however my error message remains the same. Specifically, see below:

[code]

My understanding is that these libraries ("libwxgtk" etc etc) are now deprecated in Ubuntu 20.04. So where would I go to get versions of them that I can use now?

Thank you again!

[2021-06-08 23:45] LouYingli opened #380 "Display problem of text in the geometry editor"
Issue overview
--------------
The text in the geometry editor cannot be displayed.

## Current Behavior
Click Geometry, then click Editor. There is no text content be displayed in the interface, as shown in the following figure。
![image](https://user-images.githubusercontent.com/52507951/121271509-1561cf00-c881-11eb-9ce0-095ae9de726d.png)

## Expected Behavior
A description of geometry creation sh

[2021-06-09 04:35] macumber commented on #358
As an interim fix, extract the zip file below and add the dlls to `C:\openstudioapplication-1.2.0\bin`:

[qt_opengl_dlls.zip](https://github.com/openstudiocoalition/OpenStudioApplication/files/6621126/qt_opengl_dlls.zip)

[2021-06-09 04:39] macumber commented on #380
Thanks @LouYingli, have you tested if this works in [OpenStudio 1.2.0](https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0)?

If that doesn't work, I think it might be related to [this issue](https://github.com/openstudiocoalition/OpenStudioApplication/issues/358).  I uploaded a zip file of dlls to that issue, you could test out the fix by extracting the zip file and p

[2021-06-09 04:58] macumber commented on #378
That is very weird, thanks for reporting @luisclv

[2021-06-09 05:01] macumber commented on #378
I can scroll up and down but there are no visible widgets.  I'm not seeing any warnings on the console.

[2021-06-09 05:14] macumber opened #381 "Ctrl-Q on Mac works different than it used to"
Issue overview:
Ctrl-Q on Mac works different than it used to

## Current Behavior
If I CMD-Q, the GUI will close. But the application remains in operation (I see it in the Apple Menu, CMD-tab, Dock). All one needs to do is CMD-Q a second time

## Expected Behavior
If I CMD-Q, the GUI and application will close

[2021-06-09 15:47] LouYingli commented on #380
It doesn't work for [OpenStudio 1.2.0](https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0). I extract the zip file and putting the dlls in C:\openstudioapplication-1.2.0\bin But the problem is not fixed. There is no text content in the Editor interface. I think it might be a problem with the text color. When I select the content, some text shows up. It seems like the

[2021-06-09 20:05] luisclv commented on #378
I also see the same situation, it does not crash. I have a complete model that I created in 1.1.0 (with surfaces, HVAC, etc.) and it crashes the application, maybe I can attach it if you think it would be useful (to see if there are warnings).

[2021-06-09 20:07] dmacusb2 commented on #378
It would be great if you can attach the model that crashes

[2021-06-09 20:11] luisclv commented on #378
I just updated my original issue. Thanks!

[2021-06-10 15:35] jmarrec commented on #378
That model is... extreme.

[code]

[2021-06-10 15:40] jmarrec commented on #378
I'm running it in the LLDB debugger, breaking from time to time to look at the backtrace. It's stuck in the bowels of Qt trying to compute the geometry for now

[code]

[2021-06-10 15:43] jmarrec commented on #378
But it works...

![Uploading image.png…]()

[2021-06-10 15:49] jmarrec commented on #378
Ok, so I timed it using the official 1.2.0 installer.

It takes 8 seconds from the thermal zone tab to "appear", but it's blank aside from the buttons at the top.

Then 3 minutes and 10 seconds later, the tab is fully displayed with the widgets.

[2021-06-11 16:21] eringold opened #383 "Add icon for ZoneHVACTerminalUnitVariableRefrigerantFlow on AirLoopHVAC:OutdoorAirSystem"
Enhancement Request
--------------
ZoneHVAC:TerminalUnitVariableRefrigerantFlow is allowed on an AirLoopHVAC:OutdoorAirSystem, but no icon is shown on the airloop diagram:

![image](https://user-images.githubusercontent.com/10799524/121717786-cf825200-ca9e-11eb-96ef-c91ad6421f79.png)

[2021-06-14 11:30] jmarrec commented on #378
The change is probably related to https://github.com/openstudiocoalition/OpenStudioApplication/pull/318. We've done changes to the GridView to try and speed it up. And we have noticed a sizable improvement on the Surface tab of smaller models. Clearly that's not what's happening to you, quite the opposite.

[2021-06-14 14:02] jmarrec opened #385 "Update ruby action"
Issue overview
--------------

https://github.com/openstudiocoalition/OpenStudioApplication/blob/e4ab04863b41aa6a8cd342618a58dae2bb617f7a/.github/workflows/app_build.yml#L109-L111

Replace with ruby/setup-ruby@v1, cf https://github.com/ruby/setup-ruby

## Current Behavior

![image](https://user-images.githubusercontent.com/5479063/121904949-ec7e8580-cd29-11eb-9ac0-d877dbbd82b3.png)

## Expected Be

[2021-06-21 15:54] Ski90Moo opened #386 "Error when opening existing OSM model: Unable to Retrieve OS version 3.1.1 from IddFactory"
Issue overview
--------------

The app launches fine.  However, when I try to open any of my previous osm models, it gives me this Unhandled Exception:

![2021-06-21](https://user-images.githubusercontent.com/69771412/122791125-cdbe4880-d26d-11eb-963f-e57d893e0ab1.png)

## Current Behavior

The app crashes when I select "Relaunch"

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possi

[2021-06-22 03:01] MatthewSteen opened #387 "GridView is completely blank on Spaces and Thermal Zones tabs for large model"
Issue overview
--------------
GridView is completely blank on the Space and Thermal Zones tabs for a large (200 Space/ThermalZone) model in 1.2.0 on Windows (will test Linux). The tabs do seem to load faster than previous versions though 😃

[in.zip.txt](https://github.com/openstudiocoalition/OpenStudioApplication/files/6690690/in.zip.txt)

## Current Behavior
__Spaces__
![image](https://user-image

[2021-06-22 03:14] macumber commented on #387
Thanks @MatthewSteen, the example model is very helpful but I am going to close this as a duplicate of https://github.com/openstudiocoalition/OpenStudioApplication/issues/378

I do hope to get to this issue in a patch release

[2021-06-22 03:14] #387 closed

[2021-06-22 03:18] macumber commented on #386
Hmm, it seems that there never was an OS 3.1.1 official release.  Did you happen to make this model with an interim version of the OpenStudio Application?  You might try making a copy of your OSM and try modifying the OS:Version object in the OSM file to be either 3.1.0 or 3.2.0 in a text editor.

[2021-06-22 03:20] macumber commented on #387
I can reproduce with this model FWIW

[2021-06-22 03:26] MatthewSteen commented on #387
Thanks @macumber , sorry for the dup!

[2021-06-22 15:48] Ski90Moo commented on #386
Ok, that make sense.  I created the file with the OpenStudio app version 1.1.1.a3.

In the OSM file, I changed the version to 3.1.0 and I am now able to open it.  Thank you.

[2021-06-23 03:42] #386 closed

[2021-06-23 13:38] zwei2016 opened #389 "GUI problem in window 10"
Issue overview
--------------

The open studio has a general problem in window 10 GUI. In Results Summary tab, all the texts are invisible. But when I try to select the texts, I can see there are indeed the texts there.

## Current Behavior

![OS_GUI](https://user-images.githubusercontent.com/21966433/123105884-29233e80-d406-11eb-8323-7a9e0d8b9dae.JPG)

## Expected Behavior

I want to read the rep

[2021-06-28 22:49] LouYingli opened #392 "A space with a hole cannot be drawn in Floorspace JS"
Issue overview
--------------
A space with a hole cannot be drawn in Floorspace JS.

## Current Behavior
A space with a hole cannot be drawn in Floorspace JS.

## Expected Behavior
We should be able to draw the space with a hole in Floorspace JS. A space with a hole is a common type of space.

## Steps to Reproduce
Following is the video link of this bug.
https://drive.google.com/file/d/1Huupsx7D-