[2021-06-30 04:41] macumber commented on #378
@luisclv @MatthewSteen could you try this Windows installer to see if it fixes this issue for you?

https://github.com/openstudiocoalition/OpenStudioApplication/suites/3119519988/artifacts/71465953

Artifacts for the other platforms (Ubuntu, Mac) are at this link if you aren't on Windows:

https://github.com/openstudiocoalition/OpenStudioApplication/actions/runs/984882343

[2021-06-30 14:11] MatthewSteen commented on #378
@macumber works on Ubuntu 20.04 including tabs, buttons, and filters.

__Spaces__
![Screenshot from 2021-06-30 08-00-16](https://user-images.githubusercontent.com/8397034/123973805-524d4d00-d979-11eb-919d-091da9ae063f.png)

__Thermal Zones__
![Screenshot from 2021-06-30 08-10-10](https://user-images.githubusercontent.com/8397034/123975492-9db42b00-d97a-11eb-8aea-00374259d0bd.png)

[2021-06-30 15:41] luisclv commented on #378
@macumber The App keeps crashing on Windows. I tried both the model that I uploaded and a fresh .osm with 500 spaces created with the script on my first post. However, now it seems to crash faster.

[2021-06-30 16:59] luisclv commented on #392
I feel like this is an EnergyPlus limitation. You normally cannot have a surfaces with holes in the same Space.

[2021-06-30 17:26] Ski90Moo opened #393 "Unable to add Exerior Light Definition"
Issue overview
--------------
The Facility, Exterior Equipment tab will not allow addition of exterior lights:
![2021-06-30 (1)_LI](https://user-images.githubusercontent.com/69771412/124005140-96e2e380-d98d-11eb-808f-77bca19d1519.jpg)

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your

[2021-07-02 04:13] macumber commented on #378
Looks like we are hitting a stack overflow in `paintSiblingsRecursive`:

` 	Qt5Widgetsd.dll!QWidgetPrivate::drawWidget(QPaintDevice * pdev, const QRegion & rgn, const QPoint & offset, QFlags<enum QWidgetPrivate::DrawWidgetFlag> flags, QPainter * sharedPainter, QWidgetRepaintManager * repaintManager) Line 5462	C++
 	Qt5Widgetsd.dll!QWidgetPrivate::paintSiblingsRecursive(QPaintDevice * pdev, const Q

[2021-07-02 06:08] macumber commented on #378
@luisclv can you try this installer? It has an increased stack size:

https://github.com/openstudiocoalition/OpenStudioApplication/suites/3140320824/artifacts/72124251

[2021-07-02 06:55] luisclv commented on #378
I was able to use the Space tabs, it took a few seconds to load (which has been the standard behavior) without any hiccups. I was also able to load the ThermalZones tab after about a minute wait.

I was also able to load the model created with the script on my original issue (the one with 500 spaces).

So far, it looks good!

[2021-07-02 17:55] Ski90Moo opened #394 "GBXML import does not show spaces in App"
Issue overview
--------------
After importing a gbxml file, the spaces do not show up on the spaces tab:
![UTlzN4jbtm](https://user-images.githubusercontent.com/69771412/124312216-cfb4c100-db23-11eb-9fed-68df019c5c44.gif)

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1. Here is the gbxml file: https://www.dropbox.com/s/4n989bo4tdbf0kg/HEP-21-06%20Skp_008_Metric-Load%20%281%29.

[2021-07-02 19:01] Ski90Moo commented on #394
The import works fine if I use the OS App version 1.1.0

[2021-07-03 00:25] macumber commented on #394
Thanks for the report, I believe this is a duplicate of https://github.com/openstudiocoalition/OpenStudioApplication/issues/378

There are some test installers linked on #378 that you could test, it worked for me using https://github.com/openstudiocoalition/OpenStudioApplication/suites/3140320824/artifacts/72124251

[2021-07-03 00:25] #394 closed

[2021-07-03 00:36] macumber commented on #389
Thanks for the report, are you using dark mode on your computer?

If you extract the zip file below and add the dlls to C:\openstudioapplication-1.1.0\bin does that solve the issue?

https://github.com/openstudiocoalition/OpenStudioApplication/files/6621126/qt_opengl_dlls.zip

[2021-07-03 01:04] zwei2016 commented on #389
Hi macumber

Thanks for your help. Yes my computer was in dark mode. But after I turned it on light mode, the GUI problem is still there.
Furthermore, I tried your zip as you suggested, sorry, it did not solve the problem.

[2021-07-03 02:20] macumber commented on #389
Sorry to ask a dumb question but did you close the application and start it again after changing to light mode and placing the dlls?

[2021-07-07 14:59] zwei2016 commented on #389
Yes, I restarted my computer, but the problem is still there. Anyway, I can read these information in the report file...

[2021-07-07 15:03] zwei2016 commented on #389
![GUI](https://user-images.githubusercontent.com/21966433/124782995-b4c2c200-df12-11eb-8242-e0413acf7712.JPG)

By the way, I have a second GUI problem. After I worked several hours (2 or 3), the openstudio GUI became very strange like this figure, in the measure. Is it because I used many measures? I indeed run many times the openstudio measures

[2021-07-08 03:22] Ski90Moo opened #395 "GBXML Import reverses floors/ceilings normals and surface types"
Enhancement Request
--------------

Currently, when importing a gbxml file from Revit, some of the surface normals get reversed as well as the surface types.  It is very laborious going through and fixing the normals and surface types by hand.

It would be good to have OpenStudio check for and correct this error during the import or have a measure that corrects it after import.

## Detailed Descri

[2021-07-08 03:26] macumber opened #396 "Reporting Measures section listed twice"
Moved from https://github.com/openstudiocoalition/OpenStudioApplication/issues/389

Issue overview
--------------

After I worked several hours (2 or 3), the openstudio GUI became very strange like this figure, in the measure. Is it because I used many measures? I indeed run many times the openstudio measures

https://user-images.githubusercontent.com/21966433/124782995-b4c2c200-df12-11eb-8242-e04

[2021-07-08 03:28] macumber commented on #396
@zwei2016 I moved the part about duplicate Reporting Measure sections here.  I have a few questions:

- Does this odd behavior persist if you change tabs and then go back to the run tab?
- Does this odd behavior persist if you close the app and re-open it?
- Could you attach a zip file of the model osm and the companion directory?  If not, could you post the workflow.osw file?

[2021-07-08 03:30] macumber commented on #389
Thanks for the update @zwei2016, I moved the other behavior to a new issue https://github.com/openstudiocoalition/OpenStudioApplication/issues/396

[2021-07-08 03:35] macumber commented on #389
This seems related to https://github.com/openstudiocoalition/OpenStudioApplication/issues/380

[2021-07-08 03:54] macumber commented on #389
Possibly need to set some chromium flags: https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/renderer/core/frame/settings.json5;l=1060;drc=43bbd38f475b9d9663f1ffabf2fef9fb26466af4?originalUrl=https:%2F%2Fcs.chromium.org%2F

[2021-07-10 06:06] macumber commented on #389
@zwei2016 would you mind installing and testing this build which disables dark mode in the embedded browser?

https://github.com/openstudiocoalition/OpenStudioApplication/suites/3204208844/artifacts/74094438

[2021-07-10 06:08] macumber commented on #380
@LouYingli would you mind installing and testing this build which disables dark mode in the embedded browser?

https://github.com/openstudiocoalition/OpenStudioApplication/suites/3204208844/artifacts/74094438

[2021-07-10 15:23] macumber commented on #389
If that doesn't solve the problem, it would be really helpful if you could try the following steps:

Go to details in the About page, find the Chrome Debugger address, open that address in a Chrome browser:
![image](https://user-images.githubusercontent.com/1327850/125167618-b97bb600-e15e-11eb-9688-cd6ae9b50c29.png)

Navigate to the Results tab in the OS App, then click on OpenStudio Results in th

[2021-07-10 15:39] macumber commented on #395
Moved to OpenStudio issues since gbXML translation is a core SDK feature:

https://github.com/NREL/OpenStudio/issues/4375

[2021-07-10 15:39] #395 closed

[2021-07-10 17:25] macumber commented on #126
Related to https://github.com/openstudiocoalition/OpenStudioApplication/issues/393

[2021-07-12 03:10] macumber commented on #393
@Ski90Moo would you mind testing that tab in this build?

https://github.com/openstudiocoalition/OpenStudioApplication/suites/3210165826/artifacts/74256456

[2021-07-12 03:10] macumber commented on #126
@eringold this build is available for testing if you have any time:

https://github.com/openstudiocoalition/OpenStudioApplication/suites/3210165826/artifacts/74256456

[2021-07-12 16:46] Ski90Moo commented on #393
Yes, it appears to work.  Thank you Dan.

[2021-07-12 18:58] Ski90Moo opened #399 "Unable to edit Schedule Set name"
Issue overview
--------------

![2021-07-12_LI](https://user-images.githubusercontent.com/69771412/125341472-7e1ceb00-e308-11eb-966c-323ac44d1992.jpg)
![2021-07-12 (1)](https://user-images.githubusercontent.com/69771412/125341508-84ab6280-e308-11eb-9d3f-e811927b9f71.png)

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environmen

[2021-07-12 19:50] zwei2016 commented on #396
@macumber
When this happened, my openstudio becomes very slow, and it persisted when I switched back.
When I closed and re-opened openstudio, it disappeared.

Here is the workflow.osw

By the way, I created my own weather file for 2020 data, created a output.csv measure which has an independent input and output behavior.

[code]

[2021-07-12 21:24] LouYingli commented on #380
The OpenStudio Application 1.2.1, still has the same issue. It seems like the text color is still white, which is the same as the background.

[2021-07-14 01:53] Ski90Moo commented on #394
Ok, that works.

[2021-07-14 04:21] macumber commented on #399
Nice catch!  This also affected ConstructionSets too, fixed in https://github.com/openstudiocoalition/OpenStudioApplication/pull/398/commits/4d859063247324dab584c7b75c264b96da2cddd8

[2021-07-14 12:58] svpxdev opened #400 "OS Application does not launch in Windows 10"
**Issue**
I installed the latest Open Studio Application and I am not able to start the application. On clicking the application, I see a small window open up and then disappear with no further action or even a running thread in the task manager.

**Please see the video [here]( https://vimeo.com/574899954/76ea3ef5ff)**

**What I have tried:**
- Reinstall application
- Restart after uninstall and i

[2021-07-15 04:24] macumber commented on #400
Thanks for the detailed report.  Can you open a command prompt (type `cmd` then return in the Windows search bar), then give the following commands:

[code]

![image](https://user-images.githubusercontent.com/1327850/125728620-e23dd40d-d2d6-4513-bb83-fe70e24a544f.png)

That should produce a `osapp.log` file on your Desktop, could you upload it here?

[2021-07-16 05:58] macumber opened #401 "SketchUpPluginPolicy not read by inspector"
Issue overview
--------------
SketchUpPluginPolicy not read by inspector which causes errors in SketchUp Plugin

[2021-07-20 07:02] svpxdev commented on #400
Thanks for the response and sorry for my late reply, I was on vacation.

Here is the log file created after running the commands.

[osapp.log](https://github.com/openstudiocoalition/OpenStudioApplication/files/6846137/osapp.log)

[2021-07-21 03:19] macumber commented on #400
Thanks for the log.  There are some pretty unusual items in there, did you happen to build the OS App yourself?  I don't know any other reason why it would be referring to a an IddFile at `D:\OSN\src\utilities\idd\IddField.cpp`.  It seems like this was a custom build that was built against an invalid version of the OS SDK?

[2021-07-21 04:19] svpxdev commented on #400
No, not really. I just installed it from the windows installer. Did not see a reason to build it my self since I have used the installer before and it has always worked. It's the first time I have had this issue.

[2021-07-21 05:20] macumber commented on #400
Can you uninstall the version that you have and try reinstalling one of the installers from this official release:

https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.0

[2021-07-21 06:12] svpxdev commented on #400
Hi,
So here is what I did now, uninstalled OSA and reinstalled from the link you have provided, still seem to get the same error. I have attached a **[screen recording](https://vimeo.com/577477624/555a9f179a)** with this post. Am I missing a step or is it more system related ?

Also attaching the log once again.
[osapp.log](https://github.com/openstudiocoalition/OpenStudioApplication/files/6853184

[2021-07-22 02:27] macumber commented on #400
@jmarrec you have any idea what the path `D:\OSN\src\utilities\idd\IddField.cpp` could be from?

[2021-07-22 02:30] macumber commented on #400
@svpxdev could you try opening the file explorer and going to your new install (should be `C:\openstudioapplication-1.2.0\bin`) and double clicking the `OpenStudioApp.exe` file there?  I wonder if that shortcut is pointing to some other installed version?

[2021-07-22 03:58] macumber opened #403 "App 1.2.1 Release"
- [ ] Release Notes
- [ ] Update OSM libraries to the right SDK version
- [ ] Test Windows Installer
- [ ] Test Mac M1 Installer
- [ ] Test Mac x64 Installer
- [ ] Test Ubuntu 18.04 Installer
- [ ] Test Ubuntu 20.04 Installer
- [ ] Remove prerelease version and create tag
- [ ] Email Blast

[2021-07-22 04:07] macumber commented on #392
Agreed

[2021-07-22 04:07] #392 closed

[2021-07-22 04:18] macumber commented on #189
This seems like a duplicate of https://github.com/NREL/floorspace.js/issues/377

[2021-07-22 04:18] #189 closed

[2021-07-22 08:52] svpxdev commented on #400
There is just one version of installed OSA
![image](https://user-images.githubusercontent.com/71379971/126613139-81d34a85-e92d-485a-a367-768cd26685d6.png)

And has the same behaviour
![image](https://user-images.githubusercontent.com/71379971/126613191-fd9c311c-118f-4061-a7c7-c2f4c9ab4341.png)

[2021-07-22 15:35] antoine-galataud opened #404 "Geometry preview - search feature"
Enhancement Request
--------------
Use case: an EnergyPlus simulation is run and there are some errors / warnings about surfaces / thermal zones in `eplusout.err`. It can be useful to quickly show the concerned objects in geometry preview.

This is more relevant for larger buildings or when no naming convention was applied (ie `Surface 202`, `Surface 203` ...), as it'll often imply long look up ti

[2021-07-23 09:37] jmarrec commented on #400
I think that `D:\OSN` might just be the path of the build dir on the Jenkins CI instance that built the OS SDK.

(I'm a bit confused by why the CLI (`openstudio`) is from 04/05 but `openstudiolib.dll` is from 08/06, but that's probably just cmake changing the timestamp on the dll)

From the log, it seems that the SDK doesn't manage to read its own IDD, or an older version of the IDD. I would start

[2021-07-26 12:05] svpxdev commented on #400
I dont have the library installed it seems like.
![image](https://user-images.githubusercontent.com/71379971/126985944-84c822cb-3638-42f3-83b0-b890958aec95.png)

[2021-07-27 08:04] jmarrec commented on #389
Ping @zwei2016. Your help in testing this new installer is critical to us as we have a hard time reproducing this issue ourselves. See dan's comment above please https://github.com/openstudiocoalition/OpenStudioApplication/issues/389#issuecomment-877576134

[2021-07-28 03:54] #378 closed

[2021-07-28 08:40] #126 closed

[2021-07-28 08:40] #393 closed

[2021-07-28 08:40] #399 closed

[2021-07-28 12:45] #401 closed

[2021-07-29 03:45] macumber commented on #404
This looks cool @antoine-galataud, thanks!

I'd also like to apply this as a PR to https://github.com/NREL/openstudio-common-measures-gem/tree/develop/lib/measures/view_data and https://github.com/NREL/openstudio-common-measures-gem/tree/develop/lib/measures/view_model and will tag you on that (unless you want to make the pr yourself?)

[2021-07-29 03:49] macumber commented on #404
I might also try to make the search function search according to the current render mode and also to highlight all matching surfaces.

[2021-07-29 09:00] antoine-galataud commented on #404
@macumber thanks!

Not sure how well it will render? From a user experience perspective I found keeping only wireframe displayed is visually appealing.

Totally makes sense. Please see my latest commit and below example of implementation

![Screenshot from 2021-07-29 10-52-38](https://user-images.githubusercontent.com/5330926/127463316-f8453ec9-c46f-490d-b81b-021e67f0728b.png)

Note: displayed inf

[2021-07-30 03:08] macumber opened #407 "Cannot load openstudio.rb from install dir"
Issue overview
--------------
Cannot load openstudio.rb from install dir

## Current Behavior
`ruby -I /c/openstudioapplication-1.2.1/Ruby/ -e "require 'openstudio'"`

or:

`ruby -I /c/openstudioapplication-1.2.1/Ruby/ -e "require 'openstudio_modeleditor'"`

results in:

[code]

## Expected Behavior
It should succeed

[2021-07-30 03:50] macumber commented on #407
As a workaround, users wanting to run Ruby scripts loading OpenStudio Ruby bindings can install the OS SDK independently and load the Ruby bindings from there.

[2021-07-30 12:28] antoine-galataud commented on #404
@macumber just re-read your last comment and realized I misunderstood. Did you mean searching only among objects having type equal to current render mode? Would make sense indeed

[2021-07-30 15:38] antoine-galataud commented on #404
@macumber I implemented search according to current render mode, so it will search only among objects that match render by type.

[2021-07-31 02:09] macumber opened #408 "Update to BCL v2"
Enhancement Request
--------------
Update to BCL v2

[2021-08-07 16:53] macumber opened #410 "OpenStudio can't connect BIM Server"
Reported at https://github.com/NREL/OpenStudio/issues/4393

[2021-08-07 16:56] macumber commented on #410
@keleisi2001 the developers that made the BIM Server integration are no longer part of the project so we have limited experience with BIM Server.  From your second screen shot it looks like BIM Server wants you to change your password.  Could that be the problem preventing you from logging in from OpenStudio Application.

[2021-08-07 17:32] macumber opened #411 "Apply Measure Now and Run Tab display measure html output differently"
Issue overview
--------------
Measure html output written to register info should be rendered the same in both Apply Measure Now and the Run Tab.  Currently there are two different implementations that render differently.

https://github.com/openstudiocoalition/OpenStudioApplication/blob/7591ef730a8b03fb18ba0571412102e38195e39d/src/openstudio_lib/ApplyMeasureNowDialog.cpp#L568

https://github.com/

[2021-08-07 17:33] macumber commented on #411
Example measure
[measure.rb.txt](https://github.com/openstudiocoalition/OpenStudioApplication/files/6949520/measure.rb.txt)

[2021-08-07 17:37] macumber commented on #411
Might also consider making both UIs use a fixed width font so measure writers can control formating.

[2021-08-08 03:16] #404 closed

[2021-08-08 04:16] keleisi2001 commented on #410
OK I see. I am trying to find the reasons from multiple aspects, including restarting BIM Server, restarting openstudio, etc. At the same time, I also asked the same question in the BIM Server section. In fact, I think this problem is not a technical problem, but because of some inexplicable reasons. Anyway, I will try as much as possible

[2021-08-09 11:58] keleisi2001 commented on #410
Although I have tried many ways, I still haven't solved it. The newest screenshot is shown.
![new](https://user-images.githubusercontent.com/55388367/128702631-e940bd2e-09fe-469e-b4dc-b70c92be3a3d.png)

[2021-08-11 12:41] #341 closed

[2021-08-17 20:06] Ski90Moo opened #412 "Unhandled Exception when selecting heating coil in air loop"
Issue overview
--------------
When selecting a heating coil in an air loop it gives an Unhandled Exception warning.  Selecting relaunch or close causes the program to crash.

## Current Behavior

![2021-08-17 (1)_LI](https://user-images.githubusercontent.com/69771412/129792964-140a95a8-3c1b-4d9c-bdd4-52698ea70f17.jpg)

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

[2021-08-18 21:46] Ski90Moo commented on #412
If I delete the coil and install a new coil, it will allow me to select the coil, but when I try to link the coil to the hot water loop, it crashes with the same "Unhandled Exception".

[2021-08-19 09:28] antoine-galataud opened #413 "Geometry preview - air loops"
Enhancement Request
--------------

The main idea is to implement following use cases in 3D geometry preview:
- find by visual inspection thermal zones that have no air loop associated
- inspect thermal zone / air loop associations to ensure correctness (i.e. AHU dedicated to zones with a specific orientation)

For now only the first use case can be fulfilled with UI by looking into thermal zones

[2021-08-19 19:06] robianson opened #414 "OpenStudio Application v1.2.0 Crashes When Accessing Thermal Zones Tab"
The application crashes whenever I try to navigate to the thermal zones tab. Seems related to this issue: https://gitmemory.com/issue/openstudiocoalition/OpenStudioApplication/378/858855428, although the model I'm using is pretty small (only 45 spaces and thermal zones). The application displays the spaces tab fine, but crashes anytime I navigate to the thermal zones tab. Anyone else had this issu

[2021-08-20 06:47] jmarrec commented on #414
@robianson Can you provide your OSM so I can try to reproduce please? (If you rename it `model.osm.txt` you can just drag and drop it on this issue, otherwise a gist or a drive link would work)

Also, would you mind checking with the v1.2.1-rc1 release? https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.1-rc1

[2021-08-20 07:02] jmarrec commented on #412
@Ski90Moo

1. I don't recognize the SHA in your installer. Did you built a custom 1.2.1 version of the App?
2. You didn't provide steps to reproduce. Have you tried with a clean model? Here's my testing with 1.2.1-rc1 (https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.1-rc1)
    a. Open App, go to HVAC tab
    b. (+) => Add a Package VAV with Reheat
    c. Click on the

[2021-08-20 07:17] jmarrec opened #415 "v1.2.1-rc1 Testing: Call for help from the community"
The first release candidate of the 1.2.1 release has been posted. The 1.2.1 is a bugfix release. It udpates the OS SDK from 3.2.0 to 3.2.1 (also a bug fix release).

**Are you willing to test it out to help us make a great product? This will only take a few minutes of your time, yet it is absolutely critical for us to be aware of bugs.**

Ready? You're awesome, thank you!

Go and download the exec

[2021-08-20 08:03] robianson commented on #414
Thanks, Julien. Here's the model: [Model v120.osm.txt](https://github.com/openstudiocoalition/OpenStudioApplication/files/7020040/Model.v120.osm.txt)

I'll give it a shot with the -rc1 release.

[2021-08-20 08:04] jmarrec commented on #415
* Platform and version:  Windows 10 20H2
* [x] I could install the OpenStudioApp installer
* [x] I could launch the OpenStudioApp.exe
* [x] I can load File > Example > Example Model
* [x] I can go to Geometry Preview and see the example model
* [x] I can go to all tabs and see stuff loading
* [x] I can create HVAC loops and assign a thermal zone
* [x] I can search for Measures on the BCL
* [x] I c

[2021-08-20 08:10] robianson commented on #414
FYI - same behavior using the -rc1 release. Application just quits after I click on the thermal zones tab, with no error message.

[2021-08-20 08:21] jmarrec commented on #412
in cmd.exe

[code]

Then go to the osapp.log on your desktop, and see if you have any messages.

[2021-08-20 08:26] jmarrec commented on #414
in cmd.exe

[code]

So, here's what the log shows
[code]

I have no clue how you managed to break the model, but your ThermalZones are ALL missing some required connections

here's a difference between a valid thermal zone object, and one of your thermal zone objects. Red is yours, green is normal

[code]

[2021-08-20 08:47] jmarrec commented on #414
I'm closing this issue as this is really an issue with your model that the SDK isn't happy with. So this isn't something the App should be concerned with.

I'm happy to keep helping if I can though, so feel free to write here. Also, I'm curious what you've done that may have broken your model that badly?

[2021-08-20 08:47] #414 closed

[2021-08-20 08:51] antoine-galataud commented on #415
## Checklist

### Platform and version: Ubuntu 20.04

* [X] I could install the OpenStudioApp installer
* [X] I could launch the OpenStudioApp.exe
* [X] I can load File > Example > Example Model
* [X] I can go to Geometry Preview and see the example model
* [X] I can go to all tabs and see stuff loading
* [X] I can create HVAC loops and assign a thermal zone
* [X] I can put a measure in my workflo

[2021-08-20 08:53] jmarrec commented on #415
@antoine-galataud thanks for the test. The openstudio_results measure thing is a known measure issue with the example model, that can be ignored altogether. (I guess I should bring it up with @DavidGoldwasser at some point)

If you can pin a segfault cause (aside from closing the app, that one I know about and doesn't hurt anything really), let us know!

[2021-08-20 08:59] antoine-galataud commented on #415
@jmarrec

not only on app close but also when loading a model. Scenarii:
- launch openstudio application, open example model => crash
- launch openstudio application with a model as cmd line argument, open example model => crash

Happens intermittently only.

[2021-08-20 09:28] jmarrec commented on #415
So, I did merge in the "Load Example Model" feature in develop, since I find it useful for testing, but I am aware that it segfaults the app if you do it several times in a row... I couldn't find the root cause though, but I threw the towel.... https://github.com/openstudiocoalition/OpenStudioApplication/pull/344 has more info including stack traces.

[2021-08-20 13:04] wassimj commented on #415
# Checklist

### Platform and version: Windows 10

* [ ] I could install the OpenStudioApp installer
* [ ] I could launch the OpenStudioApp.exe
* [ ] I can load File > Example > Example Model
* [ ] I can go to Geometry Preview and see the example model
* [ ] I can go to all tabs and see stuff loading
* [ ] I can create HVAC loops and assign a thermal zone
* [ ] I can search for Measures on the BCL

[2021-08-20 15:40] Ski90Moo commented on #412
1. @macumber provided this build via this issue: https://github.com/openstudiocoalition/OpenStudioApplication/issues/393

2. I was previously using the version 1.2.0 release.  Everything was fine.  Then I switched to the above mentioned.  I wanted to add another heating coil to the loop.  It added the coil, but I was unable to connect it to the water loop; it crashes.  In addition, when ever I sel

[2021-08-20 16:16] Ski90Moo commented on #412
Ok, I opened a different .osm file with hot water coils and water loop and there is no problem with selecting the coil or making the connection.  So, it must me something corrupted in that specific file.

[2021-08-20 17:14] robianson commented on #414
Thanks a lot for the debugging, Julien. The model I sent was built using the Sketchup plugin v1.2.0 in Sketchup Pro 2021, and the zones were created with the "Add New Thermal Zone for Spaces with No Thermal Zone" user script, with no editing directly in the text file. Very strange. Reinstalled the plugin and rebuilt the model and the zones appear to have all of their ports defined.

[2021-08-20 22:22] DavidGoldwasser commented on #413
I wonder if most of the work can be in the [ViewModel measure](https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/view_model/measure.rb)? I suppose there may be core changes in `ThreeJS` in OS core as well to support additional data.

If you wanted to actually edit in geometry editor would need to be in FloorSpaceJS, and then in translators to `ThreeJS` and then to `O

[2021-08-21 11:44] antoine-galataud commented on #413
@DavidGoldwasser thank you for your feedback.

Sure. We could do the same as in https://github.com/openstudiocoalition/OpenStudioApplication/issues/404, @macumber took care of porting the enhancement in the relevant measures. I can do it when dev is done too.

It certainly needs a change in a change in  https://github.com/openstudiocoalition/OpenStudioApplication/blob/8a2c08858112355f21b73f75f9136

[2021-08-21 15:29] macumber opened #416 "User file name is not preserved in Apply Measure now"
Issue overview
--------------
When running Apply Measure now, the seed file is always named "temp_measure_manager.osm".  This prevents the measure from obtaining the user defined file name.

## Current Behavior

[code]

seed will be "temp_measure_manager.osm"

## Expected Behavior
seed should be user defined seed model name

[2021-08-21 16:50] Maharshi-Pathak commented on #415
## Checklist

### Platform and version:

* [ ] I could install the OpenStudioApp installer
* [ ] I could launch the OpenStudioApp.exe
* [ ] I can load File > Example > Example Model
* [ ] I can go to Geometry Preview and see the example model
* [ ] I can go to all tabs and see stuff loading
* [ ] I can create HVAC loops and assign a thermal zone
* [ ] I can search for Measures on the BCL
* [ ] I c

[2021-08-21 17:18] marccosta commented on #415
Thanks so much everyone for helping test and to those that continue to help!

On Sat, Aug 21, 2021, 9:50 AM Maharshi-Pathak ***@***.***>
wrote:

--

CONFIDENTIALITY NOTE: The information in this email is intended only for
the use of the individual or entity named above. If you may have received
this message in error, please email or call the sender. If you are not the
intended recipient, any disse

[2021-08-21 17:27] macumber commented on #415
@Maharshi-Pathak thanks very much for your report.  Can you give us some details on your system to help us figure out about the issue of white text?  What OS are you using?  Do you have the OS in dark mode?  What browsers do you use?  Do you have any of those set for dark mode?  What does the report.html look like when you open it in a browser?

[2021-08-21 17:28] macumber commented on #389
@Maharshi-Pathak could you try the advanced debugging technique listed in this issue?

[2021-08-21 17:31] macumber opened #417 "Allow access to AdditionalProperties"
Enhancement Request
--------------
Allow users to set AdditionalProperties for objects

## Detailed Description
AdditionalProperties are used for adding data to objects that can be used in downstream measures.  Currently there is no way to see these properties in the UI

## Possible Implementation
Allow users to set AdditionalProperties for object in the InspectorGadget so it can be used in OpenSt

[2021-08-21 17:37] Maharshi-Pathak commented on #415
@macumber Happy to help.

- OS: I am using Windows 10 version 21H1. I am not using the OS in dark mode.
- Browser: Google Chrome, it's not in Dark mode but I use websites that have options to turn on the Dark mode, eg. Github.com
- Report.html in a browser:
![2021-08-21](https://user-images.githubusercontent.com/64644720/130330378-64c21b1a-3c1d-4ec2-b594-2a6eb83fd97e.png)

[2021-08-21 18:04] Maharshi-Pathak commented on #389
@macumber if I understand correctly, I think the <td> element is set to be black and it's inherited from <body>.
![2021-08-21 (1)](https://user-images.githubusercontent.com/64644720/130331037-fb3b5c0a-e885-42d7-ad65-1d2b5d371dcf.png)
Let me know if I should do anything else on this.

[2021-08-21 18:15] macumber commented on #389
Thanks @Maharshi-Pathak !  I really have no idea what is going on here.  If you are able to post your graphics card information that might also be helpful.  I am going to upgrade to the Windows version you are using and see if that reproduces this for me.

[2021-08-22 06:52] jmarrec commented on #389
@zwei2016 @Maharshi-Pathak can you do windows key + R and type 'dxdiag'  and in there do "save all information" and send that file to us please?

[2021-08-22 17:33] macumber commented on #413
@DavidGoldwasser the required changes to OS SDK would just be to export more data (e.g. `AirLoopName`) into the [ThreeUserData](https://github.com/NREL/OpenStudio/blob/develop/src/utilities/geometry/ThreeJS.hpp#L194) when the ThreeJS is exported from OSM [here](https://github.com/NREL/OpenStudio/blob/develop/src/model/ThreeJSForwardTranslator.cpp#L185)

[2021-08-23 10:19] antoine-galataud commented on #413
@macumber I was thinking all air loop names could be returned (vector of strings) to allow searching zones by associated air loop name. You seem to suggest something else.

[2021-08-23 12:07] macumber commented on #413
Vector is good 👍

[2021-08-24 02:07] Maharshi-Pathak commented on #389
@jmarrec @macumber Where do you want to send this file (here in the comment box or via any email)?

[2021-08-24 05:21] jmarrec commented on #389
Do it here that's fine. Copy this block, and paste your log where indicated please.

[code]

[2021-08-24 15:01] Maharshi-Pathak commented on #389
<details>

<summary>click to expand log</summary>
------------------
System Information
------------------
      Time of this report: 8/23/2021, 10:32:15
             Machine name: LAPTOP-UASUGLOR
               Machine Id: {7456ED5F-C7D8-4C5B-933D-572CACB45BAA}
         Operating System: Windows 10 Pro 64-bit (10.0, Build 19042) (19041.vb_release.191206-1406)
                 Language: English (R

[2021-08-24 15:58] eringold commented on #415
## Checklist

### Platform and version:

* [x] I could install the OpenStudioApp installer
* [x] I could launch the OpenStudioApp.exe
* [x] I can load File > Example > Example Model
     * This did not work when I had an instance of the v1.2.0 app open at the same time - the rc app would open, but when I tried to load the example the rc app would disappear and not open the model. Closing the 1.2.0

[2021-08-24 15:59] eringold commented on #379
@jmarrec @macumber this has been untouched in triage for over two months - please let me know if you need more info. Simply navigating thru the app is changing model input! Seems bad!

[2021-08-25 08:06] jmarrec opened #420 "Air Boundary Construction field 'Air Exchange Method' is a dropdown, but also kind of acts like a text box: selecting will add a cursor, but trying to type text in the field will crash the app."
Issue overview
--------------
Reported by @eringold on #415

Air Boundary Construction field 'Air Exchange Method' is a dropdown, but also kind of acts like a text box: selecting will add a cursor, but trying to type text in the field will crash the app.

## Current Behavior

![1 2 1rc_airboundcons](https://user-images.githubusercontent.com/10799524/130647208-6df52372-0dc6-42ba-9f56-50cae3da11eb.g

[2021-08-25 08:08] jmarrec commented on #415
(@eringold FYI I'm moving some of your reported problems (thanks!) as actual issues and editing your post to have a link to the issues)

[2021-08-25 08:13] jmarrec opened #422 "Material gets duplicated when dragging it just a bit on the Construction tab"
Issue overview
--------------

Reported by @eringold on #415

Select a material already in a construction and drag to layer drop zone -> it will be copied. After, select a material and drag _just a tiny bit_, and it will be added again.

## Current Behavior

![1 2 1rc_cons](https://user-images.githubusercontent.com/10799524/130646606-65629843-3e3d-4087-84e8-fa15694b3df8.gif)
3. #420

## Expected B

[2021-08-25 08:14] jmarrec commented on #422
I **cannot** reproduce the issue on **Ubuntu 18.04** with either OpenStudio 2.9.1, openstudioapplication 1.1.0, 1.2.0 or 1.2.1-rc1

[2021-08-25 08:16] jmarrec opened #423 "Online BCL window shows measures already downloaded as selected for download (not greyed out)"
Issue overview
--------------

#415 reported by @eringold.

Online BCL window shows measures already downloaded as selected for download (not greyed out)

## Current Behavior

![image](https://user-images.githubusercontent.com/10799524/130648743-e35b0207-9a3e-4ffa-9a0b-7f3df3408beb.png)

## Expected Behavior

It should be greyed out.

## Steps to Reproduce

1. Open the BCL
2. Check how the already

[2021-08-25 09:03] #379 closed

[2021-08-25 09:03] #420 closed

[2021-08-25 15:48] Ski90Moo commented on #412
I opened the problem file using OpenstudioApplication v1.2.1-rc1 and there are no issues with adding or selecting heating coils or linking them to a loop.  Perhaps it was some issue with the build I was using...

[2021-08-28 17:12] macumber commented on #422
I am able to reproduce this.  It only seems to occur after you have dragged a material from the construction onto the drop zone.  After that the behavior starts.  My thought is to disallow dragging materials from the construction to the drop zone completely.  Is that an ok fix?

[2021-08-28 17:13] macumber commented on #422
I also see a crash if you open the app, navigate to the constructions tab, then hit the plus button without selecting an object type.

[2021-08-29 15:33] macumber commented on #422
This is the source of the bug https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/src/openstudio_lib/ConstructionObjectVectorController.cpp#L172

[2021-08-29 19:08] macumber commented on #422
@eringold I believe I have a fix for this on https://github.com/openstudiocoalition/OpenStudioApplication/pull/425, would you be able to test it out in this installer: https://github.com/openstudiocoalition/OpenStudioApplication/suites/3624924372/artifacts/87684947

[2021-08-29 23:06] eringold commented on #422
@macumber I see the issue resolved with that fix - no additional materials get added with slight movement of the existing material.

I did notice that you can swap a material with the one 'above' it in the construction list by dragging it to the above position, but this is not reversed: to swap positions with the one below, you must drag it to the second position below. And you cannot move a mater

[2021-08-30 01:34] macumber commented on #422
Currently if you drag an existing material A onto existing material B, material A is moved to right in front of B.

We could change it so material A was moved after material B if material A was before B initially.  However, I think it might not be obvious to the user and it would be confusing if sometimes A came before B and sometimes it came after.

We could also make it so if you dragged an exis

[2021-08-30 03:10] macumber commented on #422
@eringold can you try the new behavior in https://github.com/openstudiocoalition/OpenStudioApplication/suites/3626624079/artifacts/87743740 ?  Do you like it better?

[2021-09-01 00:59] #422 closed

[2021-09-02 18:14] craigers290 commented on #415
## Checklist

### Platform and version:

* [x] I could install the OpenStudioApp installer
* [X] I could launch the OpenStudioApp.exe
* [X] I can load File > Example > Example Model
* [X] I can go to Geometry Preview and see the example model
* [ ] I can go to all tabs and see stuff loading
* [X] I can create HVAC loops and assign a thermal zone
* [X] I can search for Measures on the BCL
* [X] I c

[2021-09-03 14:38] shorowit opened #427 "Allow Apply Measures dialog box to be resized/maximized"
Enhancement Request
--------------
Allow the "Apply Measures Now" dialog box to be resized/maximized. Not only can it not be resized/maximized, but the default size is quite small. For more detailed measures, it's a pain to navigate arguments.

Here's what it looks like on my big monitor:
![image](https://user-images.githubusercontent.com/5861765/132023085-85971b69-85d7-403e-bc2b-bd4c0a637828.png)

[2021-09-04 02:33] macumber commented on #415
Thanks everyone for the testing, here is an RC2 version to play with https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.2.1-rc2.  Unless something really big comes up, I will plan on retagging this as 1.2.1 and making the official release over the weekend

[2021-09-04 02:35] macumber opened #428 "Standards Building Type does not populate correctly"
Issue overview
--------------
Standards Building Type does not populate correctly

## Current Behavior
Tabs: Space Types > Measure Tags: "Standards Building Type" dropdown does not populate no matter the selection in "Standards Template". This also results in only "Attic" and "Plenum" populating in the "Standards Space Type" dropdown.

They did show up if I navigated away from "Measure Tags" with

[2021-09-04 02:36] macumber commented on #415
@craigers290 i opened https://github.com/openstudiocoalition/OpenStudioApplication/issues/428 for your report, thanks!

[2021-09-08 15:04] Ski90Moo opened #431 "AirLoopHVACUnitaryHeatPumpAirToAirMultiSpeed object does not pull through to Library"
Issue overview
--------------

If one osm file has an AirLoopHVACUnitaryHeatPumpAirToAirMultiSpeed object and another project references the first as a library, the object does not show up in the library list (presumably it would be under the AirLoopHVAC Unitary System category?).

## Current Behavior

![NQDsG0KDdE](https://user-images.githubusercontent.com/69771412/132534562-80372014-44d8-4c9b-85

[2021-09-09 20:31] Ski90Moo opened #432 "OS:AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed Controlling Zone or Thermostat Location Missing"
Enhancement Request
--------------

The Controlling Zone or Thermostat Location is not exposed on the GUI.  This is a necessary part of the object.

## Detailed Description

![2021-09-09_LI](https://user-images.githubusercontent.com/69771412/132758207-8cae7300-68d7-42a5-97d6-f29fb5153176.jpg)

![2021-09-09 (1)](https://user-images.githubusercontent.com/69771412/132758303-940bf3bc-987f-454d-968d-51

[2021-09-17 17:58] Ski90Moo commented on #431
This seems to be a problem with libraries in general.  I cannot get the libraries to pull through if the library reference is a version 1.2.1 osm file.

[2021-09-21 21:15] Ski90Moo opened #433 "Some units are displayed weird"
Enhancement Request
--------------

Some of the units shown in OpenStudio, while technically accurate (and dimensionally reduced), are misleading.  For example, in DesignSpecification:OutdoorAir it shows the Outdoor Airflow per Floor Area as ft/min.  In reality, this value is ft3/min/ft2.  The ft2 is implied as 1, and therefore the units for this input should be in ft3/min (or m3/s for metric).

#

[2021-09-27 19:50] Ski90Moo opened #434 "Name missing from DX:MultiSpeed:StageData"
Enhancement Request
--------------

Names are missing from the heating stage data

![2021-09-27 (1)_LI](https://user-images.githubusercontent.com/69771412/134975132-1b152cde-5320-4d1a-95c5-ee7d3460a7e2.jpg)

![2021-09-27 (2)](https://user-images.githubusercontent.com/69771412/134975369-bd31ac32-4e47-487c-a95f-73fdd4a77fca.png)
## Detailed Description

## Possible Implementation
<!--- Not mandatory

[2021-09-28 17:51] Ski90Moo commented on #431
It is strange.  The library will pull through when working on one osm file, but then if I am concurrently working on another osm file, it does not pull through.  I wonder if this occurs when I have multiple instances of OpenStudio open.  If I direct one of the instances to a library file, it pulls through, but the other open instance does not update the library even though it shows it is pointed t

[2021-09-28 20:36] lgaunt opened #435 "v1.2.1 Thermal Zone/ Space Tab in Large Models"
According to the release notes for v1.2.1, the bug that didn't allow the Thermal Zones tab to load in the OS Application was fixed. However, I have a model that is >600 zones (I know, its terrible), that crashes when I open either the space tab or the thermal zone tab.

[2021-09-29 03:07] macumber commented on #435
The fix was to increase the stack size on Windows to delay a stack overflow error error for large number of spaces/zones.  Are you using Windows? I made a model with 600 spaces and zones but it does not crash, are you able to share your model?  Also, how much system memory do you have?

[2021-10-03 04:35] Ski90Moo opened #436 "Coil:Heating:DX:SingleSpeed missing defrost curve"
Enhancement Request
--------------

![2021-10-02 (3)_LI](https://user-images.githubusercontent.com/69771412/135740065-37fe08c5-7b51-444a-92cc-9dca67b7759f.jpg)
## Detailed Description

## Possible Implementation

[2021-10-03 04:44] Ski90Moo commented on #433
Another couple of examples
![2021-10-02 (5)_LI](https://user-images.githubusercontent.com/69771412/135740302-afc2cd5c-0f6f-4af4-8759-8355e61159d6.jpg)
:

[2021-10-09 15:58] macumber opened #437 "No error message for failed simulation with empty spaces"
Issue overview
--------------

Reported at https://unmethours.com/question/52769/openstudio-fails-without-stating-errors-found-and-blank-eplusouterr-file/

## Expected Behavior
An error message should be shown in the Run Tab describing the error

[2021-10-09 16:46] macumber opened #438 "Update to Qt 6.2"
Enhancement Request
--------------
Update Qt to 6.2 LTS version to support macOS on Apple Silicon

[2021-10-09 19:17] macumber commented on #435
Thanks for the model, I was able to reproduce the crash.  I will look into it some more.

[2021-10-10 22:28] Ski90Moo commented on #433
Another one.  Should be, typically, watts. (or horsepower
![2021-10-10 (1)_LI](https://user-images.githubusercontent.com/69771412/136714925-55e77d5d-3bef-4c7f-90f3-5de2571466b5.jpg)
)

[2021-10-12 02:43] macumber commented on #435
I think the issue is that for large models, the entire grid is painted even when most of the elements are not visible.  This results in a large number of calls to `QWidgetPrivate::paintSiblingsRecursive` and an eventual stack overflow.

Possible solutions are:

- Refactor to use a Qt item model and table view classes which likely optimize this
- Somehow detect and not draw items that are not visib

[2021-10-15 16:46] Ski90Moo opened #441 "Glycol Concentration will only allow entry of Integer"
Issue overview
--------------

The glycol concentration field will not allow entry of double.  Unable to type period.
![2021-10-15_LI](https://user-images.githubusercontent.com/69771412/137523434-bbbc60c5-823f-4ab6-ae78-c13208a1728f.jpg)

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about y

[2021-10-16 20:34] Ski90Moo opened #442 "Heat Pump Water Heater does not eliminate nodes when switching to OutdoorAirOnly"
Issue overview
--------------

When selecting OutdoorAirOnly as the !- Inlet Air Configuration, it does not delete the inlet and outlet nodes.  As noted in the Input/Output reference, the inlet and outlet fields should be blank if OutdoorAirOnly is selected.

I think this is causing downstream severe errors when translated to idf.

## Current Behavior

![2021-10-16_LI](https://user-images.githubus

[2021-10-18 15:22] mdahlhausen commented on #408
API keys are no longer necessary to access BCL through the app, but the app still requests an API key.  This is confusing for users, as there is no way to generate an API key now.

[2021-10-19 03:48] macumber opened #444 "Update DesignDay grid view to not use deprecated methods"
Needed to build https://github.com/openstudiocoalition/OpenStudioApplication/pull/443

[2021-10-23 22:26] macumber opened #445 "Inspector does not all access to all fields"
Issue overview
--------------
When inspecting an object in the inspector, fields that are not yet created are not editable.  Previously, we could adjust the minimum number of fields in the OS IDD to create all fields.  Since that is no longer an option, suggest that we create all fields when loading an object in the inspector.

## Current Behavior
<img width="567" alt="fueltype" src="https://user-

[2021-10-26 12:37] #442 closed, assigned to nobody

[2021-10-26 12:40] #441 closed, assigned to nobody

[2021-10-26 13:36] jmarrec opened #449 "OS:Coil:Heating:DX:MultiSpeed:StageData need a Policy to lock curve"
Issue overview
--------------

Curves are showing unlocked, we need a policy

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of OpenStudioApplication (if using an intermediate build, include SHA): 1.2.1

### Context

Noticed while triaging https://github.com/openstudiocoalition/OpenSt

[2021-10-28 15:34] samuelduchesne opened #452 "Digital Signature Required"
Issue overview
--------------
The current installer does not have a Digital Signature, therefore IT departments won't accept to install on employee computers.

The developer needs to provide an installer that is digitally sign as outline by the NIST standards. (see link to the standard below).

https://csrc.nist.gov/CSRC/media/Publications/white-paper/2018/01/26/security-considerations-for-code-si

[2021-10-28 15:45] #452 closed, assigned to nobody

[2021-10-29 09:28] jmarrec opened #456 "OSApp 1.3.0: Release checklist"
- [x] Update icons
- [x] Release Notes
- [x] Update OSM libraries to SDK 3.3.0
- [x] Test Windows Installer
- [ ] Test Mac M1 Installer
- [ ] Test Mac x64 Installer
- [ ] Test Ubuntu 18.04 Installer
- [ ] Test Ubuntu 20.04 Installer
- [x] Remove prerelease version and create tag
- [x] Email Blast

[2021-11-04 14:13] #445 closed, assigned to nobody

[2021-11-04 14:14] #427 closed

[2021-11-11 18:34] eringold opened #464 "Why is ThermalZone gridview adding ZoneControl:Humidistats"
Issue overview
--------------
If I'm understanding this correctly (*not guaranteed!*), the ThermalZones tab will add ZoneControl:Humidistat objects to the zones just by displaying the 'Humidifying/Dehumidifying Setpoint Schedule" columns:

https://github.com/openstudiocoalition/OpenStudioApplication/blob/fcd926fb70d2dc1590847677e08f585973998fdf/src/openstudio_lib/ThermalZonesGridView.cpp#L553-L555

[2021-11-14 01:20] macumber commented on #464
@eringold I fixed this in https://github.com/openstudiocoalition/OpenStudioApplication/pull/465, there will be packages produced on https://github.com/openstudiocoalition/OpenStudioApplication/actions/runs/1457799255, could you test out the ThermalZone tab (humidistats and thermostats) to make sure it is working as expected?

[2021-11-14 18:23] macumber commented on #464
@eringold the Windows installer is https://github.com/openstudiocoalition/OpenStudioApplication/suites/4347359639/artifacts/114063241

[2021-11-14 19:45] eringold commented on #464
Thanks @macumber!
I made a model with zones via the SDK, and opened it and viewed the ThermalZones tab with both the 1.2.1 rc build and your 1.3.0 rc. The 1.3.0 app works as expected: it did not create or assign new thermostat or humidistat objects:
![image](https://user-images.githubusercontent.com/10799524/141696056-422a4c0f-8827-4bfe-b9e5-5043d6a7fdec.png)

[2021-11-14 20:02] macumber commented on #464
Thanks @eringold, did it perform as expected when adding or removing thermostat/humidistat schedules?

[2021-11-14 20:13] marccosta commented on #464
Thanks @eringold <https://github.com/eringold>

On Sun, Nov 14, 2021 at 12:02 PM Dan Macumber ***@***.***>
wrote:

--

CONFIDENTIALITY NOTE: The information in this email is intended only for
the use of the individual or entity named above. If you may have received
this message in error, please email or call the sender. If you are not the
intended recipient, any dissemination, distribution or copy

[2021-11-14 20:44] eringold commented on #464
@macumber
- Dragging one or both schedules to Humidistat/Thermostat drop areas adds Humidistat/Thermostat object with schedules as expected.
- Removing one schedule from H/Tstat in TZ tab removes it from the H/Tstat object as expected.
- Removing both schedules from H/Tstat in TZ tab removes H/Tstat object from model (and unassigns from TZ object) as expected.
- Removing both schedules assigned to

[2021-11-14 21:01] macumber commented on #464
Deleting both hstat schedules deletes the hstat but tstats don’t do that, I think it’s kind of odd they work differently, I could remove the tstat if both schedules are removed.  That’s my main remaining question

[2021-11-14 21:15] eringold commented on #464
I think removing the tstat if both schedules are removed makes sense.

Yeah, maybe it is a step to far to remove stat objects when schedules are removed from the schedules tab. On one hand, the purpose of tstat/hstat objects are to host schedules, so it doesn't really make sense to keep them if the schedules don't exist. OTOH, if a user wants to remove objects, that should be done where they are a

[2021-11-15 00:03] marccosta commented on #464
A broader question would be whether a prompt could pop up to notify the
user that related changes would automatically happen, or suggest they check
related input fields. It may help with model transparency. However I don't
know how much complexity that would introduce to the code, or to the user.

On Sun, Nov 14, 2021, 1:15 PM Eric Ringold ***@***.***> wrote:

--

CONFIDENTIALITY NOTE: The informa

[2021-11-15 20:33] #464 closed

[2021-11-16 00:29] nsimhai opened #466 "OS App 1.2.1 crashing when running simulation or saving"
Continuation of https://unmethours.com/question/64303/os-app-121-crashing-when-running-simulation/
Attached v1-0 is the copy I am trying to fix, v0-28 is where the issue originally started
@jmarrec

[NV v0-28.zip](https://github.com/openstudiocoalition/OpenStudioApplication/files/7542419/NV.v0-28.zip)
[NV v1-0.zip](https://github.com/openstudiocoalition/OpenStudioApplication/files/7542413/NV.v1-0.

[2021-11-16 08:21] jmarrec commented on #466
Ubuntu 20.04, openstudioapplication-1.2.1: I can open, save and run your model just fine.

At what exact path on disk is your model located? (looking for something like `C:\...\NV v1-0.osm`). I'm basically trying to see if there's anything unusual in your path, such as if your windows username has special characters or whatever

[2021-11-16 17:13] nsimhai commented on #466
Exact path is C:\Users\nsimhai\Desktop\New Vista OSMs

I have tried a few different filepaths and get the same result. The issue seems to start with the invalid weather file error, which I originally got after moving the OSM and its folder to a new computer via a flash drive. Here is the original version of that file, directly off the flash drive, maybe you can replicate the originating issue:
[NV

[2021-11-16 19:56] nsimhai commented on #466
I opened the v1-0 model in OS 1.2.1 on the old computer, and I did not have any of the issues I'm having on the new one. So it seems to possibly be an issue with the new PC?

Here are the specs on both

NEW (OS crashes):
Latitude 5520
Processor	11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz   1.69 GHz
Installed RAM	16.0 GB (15.7 GB usable)
System type	64-bit operating system, x64-based processor
E

[2021-11-17 03:46] macumber commented on #466
I was also able to run v0-28 on Windows 10.  You have not upgraded to Windows 11 correct? Do you have any extra anti-virus or other software running on your new computer?  Could you run through the steps in https://openstudiocoalition.org/getting_started/troubleshooting/ ?  Sending us the output from running OS with `OPENSTUDIO_APPLICATION_DEBUG=1` might be useful

[2021-11-17 03:47] macumber commented on #466
I don't think this is a missing dll issue otherwise you would crash on startup or accessing a certain tab every time, it would not clear on a restart.

[2021-11-17 18:19] nsimhai commented on #466
Yes, I am using Windows 10, on the version/build specified above. Our IT cannot think of any new software running on the new computer that was not on the old. It does not seem to have Dell Backup and Recovery installed.

Here is the debug log that results from launching the OS app, opening the file, and saving (which results in a crash). The log says it saved the model, and the modified date in wi

[2021-11-18 03:49] macumber commented on #466
Thanks @nsimhai, I don't see anything suspicious in that log.  Do you think you could get a crash dump file and send it (it will be a large file so probably need to share on DropBox or something).

You can create a dump file from Task Manager when the OS App is running:
- https://www.windowscentral.com/how-create-crash-dump-file-manually-windows-10

You can also edit the registry to create a dump

[2021-11-18 20:33] nsimhai commented on #466
Here is a link to the dump file for the OS app while running (shared with your gmail address). I wasn't able to create a dump file for the crash, but I added one that looks like it was created on its own a few days ago, presumably for another crash, so perhaps that will be helpful.

https://iconergyco.sharepoint.com/:u:/s/Projects/EXzh_bWd4z1LhNb5-POWeJAB_Bq_GMlH16NnW4J64ak12w?e=24bZjJ

I have not

[2021-11-19 02:58] macumber commented on #466
@nsimhai I can't download the crash dumps, can you make them public?

[2021-11-19 16:52] nsimhai commented on #466
@macumber Try this one, expires in a few days:
https://iconergyco.sharepoint.com/:u:/s/Projects/EXzh_bWd4z1LhNb5-POWeJABEEyunplzKApEZIBDKYVAWQ?e=Xq4CtX

[2021-11-22 05:35] macumber commented on #466
Thanks @nsimhai.  Your file with a crash was due to a `0xc0000005` error, I have seen that occur before.  Maybe it's possible that your new computer is faster and the timing is resulting in more crashes.  Other things you might try:

- Check for an Explorer plug-ins and try to temporarily disable them (maybe OneDrive or other things like that)
- Try running OpenStudioApp as an admin or with higher

[2021-11-22 21:08] nsimhai commented on #466
Thanks @macumber, I tried both of those suggestions but neither worked.

Turns out I need to use an older version of OS anyway in order to use certain measures. I installed OS v2.9 on the new laptop, but that one crashes as soon as I launch. Seems similar to or [#3827](https://github.com/NREL/OpenStudio/issues/3827) or [#3879](https://github.com/NREL/OpenStudio/issues/3879). I've disabled or unins

[2021-11-23 06:55] macumber commented on #466
Which measures are you trying to run?  XcelEDAReportingandQAQC and XcelEDATariffSelectionandModelSetup?  I tried running those with your model and it seems like most of the issues are just with updating enums to match new fuel type enums.  Do you have a contact at Xcel?  Perhaps it would be easiest and best to update those two measures?

[2021-11-23 07:27] macumber commented on #466
I was able to get those two measures running with your model by 1) adding electricity use, 2) changing AdditionalFuel to Diesel, 3) adding `model=nil` to the arguments method signature, and 4) protecting against using `nil` values.  If Xcel is interested in updating these measures I could help.  If you provide a DropBox upload, I could send you my changed files.

[2021-11-23 18:09] nsimhai commented on #466
Much appreciated @macumber, I sent a Dropbox link to your Gmail.

Agreed, at least for me in particular I would like to stick with 1.2.1, since I've already built a bunch of the model, and going backwards in versions seems like quite an ordeal. I have been talking to some of my coworkers, and they are able to run OS on Dell Precision laptops, so I am asking IT to switch me to one of those. So hope

[2021-11-23 22:17] nsimhai commented on #466
@macumber your fixed measures seemed to work, thanks.

Back to the original crashing issue on 1.2.1, I have tried it on multiple different Dell model laptops with different hardware, and eventually they all suffer the same fate. Like I mentioned back in the original post, it does seem to start when issues with the weather file arise.

Sometimes I get this message when I open the model, but not alw

[2021-11-24 04:47] macumber commented on #466
That is odd.  The zip file you uploaded does not have the weather file in the files directory, that is why you are getting that issue.  I don't know what could have caused that file to go missing? Could you open the About dialog, look at the details section, and see where the temp directory is located?  If you go look at that directory and the one above it do you see anything odd?

![image](https:

[2021-11-26 19:43] #131 closed

[2021-11-26 19:44] #436 closed

[2021-11-26 19:44] #449 closed

[2021-11-26 19:44] #432 closed

[2021-11-26 19:47] macumber commented on #435
I checked and this issue is not resolved when upgrading to Qt 6.2.  Going to defer to a future release as this probably requires a larger refactor.

[2021-11-27 05:03] macumber commented on #466
I finally saw this tonight when using Address Sanitizer in release mode.  When I opened the file, the weather file name was empty, I changed tabs and came back to see the weather file name filled in.  I ran a simulation and got a crash.  All output attached

[asan.out.txt](https://github.com/openstudiocoalition/OpenStudioApplication/files/7611241/asan.out.txt)

[2021-11-27 22:02] macumber opened #468 "Weather file information is not seen when first opening a file"
## Current Behavior
When first opening an OSM, the epw file is not found and therefore location data is not displayed.

## Expected Behavior
The location data should be displayed.

## Steps to Reproduce
1. Open an OSM file with a valid EPW file assigned
2. On first tab, the location name and other data are blank
3. Change tabs then go back to first tab
4. The location name and other data are not b

[2021-11-27 22:02] macumber commented on #466
File a new bug for the first tab issue https://github.com/openstudiocoalition/OpenStudioApplication/issues/468

[2021-11-29 00:52] macumber commented on #466
@nsimhai I have looked into this issue more today and I am thinking this seems likely to be an issue with your anti-virus scanning changes in the temporary directory and temporarily locking the new files.  Something like https://www.bleepingcomputer.com/news/security/google-chrome-fixes-antivirus-file-locking-bug-on-windows-10/.

What anti-virus software(s) are you using? Is it possible to tempora

[2021-11-29 03:56] macumber commented on #466
If you have a chance to download this private build: https://github.com/openstudiocoalition/OpenStudioApplication/suites/4488242575/artifacts/119592613

You can re-run the following commands to generate a little more debugging information, this would help us confirm where the crash is occurring:

[code]

[2021-11-29 18:26] nsimhai commented on #466
@macumber Yes, this behavior definitely seems similar to what I've seen with the weather file.

We are using Acronis Cyber Protect. I got with IT and turns out they were receiving some messages that it was blocking OpenStudio. I think your guess is correct, it's probably doing something similar to what's described in that link. **I had IT exclude OpenStudioApp.exe, openstudio.exe, and the entire C

[2021-11-30 02:41] macumber commented on #466
Thanks for the feedback, it sounds like excluding OpenStudio from real-time protection might be working so far, let us know if that turns out to be incorrect.  We are working on digitally signing our application for the next release, that might enable a higher level of trust with your anti-virus software.

I'll wait a few days and if we don't hear any updates from you, I will close this issue with

[2021-11-30 05:25] #466 closed

[2021-12-04 04:56] JasonCNTJ opened #472 "Why the font in my OS is white?"
Issue overview
--------------

Part of my OS application's interface font is white.In particular, I need to note that the coordinates are not scaled when I draw the floorplan.
I use the windows10 21H1 and OpenStudio 1.1.0.
## Current Behavior

![a7e902fc648ccf055f2fbf5845f3068](https://user-images.githubusercontent.com/95516034/144697604-94acec57-c03f-41ba-91bc-3f6ce02bc907.png)
![e86f010cff45b1ee

[2021-12-04 17:45] macumber commented on #472
I think this is a duplicate of https://github.com/openstudiocoalition/OpenStudioApplication/issues/389

We have not been able to figure out how to reproduce this or what users who see this have in common.  Can you do windows key + R and type 'dxdiag' and in there do "save all information" and post an update with this block (paste your log where indicated please.)

[code]

[2021-12-05 02:03] JasonCNTJ commented on #472
<details>

<summary>click to expand log</summary>

PASTE HERE
</details>
------------------
System Information
------------------
      Time of this report: 12/5/2021, 09:50:54
             Machine name: DESKTOP-FVKMQ76
               Machine Id: {0B08F989-9CDC-452E-A060-D3C40D4C253D}
         Operating System: Windows 10 专业版 64-bit (10.0, Build 19043) (19041.vb_release.191206-1406)

[2021-12-10 18:30] #468 closed

[2021-12-12 21:19] macumber opened #475 "Add "Launch OS App Now" and "Install Shortcuts" checkboxes to installer"
Enhancement Request
--------------
Add "Launch OS App Now" checkbox to installer.  Also add an "Install Shortcuts" checkbox to installer.

## Detailed Description
This would make it easier for new users who might not know how to navigate to the install directory and find the exe to launch.

## Possible Implementation
https://forum.qt.io/topic/80203/how-to-launch-my-software-when-the-installation-i

[2021-12-16 05:07] #205 closed

[2021-12-16 05:10] macumber commented on #110
Looks like this is now available in OS

[2021-12-16 05:12] macumber opened #476 "Apply to selected does not work on ThermalZone Cooling or Heating Size Parameters"
Issue overview
--------------
Changes are applied but do not update until changing tabs. Likely need to add additional objects to watch on this tab

[2021-12-18 18:39] macumber opened #477 "SubSurface types don't line up with many subsurfaces in space"
Issue overview
--------------
With many subsurfaces in a space, the subsurface types don't line up well

![image](https://user-images.githubusercontent.com/1327850/146652546-3399f675-490c-44dd-9e5a-a084e5d6b678.png)

This makes it hard to edit subsurfaces

## Steps to Reproduce
See OSM in issue files repo

[2021-12-18 18:51] macumber commented on #477
Seems to happen with small numbers of subsurfaces too

[2021-12-21 17:38] macumber opened #478 "Update to Visual Studio 2022 (version 17)"
Enhancement Request
--------------

## Detailed Description

## Possible Implementation

[2022-01-03 05:22] macumber opened #479 "Measure updates on BCL don't work"
Issue overview
--------------
Download a measure from BCL, update measure on BCL, app detects new version is available but won't download it.

## Current Behavior
App detects new version is available but won't download it.
![image](https://user-images.githubusercontent.com/1327850/147901527-53696353-b601-4b1b-b1f2-5dfe9d283fda.png)

## Expected Behavior
App should show check box next to measures w

[2022-01-05 13:30] dubois34 opened #480 "compiling current version on ubuntu 20.04"
Hi there,
Few months ago I succeeded in compiling OpenStudioApplication on my ubuntu laptop.
I tried to do an update and now it fails.

In a new build folder I did
aqt install --outputdir ./Qt-install 5.15.0 linux desktop gcc_64 -m qtwebengine qtwebglplugin
cmake .. -DCMAKE_BUILD_TYPE=Release -DQT_INSTALL_DIR=./Qt-install/5.15.0/gcc_64/

cmake did a lot of things, but it failed on

-- Conan execut

[2022-01-09 23:02] macumber commented on #480
I think the URLs in `ConanInstall.cmake` are likely correct given that they are working on CI.  My guess is that something is off with your local environment.  What version of conan are you using (`conan -v`)?  I have 1.41.0, the CI is using 1.43.0, I remember some issue with earlier versions.  Can you try `pip3 install conan --upgrade` and see if that fixes the issue?  You could also try clearing

[2022-01-10 07:43] dubois34 commented on #480
Hi,
I did an update of conan (mine is 1.44 now) and I cleared the cache.
When I cleared the cache it said:
%<---
WARN: Migration: Updating settings.yml
WARN: ****************************************
WARN: settings.yml is locally modified, can't be updated
WARN: The new settings.yml has been stored in: /home/dubois/.conan/settings.yml.new
WARN: ****************************************
Removing the

[2022-01-11 06:09] Bill-Grace opened #481 "Kiva inputs"
Enhancement Request
--------------
 Incorporate Kiva fully into the OS Application

## Detailed Description
In OS Application it is possible to choose from a number of Surface Boundary Objects including "Foundation" which can be used for Kiva. It would be helpful if there was a Kiva measure that provided settings to enable Kiva. The TBD measure allows Kiva inputs but as an add on to thermal bridgi

[2022-01-11 15:20] rd2 commented on #481
Linked to this [post](https://unmethours.com/question/66921/ground-coupling-small-building-floor-slab/).

The following is a _head's up_ if ever the OpenStudio App Team were to tackle this enhancement.

--

[TBD](https://github.com/rd2/tbd) does indeed generate a complete set of KIVA inputs - and without having any need to drag-in thermal bridging calculations. Why not simply develop a dedicated K

[2022-01-12 05:19] macumber commented on #481
Thanks for the input @Bill-Grace.  The OpenStudio Coalition doesn't currently have any measures in this repository, if we did create measures they would likely be in a separate repository and this issue could be moved there.  I do think that the relevant Kiva objects could be exposed in the OS App as suggested by @rd2

[2022-01-13 13:34] jmarrec opened #482 "Adjust Policy for Swimming Pool to hide Pool Water In/Outlet Nodes (+ icon)"
Issue overview
--------------
Adjust Policy for Swimming Pool to hide Pool Water In/Outlet Nodes (+ icon)

## Current Behavior

![image](https://user-images.githubusercontent.com/5479063/149339613-3f89df6a-3873-4f6b-b47a-91606a44f5f0.png)

## Expected Behavior

Pool nodes should be hidden.
And an icon would be nice.

## Details

### Environment

Some additional details about your environment for t

[2022-01-17 04:30] macumber opened #483 "RunView server port is 0, no run feedback"
Issue overview
--------------

First reported at:
https://unmethours.com/question/67363/openstudio-has-crushed/

## Current Behavior
Run server port is 0 and no feedback from openstudio CLI gets to App.  This also seems to prevent simulation results from making it back to the user's directory.

## Expected Behavior
The simulation output should appear in the app and simulation results should get co

[2022-01-18 01:04] macumber commented on #483
User upgraded from 1.2.0 to 1.3.0 and said issue temporarily went away.  However, she reported that the issue came back after restarting.

[2022-01-18 01:40] macumber commented on #483
Oddly measure manager seems to be working which uses a similar TCP socket: https://github.com/openstudiocoalition/OpenStudioApplication/blob/ee279819ce29f94aa0918d44db430ff36fa609dd/src/openstudio_app/OpenStudioApp.cpp#L1283

[2022-01-23 17:04] #456 closed

[2022-02-08 00:45] ed-p-may opened #485 "ucrtbase.dll Error on Windows 11 in Parallels"
## Issue
--------------
Trying to install OpenStudioApplication on Mac M1 running parallels and Windows 11, but receiving an error on attempted application startup?

## Current Behavior
OS and OS application seem to install fine, but if I try and run OSApp I get the error and application requires force-quit to exit:

`“Measure Manager has crashed, attempting to restart… unexpected ucrtbase.dll”`

[2022-02-08 19:52] rwadhwa910 opened #486 "Openstudio Result measure tab not reporting Interior lighting summary"
Running Openstudio Results measure does not report Interior Light Summary.

![image](https://user-images.githubusercontent.com/63880759/153064874-939c0b00-24a0-4169-bbfa-97ea76bb18b4.png)

[2022-02-09 05:35] macumber commented on #485
Thanks for the excellent debugging and issue report Ed.

OpenStudioApp 3.3.0 does work on Windows 11, that is what I am using now.  I would recommend trying to revert the dlls in your system directories back to what they were, I have never heard of `regsvr32` either so I don't think you have to do that.  The only `ucrtbase.dll` I see in the OS or OSApp installations is under EnergyPlus, maybe we n

[2022-02-09 14:37] PH-Tools commented on #485
Hi Dan @macumber

Thank you for the response and the suggestions.

---
- You are right, the only `ucrtbase.dll` in the OSApp folder seems to be in the EnergyPlus folder.
- I tried copy/pasting that file over to the `.../bin/` folder as you suggested, and then running the App in 'Administrator' mode but unfortunately I still get the same 'Measure Error' as above.
<img width="1052" alt="Screen Shot

[2022-02-09 15:10] macumber commented on #485
Out of curiosity why do you want to run OSApp in parallels?  Is there a problem running the Mac version of OSApp on your Mac?  My understanding is that the Mac builds would work on an M1 machine, we may create a separate M1 build at some point.

[2022-02-09 15:44] PH-Tools commented on #485
Ah - good question:
 - Yes, OSApp and OS all run smoothly on the Mac OS side on the M1. That currently seems to work well - so kudos to the OS team for that for sure! So far smooth sailing there.
 - Our specific workflow is actually using the 'Honeybee' package within Rhino 3D modeler to do all our energy modeling. We love that package and have been using it for a while now.
 - So, the real use-ca

[2022-02-09 21:40] eringold opened #487 "Enable 'x2' button to clone Plant Loops in HVAC Systems tab"
Enhancement Request
--------------
@jmarrec [gave us](https://github.com/NREL/OpenStudio/pull/3238) a working PlantLoop::clone method, but as far as I can tell it's not implemented in OSApp - clicking the 'x2' icon when viewing a plant loop in the HVAC Systems tab does nothing.

(v1.3.0+5faa91ea6b)

[2022-02-10 10:24] jmarrec commented on #487
@eringold it's a very easy change, https://github.com/openstudiocoalition/OpenStudioApplication/blob/202dfeecb4eed44902384d1d33cb92f1b753747d/src/openstudio_lib/HVACSystemsController.cpp#L869-L879

A great first issue, wanna give it a shot 😉?

[2022-02-10 10:29] jmarrec commented on #487
Note you don't even need to check if it's an airloophvac anymore. If loop: loop->clone() is enough

[2022-02-16 03:19] macumber opened #489 "Update Conan CMAKE"
Enhancement Request
--------------
Implement suggested Conan CMake commands to download all CMAKE_CONFIGURATION_TYPES

## Detailed Description
Doing this will allow RelWithDebInfo builds on Windows

## Possible Implementation
See https://github.com/conan-io/cmake-conan#using-conan_cmake_autodetect-and-conan_cmake_install-with-multi-configuration-generators

[2022-02-19 03:40] macumber commented on #435
Another instance of this https://unmethours.com/question/69318/openstudio-13-app-crash-using-hvac-zone-tab/

[2022-02-22 03:04] macumber commented on #435
@lgaunt I found that the fix for the large model crash was not being applied to the Windows builds on CI.  I just merged a fix for this.  If you have a chance to try the installer below and see if that fixes the issue for you that would be great.  I was able to open your model and use the space and zone tabs.

https://github.com/openstudiocoalition/OpenStudioApplication/suites/5379633885/artifacts

[2022-02-24 21:15] Ski90Moo opened #491 "AirLoopHVAC:UnitarySystem does not create handle for Extensible Groups"
Issue overview
--------------

1. When adding extensible groups to the Coil:Cooling:DX:MultiSpeed (stages), it does not create/import the necessary default objects Coil:Cooling:DX:MultiSpeed:StageData.

![2022-02-24_LI](https://user-images.githubusercontent.com/69771412/155608542-9e0aca32-794c-4d4d-bf48-09ecfe9c6ffe.jpg)

2. Additionally, I have created a library file with the necessary stage data

[2022-03-07 02:56] macumber commented on #280
Related to https://github.com/NREL/OpenStudio/issues/4046

[2022-03-08 14:00] muh182 opened #493 "Geometry editor is missing the ruler when grid view is on"
The geometry editor is missing the ruler when the grid view is on.

## This the current behavior:

![Screenshot 2022-03-07 172947](https://user-images.githubusercontent.com/2249257/157252241-a8bc4b45-80a2-42dd-86d9-6665fa398eab.png)

## The expected behavior should be:
<img width="1743" alt="Screen Shot 2022-03-08 at 7 56 58 AM" src="https://user-images.githubusercontent.com/2249257/157252336-b3ea

[2022-03-09 02:45] macumber opened #494 "Opening simulation run directory fails"
Issue overview
--------------
User reported issue here:
https://unmethours.com/question/70637/unable-run-simulation-openstudio/

## Current Behavior
Simulation directory does not open, critical error shown

## Expected Behavior
Simulation directory opens

## Possible Solution
May need to set the URL to be in TolerantMode
https://doc.qt.io/qt-5/qdesktopservices.html#openUrl
https://github.com/opens

[2022-03-09 02:50] macumber opened #495 "FloorspaceJSON is corrupted on merge"
Issue overview
--------------
Reported at https://unmethours.com/question/70492/floorspacejs-json-file-corrupted-after-merging-with-osm/

## Current Behavior
FloorspaceJSON is corrupted during merge

## Expected Behavior
Merge should not corrupt FloorspaceJSON

### Context
Cannot continue working with model

[2022-03-09 03:09] macumber commented on #493
That is odd @muh182, I see the grid labels in the v1.1.0-b2e7010aa0 which is the SHA posted for
https://github.com/openstudiocoalition/OpenStudioApplication/releases/tag/v1.1.0 (I assume that is the one you are using and there is just a 'b'->'v' typo in your post).

Is there a specific action that makes the labels go away?  How did you get a screenshot with and without the labels, is the behavior

[2022-03-09 18:20] lgaunt commented on #435
@macumber I was able to open my model and access the space and zone tabs as well with the new install. Thank you!

[2022-03-10 00:12] muh182 commented on #493
Thanks @macumber. This is the version:

![Screenshot 2022-03-09 180352](https://user-images.githubusercontent.com/2249257/157560869-4ef7c5be-efef-472d-9b22-74e82f8879ee.png)

We have this version installed in our computer lab. When we open the geometry editor, by default we do not see the ruler for the grid. I tried unchecking and checking back the grid box, but this issue still persists. The othe

[2022-03-12 05:28] macumber commented on #493
Oh, that looks like you are hit by https://github.com/openstudiocoalition/OpenStudioApplication/issues/472

I have not been able to reproduce that issue at all.  Would it be possible for you do windows key + R and type 'dxdiag' and in there do "save all information" and post an update with this block (paste your log where indicated please.)

[code]

[2022-04-08 10:28] #487 closed

[2022-04-08 10:37] #438 closed

[2022-04-09 14:48] macumber commented on #205
Hi @bjorn if you look at https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/.github/workflows/app_build.yml#L524 you can see we are installing the SignPath PowerShell module from https://www.powershellgallery.com/packages/SignPath/2.3.0 and then using that module to do the signing requests.  On the signing policy associated with the certificate we unchecked "Use approval pro

[2022-04-10 08:21] bjorn commented on #205
@macumber Thanks, I'd like to try this approach, but the release certificate I got from SignPath does not appear to allow disabling the approval process, nor the origin verification. I guess I should be in contact with somebody from SignPath about this.

![image](https://user-images.githubusercontent.com/531764/162609495-37bcfd95-9113-4f63-abe0-335fa04975b9.png)

Thanks!

[2022-04-10 10:18] jmarrec commented on #205
@bjorn are you using an EV (extended verification) certificate (which you must pay for)? That is what we use. I suggest emailing signpath to try and see if they can help

[2022-04-20 17:16] Ski90Moo opened #500 "openstudio-model-articulation-gem Create Baseline Building Doesn't work"
Issue overview
--------------
I don't know if this is related to the app or if the measure is broken.  When the measure "Create Baseline Building" is executed via Apply Measure Now, it runs successfully, but the resulting model is completely empty.

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
![2022-04-20](https://user-images.githubusercontent.com/69771412/164286475-c1ab4b

[2022-04-22 22:14] mdahlhausen opened #501 "Add field DesignHeatRecoveryWaterFlowRate to the ChillerElectricEIR object"
Enhancement Request
--------------
ChillerElectricEIR supports modeling heat recovery chillers with a split condenser by setting the DesignHeatRecoveryWaterFlowRate field.  This is available in OpenStudio but it is not yet available in the application.  Once set, the user can drag and drop a chiller in the model into the demand side of a heat recovery loop to provide heating to that loop.  Only wo

[2022-04-24 16:39] macumber opened #503 "Network access blocked in reporting measures"
Issue overview
--------------
Network access is blocked when rendering reporting measure output, results look garbled

## Current Behavior
![image](https://user-images.githubusercontent.com/1327850/164986780-0a01fc37-6d34-43e1-ad6d-c0c535fcdf03.png)

## Expected Behavior
Report should render well

## Steps to Reproduce
Create example model, run simulation, load OpenStudio Results measure

## Possi

[2022-04-26 10:31] #494 closed

[2022-04-29 02:14] macumber opened #505 "Compile for Mac M1 architecture"
Enhancement Request
--------------
Compile for Mac M1 architecture

[2022-04-29 02:14] macumber opened #506 "Mac M1 CI runner"
Enhancement Request
--------------
Include a Mac M1 runner for CI

Not sure if this is easier to build on an M1 Mac or cross compile from some other architecture

[2022-04-29 02:15] macumber commented on #505
Added CI as a separate story: https://github.com/openstudiocoalition/OpenStudioApplication/issues/506

[2022-04-29 02:16] #480 closed

[2022-04-29 03:29] #353 closed

[2022-04-29 03:30] macumber opened #507 "OpenStudioApplication 1.4.0 - Release Checklist"
- [x] Update icons
- [x] Release Notes (include note about ARM for Mac and Windows)
- [x] Update OSM libraries to SDK 3.4.0
- [x] Test Windows Installer
- [x] Test Mac M1 Installer
- [x] Test Mac x64 Installer
- [x] Test Ubuntu 18.04 Installer
- [x] Test Ubuntu 20.04 Installer
- [x] Remove prerelease version and create tag
- [x] Email Blast

[2022-04-29 03:31] macumber opened #508 "Update OSM libraries to SDK 3.4.0"
Enhancement Request
--------------
Update OSM libraries to SDK 3.4.0

[2022-04-29 03:36] #503 closed

[2022-04-29 07:12] jmarrec commented on #508
Once 3.4.0 official is released, use the CLI to run this script:

https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/developer/ruby/UpdateOSMVersions.rb

Then commit the results.

[2022-04-29 08:59] jmarrec commented on #501
@j-lorrey This just requires changing the OpenStudioPolicy.xml: https://github.com/openstudiocoalition/OpenStudioApplication/blob/6a7ef37778e3a4ebb1891d522375f7bf69dec558/src/openstudio_lib/library/OpenStudioPolicy.xml#L588

[2022-04-29 18:34] antoine-galataud opened #509 "Geometry preview - on-demand rendering"
Enhancement Request
--------------

Makes 3D rendering of geometry more CPU-efficient by using on-demand rendering and not continuous animation.

## Detailed Description

The main implication will be on the fluidity of scene rendering upon user interactions: with continuous animation there's no `render()` call on each change, so it may appear fluid. On the other hand continuous animation eats up t

[2022-05-01 17:38] macumber opened #512 "Fix TGZ installer on Mac"
Enhancement Request
--------------
Symlinks are created in the [OpenStudioApplication/src/openstudio_app/install_operations.qs](https://github.com/openstudiocoalition/OpenStudioApplication/blob/7078341fc4628ae5746c093c898fb97901d00b6a/src/openstudio_app/install_operations.qs#L32-L34)

We should cmake install that symlink instead of having it in the install_operations.qs so that the tar.gz installe

[2022-05-01 19:29] #483 closed

[2022-05-02 15:52] jmarrec commented on #411
This is going to be very annoying to do. The RunTabView is one big QTextEdit currently.

[2022-05-03 08:55] jmarrec commented on #478
THis requires waiting for OS SDK to do so. Namely, boost needs to be bumped to 1.78.

[2022-05-03 08:57] jmarrec commented on #435
Fixed by https://github.com/openstudiocoalition/OpenStudioApplication/pull/490

[2022-05-03 08:57] #435 closed

[2022-05-03 09:01] #110 closed

[2022-05-03 09:01] #437 closed

[2022-05-03 19:12] jmarrec commented on #365
Can't reproduce on mac M1 with current develop. @macumber retest this yourself if you feel like it and reopen if need be.

[2022-05-03 19:12] #365 closed

[2022-05-03 19:14] jmarrec commented on #234
Not hitting this with current develop on a mac M1. Closing until someone says differently.

[2022-05-03 19:15] jmarrec commented on #290
@macumber Now that https://github.com/NREL/OpenStudio/pull/4580 is merged, do we need to do something here?

[2022-05-03 19:17] jmarrec commented on #477
Example model has this issue already. Current develop, mac M1

<img width="1472" alt="image" src="https://user-images.githubusercontent.com/5479063/166530248-2bfb541b-6d01-40bc-8245-406c5d77d483.png">

[2022-05-03 22:37] jmarrec commented on #476
I've investigated this one a bit. On the TZ tab, the "Multiplier" works, but the stuff on the  Cooling/Heating Sizing doesn't.

The main difference is that the Multiplier is a ValueEdit concept, while the non working ones are QuantityEdit, and work through a `ProxyAdapter` (because you actually set that stuff onto the ThermalZone's SizingZone object).

Fixing it is far from trivial, as it requires

[2022-05-04 00:42] jmarrec commented on #476
I think I got a way, but it involves a nano_emit()...

[2022-05-04 01:20] #413 closed

[2022-05-04 04:22] macumber commented on #290
Nope that is all here!  I do want to get all of @antoine-galataud's fixes back into the https://github.com/NREL/openstudio-common-measures-gem/ ViewData and ViewModel measures though.

[2022-05-04 04:22] #290 closed

[2022-05-04 10:56] #477 closed

[2022-05-04 10:57] #476 closed

[2022-05-04 10:57] #428 closed

[2022-05-04 12:30] jmarrec commented on #485
@PH-Tools Can you try to install the official energyplus EXE installer for EnergyPlus V22-1-0) on your machine, then retry running the App? direct link: https://github.com/NREL/EnergyPlus/releases/download/v22.1.0/EnergyPlus-22.1.0-ed759b17ee-Windows-x86_64.exe

You might ask "What the hell does that have to do with anything?" :) Well, the E+ IFW installer copies a bunch of dlls to the C:/Windows/

[2022-05-04 12:44] jmarrec commented on #485
I haven't been able to reproduce the issue on a **clean** windows 11 virtual machine (that I run on virtualbox with an Ubuntu 20.04 host).

Note that even if the measure manager worked, you actually wouldn't be able to run simulations in E+ since 9.6.0 is missing vcomp140.dll (for OpenMP), something I have (fixed recently in https://github.com/NREL/EnergyPlus/pull/9310 and is only included in eneg

[2022-05-04 13:11] jmarrec commented on #118
@DavidGoldwasser Any chance you could retest this/report recent feedback please? If it's still problematic, it's possible https://github.com/openstudiocoalition/OpenStudioApplication/pull/510 will fix it

[2022-05-04 13:23] PH-Tools commented on #485
Hi @jmarrec Thanks for taking a look at this!

I tried installing E+ v22-1-0 as you suggested. I tried it two ways (To see if that mattered):

1) Install E+ v22-1-0 first, then install OpenStudio-3.3.0 and OpenStudioApplication-1.3.1
2) Install OpenStudio-3.3.0 and OpenStudioApplication-1.3.1 first, and then E+ v22-1-0 second

I made sure to copy/paste that **vcomp140.dll** into C:\openstudioappli

[2022-05-04 16:13] jmarrec commented on #485
I'm kinda out of ideas, let's hope your post at https://forum.parallels.com/threads/ucrtbase-dll-errors-running-application.356598/ pans out.

[2022-05-04 17:55] PH-Tools commented on #485
Hi @jmarrec

I'm not sure I know the difference between an arm64 and an x86_64/arm64 I'm afraid? But my environment is currently:

- Macbook 2021, Apple M1 Max
- OS 12.3.1 (Monterey)
- Parallels v17.1.2
- Windows 11 Home, Version 10.0.22000.613

![Screen Shot 2022-05-04 at 1 51 09 PM](https://user-images.githubusercontent.com/69652712/166748929-c4a0621f-9e7f-4525-9074-ef57c44fef20.png)

![Screen S

[2022-05-04 18:08] jmarrec commented on #485
I'm 99% sure what you have is windows on arm: https://kb.parallels.com/125375

Can you try this in cmd.exe:

[code]

Short story: everything in that stack (E+, OS CLI and OpenStudioApplication) has been compiled on on a x86_64 (also called amd64) platform.  The system DLLs the CLI tools expect are for that architecture. If you are running Windows on arm, then the architecture is different and woul

[2022-05-04 18:14] jmarrec commented on #485
https://www.windowsdigitals.com/check-windows-11-64-bit-32-bit-or-arm/

[2022-05-04 19:08] PH-Tools commented on #485
Hi @jmarrec

Ah - that makes sense, thanks. And yes you bet - here is what I get:

![Screen Shot 2022-05-04 at 2 25 06 PM](https://user-images.githubusercontent.com/69652712/166804223-8daf52dc-4ebf-41d1-a7b9-cb9435b1db84.png)

---
![Screen Shot 2022-05-04 at 3 06 48 PM](https://user-images.githubusercontent.com/69652712/166807989-479b50eb-4416-4524-9871-e0ff44437734.png)

So yes: looks like it is?

[2022-05-04 19:15] jmarrec commented on #234
I actually ran into this today. Happens when you save the model for the first time (when using "open" I don't seem to get it)

[2022-05-04 23:00] jmarrec commented on #479
App doesn't actually detect there's a new version at all. It shows that checkbox as checked (by not checkable) because you already have it.

[2022-05-04 23:51] jmarrec commented on #116
I narrowed it down, this is what triggers it: https://github.com/openstudiocoalition/OpenStudioApplication/blob/7227462c53fd50e9d3e9d9c2209dc0ded90654f6/src/openstudio_lib/ModelObjectListView.cpp#L56-L83

[2022-05-05 03:24] macumber commented on #485
Oh wow, I did not even know that was a possibility.  I think Windows on ARM is going to become more of a thing: https://www.zdnet.com/article/first-windows-11-on-arm-laptops-arrive-with-microsofts-pluton-chip-heres-why-it-matters/.  Probably need to put a Windows ARM build on the roadmap

[2022-05-05 05:15] jmarrec commented on #485
The issue is that there are no runners available for it... if we need to buy an m1 mac to run windows on it, I'll be damned :)

[2022-05-05 05:18] jmarrec commented on #485
The only reason I thought of it is because I do have an m1 mac and I have briefly toyed with the trial version of parallels desktop

[2022-05-05 05:33] macumber commented on #485
Should be able to cross compile

https://devblogs.microsoft.com/cppblog/windows-arm64-support-for-cmake-projects-in-visual-studio/

[2022-05-05 05:43] jmarrec commented on #485
Expect massive pain in the beginning  especially with regards to conan packages... and we would need to get clang working on windows first. Fun stuff :)!

[2022-05-05 06:54] #509 closed

[2022-05-05 07:00] #479 closed

[2022-05-05 15:09] #508 closed

[2022-05-05 15:10] jmarrec commented on #508
(I went ahead and did it since I just updated everything to 3.4.0 anyways. I wish I had remembered before I sent 1.4.0-rc1 to build)

[2022-05-05 16:04] jmarrec opened #519 "v1.4.0-rc1 Testing: Call for help from the community"
## Important Notes

You might encounter a problem running simulations on Windows. This is because there is a missing DLL for the energyplus executable called `vcomp140.dll` (if you have C++ redist package installed, you probably won't get the issue).

This is just a 180 KB DLL and can be placed manually in `C:\openstudioapplication-1.4.0-rc1\EnergyPlus\`. I hosted it here for anyone who wants a qu

[2022-05-05 16:16] #415 closed

[2022-05-05 16:16] jmarrec commented on #415
I have opened a new call for help for testing v1.4.0-rc1 here: https://github.com/openstudiocoalition/OpenStudioApplication/issues/519

[2022-05-06 07:15] jmarrec commented on #519
### Platform and version: Windows 10 20H2 (clean VM)

* [x] I could install the OpenStudioApp installer
* [ ] I could launch the OpenStudioApp.exe: **NO**

## Problems found:

The OSApp segfaults upon launch.

![image](https://user-images.githubusercontent.com/5479063/167084103-55111c8c-1a3c-43dd-88b1-4a3b002f0792.png)

![519_segfault](https://user-images.githubusercontent.com/5479063/167084767-24

[2022-05-06 08:12] jmarrec opened #520 "macOS: dialog box titles do not display"
Issue overview
--------------

Dialog box titles do not display on macOS (tested on an M1 mac)

## Current Behavior

## Expected Behavior

This is what shows on Ubuntu 20.04:

![image](https://user-images.githubusercontent.com/5479063/167093281-bef44643-d999-40db-a7fc-23a24e5a4d87.png)

## Steps to Reproduce

1. Open the "Help" > "About"

## Details

### Environment

Some additional details about

[2022-05-06 08:25] jmarrec commented on #520
seems ike that's because of Apple's guidelines: https://stackoverflow.com/questions/21904910/qmessageboxcritical-do-not-show-title-text

[2022-05-06 09:10] antoine-galataud commented on #519
## Checklist

### Platform and version: Ubuntu 20.04

* [X] I could install the OpenStudioApp installer
* [X] I could launch the OpenStudioApp.exe
* [X] I can load File > Example > Example Model
* [X] I can go to Geometry Preview and see the example model
    * [X] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [X] I have tested the new on demand rendering: performanc

[2022-05-06 09:20] jmarrec commented on #519
## Checklist

### Platform and version: Ubuntu **22.04** (Jammy Jellyfish), **CLEAN VM**

* [X] I could install the OpenStudioApp installer
* [X] I could launch the OpenStudioApp.exe
* [X] I can load File > Example > Example Model
* [X] I can go to Geometry Preview and see the example model
    * [X] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [X] I have tested the

[2022-05-06 10:33] jmarrec opened #521 "Need to install vcomp140.dll for EnergyPlus on Windows"
Issue overview
--------------

Need to install vcomp140.dll for EnergyPlus on Windows, this is a new DLL: https://github.com/NREL/EnergyPlus/pull/9310

This is really an OpenStudio SDK issue (which is my fault, when I added it to OpenStudio's install rules, I made a typo, so it's actually not added to the installer), yet we probably don't want to ship a broken install so we should work around it.

[2022-05-06 11:11] jmarrec commented on #358
This is back on 1.4.0-rc1 with the move to Qt6. #418 had fixed it by putting

[code]

That got removed in #461: https://github.com/openstudiocoalition/OpenStudioApplication/pull/461/files#diff-3e0e7d9040c69c7312cc9765c646281ec373ef0b11a098c8863e33216d629e3fR349

[2022-05-06 11:43] jmarrec opened #522 "Too many new lines in Verbose output on the Run tab on Windows"
Issue overview
--------------

## Current Behavior

![image](https://user-images.githubusercontent.com/5479063/167115556-afce107d-8882-403c-8975-ce2238bd2af7.png)

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating system, version): Windows only
 - Version of OpenStudioApplication (if using an intermediate build, include

[2022-05-06 11:45] jmarrec opened #523 "Measures list is not updated after download from BCL"
Issue overview
--------------

## Current Behavior

After downloading a measure from the BCL, I had to switch tabs and go back to the "Measures" tab to see it in the "Library"

## Expected Behavior

It should be updated

## Steps to Reproduce

1. Go "Measures" tab
2. Click "Find Measures"
3. Download a measure, for eg "set window to wall ratio". Close dialog
4. Measures list is not updated, there

[2022-05-06 11:51] jmarrec opened #524 "Segfault when action (example model / language preferences) tries to restart the app"
Issue overview
--------------

## Current Behavior

When doing an action that tries to destroy the app and relaunch - Load Example Model or change Language preferences - the App will often segfault.

## Expected Behavior

No one likes segfaults

## Steps to Reproduce

1. Launch App
2. Click "Examples" > "Example Model" or Change language preference, it'll try to restart the app
3. It'll segfault l

[2022-05-06 12:02] jmarrec commented on #519
### Platform and version: macOS 12.3 arm64 (M1)

#### Caveat: this is machine on which I built the installer

* [x] I could install the OpenStudioApp installer
* [x] I could launch the OpenStudioApp.exe
* [x] I can load File > Example > Example Model
* [x] I can go to Geometry Preview and see the example model
    * [x] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [

[2022-05-06 14:25] jmarrec opened #526 "Cannot build OSApp in Debug Mode since the move to Qt 6.3.0"
Issue overview
--------------

## Current Behavior

I get a linked error, which is probably indicative of an actual issue in the code.

[code]

## Possible Solution

There's probably a virtual function that's missing a definition in the current translation unit (TU)

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operating sys

[2022-05-06 15:07] #521 closed

[2022-05-06 15:18] jmarrec opened #528 "QObject::connect warnings upon startup"
Issue overview
--------------

I'm seeing some new warnings directly after app is launched.

## Current Behavior

[code]

Using a debugger with `QT_FATAL_WARNINGS=1`, I see it starts here: https://github.com/openstudiocoalition/OpenStudioApplication/blob/d457fb33d27be52e4f85ef23738f584b00449b12/src/shared_gui_components/MeasureManager.cpp#L86

[code]

## Details

### Environment

Some additional d

[2022-05-07 15:32] macumber commented on #358
Is this OpenGL issue one that you want me to look at @jmarrec ?

[2022-05-07 15:38] macumber opened #529 "Build Windows ARM packages"
Enhancement Request
--------------
Needed to run in Parallels on Mac M1 and also future Windows ARM laptops

Fixes https://github.com/openstudiocoalition/OpenStudioApplication/issues/485

Depends on https://github.com/openstudiocoalition/OpenStudioApplication/pull/470
Depends on https://github.com/openstudiocoalition/OpenStudioApplication/issues/478
Depends on https://github.com/NREL/OpenStudio/is

[2022-05-08 20:50] macumber opened #530 "WaitDialog can have black background under text"
Issue overview
--------------

![image](https://user-images.githubusercontent.com/1327850/167315335-92bb8dbf-d5cf-47fa-ac3c-e12ff6f2b832.png)

### Environment

Some additional details about your environment for this issue (if relevant):
64-bit operating system, x64-based processor
Windows 10 Pro

[2022-05-08 20:52] macumber commented on #530
The `OSDialog::paintEvent` also results in weird looking horizontal pattern on the window bar

[2022-05-09 07:47] #526 closed

[2022-05-09 07:47] #528 closed

[2022-05-09 09:32] jmarrec commented on #358
There's also a `C:\Qt\6.3.0\msvc2019_64\lib\cmake\Qt6\FindGLESv2.cmake` which adds a `GLESv2::GLESv2` target.

[2022-05-09 09:44] jmarrec commented on #230
Fixed via #511

[2022-05-09 09:44] #230 closed

[2022-05-09 09:48] jmarrec commented on #505
Done, 1.4.0-rc1 has an M1 installer that seem to work (on machines that aren't my own where I built it)

[2022-05-09 09:48] #505 closed

[2022-05-10 05:31] #501 closed

[2022-05-11 02:10] macumber commented on #519
@rd2 if you are able to test the installers your input is always appreciated!

[2022-05-11 02:11] macumber commented on #526
Confirmed this is fixed

[2022-05-11 02:12] macumber commented on #477
Confirmed this is fixed

[2022-05-11 02:24] macumber opened #535 "Offset drop downs for measure arguments on the measure tab"
Issue overview
--------------
Using a measure with drop down arguments, selecting the drop-down results in the choice list showing offset

## Current Behavior
![image](https://user-images.githubusercontent.com/1327850/167756113-cada223c-6e9e-4cd8-aebd-bf50876126ed.png)

## Expected Behavior
Drop down choices should appear related to the argument box
## Details

### Environment

Some additional det

[2022-05-11 02:45] macumber opened #536 "Text too large on OSItems"
Enhancement Request
--------------
The text on OSItems seems larger than it used to be

## Detailed Description
Comparison of 1.4.0 vs 1.3.0

![image](https://user-images.githubusercontent.com/1327850/167758471-6ecee4ea-9151-4308-81ba-9a4613b309f2.png)

## Possible Implementation
Adjust stylesheet for OSItem

[2022-05-11 02:54] macumber commented on #536
Overall changes in Qt 6 seem like they are making better use of UI real estate

[2022-05-11 03:23] macumber commented on #523
We probably need to test the case of downloading a measure from BCL, updating on BCL, downloading an update in the app so more.  I had an old OpenStudio Results measure and it did not seem to be updating correctly to the new one.  Solution was to delete the BCL measures dir and re-download (not great)

[2022-05-11 03:34] macumber commented on #524
I hit this too, got a couple of random crashes too.  I turned on the debug logging

[2022-05-11 03:42] macumber commented on #523
Probably also need a "Downloading" dialog while downloading updates

[2022-05-11 04:46] macumber commented on #519
## Checklist

### Platform and version: Windows 11 Pro 21H2 (developer machine)

* [x] I could install the OpenStudioApp installer
* [x] I could launch the OpenStudioApp.exe
* [x] I can load File > Example > Example Model
* [x] I can go to Geometry Preview and see the example model
    * [ ] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [ ] I have tested the new on d

[2022-05-11 22:34] j-lorrey commented on #519
## Checklist

### Platform and version: macOS 11.6.5 x64

* [x] I could install the OpenStudioApp installer
* [X] I could launch the OpenStudioApp.exe
* [x] I can load File > Example > Example Model
* [x] I can go to Geometry Preview and see the example model
    * [x] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [x] I have tested the new on demand rendering: perfor

[2022-05-12 01:48] macumber commented on #358
We are also missing `dbghelp.dll` which was shipped with 1.3.1

[2022-05-12 03:56] macumber commented on #358
[opengl32sw.qt-6.3.0.zip](https://github.com/openstudiocoalition/OpenStudioApplication/files/8674891/opengl32sw.qt-6.3.0.zip)

[2022-05-13 05:30] macumber commented on #523
I think this issue is more serious. I had an old version of OpenStudio Results Measure in my BCL dir and in my current model.  The new feature found and downloaded the new version of the measure to my BCL dir.  However, after that, the Synch Project Measures with Library button did not detect an updated measure and update the model, even after restarting the OS App.

[2022-05-13 05:37] macumber commented on #523
And now after clicking around a bit more it did finally detect the update....

[2022-05-21 16:15] macumber opened #538 "Too many crashes"
Issue overview
--------------
We are seeing too many crashes in the current 1.4.0-rc1 build.  I am going to try to catalog them in this issue.  I am running a debug build to try to get stack traces.

[2022-05-21 16:16] macumber commented on #538
1 - Crash on launch:

[code]

[2022-05-21 16:29] macumber commented on #538
2 - Crash on load example model: This looks to me like the mouse release event from the previous document is trying to fire after the previous main window was destroyed.

[code]

[2022-05-21 17:31] macumber commented on #538
3 - This looks like a double delete on a WorkspaceObject

[code]

[2022-06-03 08:56] #538 closed

[2022-06-03 09:03] #358 closed

[2022-06-03 09:07] jmarrec commented on #536
The biggest issue here is that on 1.4.0 there's an extra "Airplane mode off" overlay that we didn't have in 1.3.0 :)

[2022-06-03 09:09] jmarrec commented on #524
Fixed via #539

[2022-06-03 09:09] #524 closed

[2022-06-03 09:12] jmarrec commented on #495
We don't have enough information to reproduce (user didn't respond when asked for the files). With the direction things are going (use gltf), I'm closing. We can reopen if we get enough info to reproduce though.

[2022-06-03 09:13] jmarrec commented on #298
Is there really an action item for us here? Seems like this is the default behavior of the OS SDK (which clones the schedule days), or am I misreading the situation?

[2022-06-03 09:16] jmarrec commented on #530
@macumber you touched WaitDialog in #539 (specifically in https://github.com/openstudiocoalition/OpenStudioApplication/commit/388ea1cf55719478410ddb8a9f7a33580b645baf) , could you try to reproduce the issue and see if it fixes it please?

[2022-06-03 10:17] jmarrec commented on #234
Hum, I'm seeing a ton of calls to QCocoa. eg this happens when I merely click on a MainMenu item:

[code]

[2022-06-03 10:19] jmarrec commented on #234
Arg, the functions are inline so I 'm not sure what's happening. Here's me saving a model explicitly:

[code]

[2022-06-03 11:59] jmarrec opened #541 "v1.4.0-rc2 Testing: Call for help from the community"
## Testing Instructions

The second release candidate of the 1.4.0 release has been posted. The 1.4.0 is a minor release. It udpates the OS SDK from 3.3.0 to 3.4.0 and EnergyPlus from 9.6.0 to 22.1.0.

**Are you willing to test it out to help us make a great product? This will only take a few minutes of your time, yet it is absolutely critical for us to be aware of bugs.**

Ready? You're awesome,

[2022-06-03 11:59] jmarrec commented on #519
RC2 testing has started at https://github.com/openstudiocoalition/OpenStudioApplication/issues/541

[2022-06-03 11:59] #519 closed

[2022-06-03 13:24] jmarrec commented on #541
## Checklist

### Platform and version: Ubuntu **22.04** (Jammy Jellyfish), **CLEAN VM**

* [X] I could install the OpenStudioApp installer
* [X] I could launch the OpenStudioApp.exe
* [X] I can load File > Example > Example Model
* [X] I can go to Geometry Preview and see the example model
    * [X] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [X] I have tested the

[2022-06-03 13:35] jmarrec commented on #541
## Checklist

### Platform and version: Windows 10 20H2, **CLEAN VM**

* [X] I could install the OpenStudioApp installer
* [X] I could launch the OpenStudioApp.exe
* [X] I can load File > Example > Example Model
* [X] I can go to Geometry Preview and see the example model
    * [X] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [X] I have tested the new on demand rend

[2022-06-03 13:46] jmarrec commented on #541
### Platform and version: Windows 11 21H2, CLEAN VM

**Exact same thing as with Windows 10 20H2 above**

## Problems fixed:

At 1.4.0rc1 for the OS Results measures, I get this weird error:  ![image](https://user-images.githubusercontent.com/5479063/167124138-1774effc-d92f-4872-8834-cdc3733c3136.png)

[2022-06-03 13:59] jmarrec commented on #541
## Checklist

### Platform and version: Ubuntu 20.04 **DEVELOPPER MACHINE**

* [X] I could install the OpenStudioApp installer
* [X] I could launch the OpenStudioApp.exe
* [X] I can load File > Example > Example Model
* [X] I can go to Geometry Preview and see the example model
    * [X] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [X] I have tested the new on deman

[2022-06-03 21:30] j-lorrey commented on #541
## Checklist

### Platform and version: macOS 11.6.5 x64

* [x] I could install the OpenStudioApp installer
* [x] I could launch the OpenStudioApp.exe
* [x] I can load File > Example > Example Model
* [x] I can go to Geometry Preview and see the example model
    * [x] I have tested the new Geometry Preview features: filter by AirLoopHVAC
    * [x] I have tested the new on demand rendering: perfor

[2022-06-05 16:31] macumber opened #542 "Ubuntu 22.04 uses Wayland by default"
Issue overview
--------------
By default the `QT_QPA_PLATFORM` is xcb on Ubuntu 20.04, but on 22.04 it's wayland.  echo `$XDG_SESSION_TYPE` returns x11 on 20.04 but wayland in 22.04

When launching the OSApp, the platform plugin wayland is not found.

Workaround is to launch the OSApp with `QT_QPA_PLATFORM=xcb OpenStudioApp`

## Current Behavior
OSApp doesn't run on Ubuntu 22.04

## Expected Behav

[2022-06-05 16:32] macumber commented on #541
The remaining problems seem fairly minor to me, I added https://github.com/openstudiocoalition/OpenStudioApplication/issues/542 for the Wayland issue.  I'd suggest releasing this as 1.4.0 and deferring the other issues to a 1.4.1 release.

[2022-06-07 08:56] jmarrec commented on #535
Windows:

![image](https://user-images.githubusercontent.com/5479063/172339798-b1eb2bf0-1d85-49a9-9cc4-c51f537afe79.png)

[2022-06-07 11:49] jmarrec commented on #535
Having a real hard time to determine what's going on. I removed all styling applied in the two qss files to QComboBox, QListView, QAbstractItemView, QFrame and IGRow. Still having the issue. I also tried to make a MCVE outside of openstudioapp but couldn't reproduce the issue.

https://github.com/openstudiocoalition/OpenStudioApplication/blob/f3d7afb29064b40d75ac8c3c7ec6ca02d48b18b3/src/model_edit

[2022-06-08 00:04] #522 closed

[2022-06-08 00:04] #535 closed

[2022-06-08 00:07] #541 closed

[2022-06-08 03:23] macumber commented on #535
Current develop:

Resolution 1920x1080 (Recommended), Scale 100%
![image](https://user-images.githubusercontent.com/1327850/172524860-75604a97-3f4f-4cb9-8b8c-74226805f973.png)

[2022-06-08 03:30] macumber commented on #535
@jmarrec the images above show what current develop and 1.4.0-RC1 look like on my laptop.  I am probably using old person settings 1920x1080, Scale 125% but that is what Windows recommends as the default.

[2022-06-08 03:32] macumber commented on #535
My suggestion is to leave this as is for now and I can try to get this looking a little better on https://github.com/openstudiocoalition/OpenStudioApplication/pull/540 for a 1.4.1.  What do you think?

[2022-06-08 03:36] macumber commented on #535
Drop downs look good for me on current develop btw, no offset

[2022-06-08 03:41] macumber commented on #522
Verified fix, nice job!

[2022-06-08 03:47] macumber commented on #530
Yup, this is resolved

[2022-06-08 03:47] #530 closed

[2022-06-08 03:55] macumber commented on #536
The tab icons are a bit blurry on my resolution after https://github.com/openstudiocoalition/OpenStudioApplication/issues/535

@jmarrec I don't see the "Airplane mode off" overlay, is that an Ubuntu thing?

[2022-06-08 22:47] jmarrec commented on #536
The overlay mention was a joke, it's in your screenshot but I know that's windows/your laptop and not the osapp

![Screenshot_20220609-004516_Firefox.jpg](https://user-images.githubusercontent.com/5479063/172729997-c016cf2b-5b47-4b56-b5ca-3a759be06ef6.jpg)

We can look into the icons being blurry, but I'd rather have them a bit blurry than have 2 drop-downs out of 3 being out of place.

[2022-06-08 22:50] jmarrec commented on #536
As a reminder from #540, the move might be helpful to investigate this without the overhead of building and running a large project. And the Qt ticket we should monitor

[2022-06-14 00:41] akrickx opened #546 "EPW Line 5 Syntax - HOLIDAYS/DAYLIGHT SAVING"
Issue overview
--------------
OpenStudio is requesting an EPW syntax (and fails to load an EPW file) that is not required when using EP-Launch.

## Current Behavior
OpenStudio fails to load an EPW file with the following line 5 syntax:
HOLIDAYS/DAYLIGHT SAVING,

They load fine in EP-Launch but do not load when opened within OpenStudio. The syntax that OS requires is:
HOLIDAYS/DAYLIGHT SAVINGS, (an

[2022-06-15 18:15] Ski90Moo opened #547 "App crashes after viewing Results Summary tab"
Issue overview
--------------

After viewing the Results Summary tab, clicking on any other tab (eg. Run Simulation, Simulation Settings, etc.) will cause the app to crash.

## Current Behavior

It seems this tutorial for enabling the debug output messages needs to be updated.  The command 'set OPENSTUDIO_APPLICATION_LOGFILE_PATH=%USERPROFILE%\Desktop\osapp.log' did not work.  I had to direct it t

[2022-06-16 02:40] macumber commented on #547
I just reproduced this too, this is a major pain.  I will look into it.

[2022-06-16 13:33] jmarrec commented on #546
This has nothing to do with OpenStudioApplication, it's done in the OS SDK (which we depend on). So you should open an issue on [NREL/OpenStudio](https://github.com/NREL/OpenStudio/issues)

Also, just change your EPW header to have the extra S. The fact that E+ allows you to do it doesn't mean you should.
(E+ checks that the line starts with `HOLIDAYS/DAYLIGHT SAVING` (no S) but if you look at the

[2022-06-16 13:33] #546 closed

[2022-06-16 13:41] jmarrec commented on #547
It does looks like a problem where we don't lock the tab while it loads indeed as Ski90Moo said... geez.

[2022-06-18 14:55] macumber commented on #547
No fixes yet but it does seem that the crash occurs in `BrowserAccessibilityQt::~BrowserAccessibilityQt`.  I've noticed it doesn't seem to crash if you change tabs before the html fully loads.  That makes me think some accessibility thing is loaded/changed/etc at the very end of the page load and that is related to the crash.

[2022-06-18 15:35] macumber commented on #547
I don't know why we are explicitly deleting the m_page and m_view [here ](https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/src/openstudio_lib/ResultsTabView.cpp#L142) since they are already parented by the view.  I commented those deletes out and still got the same crash.

[2022-06-19 00:20] macumber commented on #547
@Ski90Moo could you try this test installer and see if the problem is fixed for you?

[2022-06-19 03:16] Ski90Moo commented on #547
Yes, that seems to have fixed the problem. :)

[2022-06-19 20:17] #547 closed

[2022-06-19 21:29] macumber commented on #547
Thanks for reporting and testing the fix!

[2022-06-20 13:05] jmarrec opened #549 "hvac_library.osm needs to harcode some fields for ZoneHVACTerminalUnitVariableRefrigerantFlow"
Issue overview
--------------

Reported by @Ski90Moo on https://github.com/NREL/OpenStudio/issues/4609

## Current Behavior

cf the changes inhttps://github.com/NREL/OpenStudio/commit/5f947f41d578d11b09a132760a612b3bf6082187

## Possible Solution

Modify hvac_library.osm

## Details

### Environment

Some additional details about your environment for this issue (if relevant):
 - Platform (Operatin

[2022-06-21 02:38] Ski90Moo opened #551 "Add ZoneHVAC:TerminalUnit:VariableRefrigerantFlow to outside air system equipment"
Enhancement Request
--------------

I would like to be able to add the ZoneHVAC:TerminalUnit:VariableRefrigerantFlow object to an outside air system.  It appears that currently this object can only be added as a zone terminal.

This will become more important as VRF systems are modeled because they are becoming more integrated with the ventilation portions of the systems (with dedicated VRF coils

[2022-06-21 06:56] jmarrec commented on #547
That's a question for past you apparently :) https://github.com/NREL/OpenStudio/commit/33021d6e6251cead36b635406e00aabc97d940f9 .

Thanks for the fix @macumber and thanks for reporting and testing @Ski90Moo

[2022-06-21 06:59] jmarrec commented on #551
@Ski90Moo What's the issue here? I can drag a VRF Terminal to an AirLoopHVAC supply side or Outdoor Air System without issue.

![image](https://user-images.githubusercontent.com/5479063/174736407-e880f0e5-b624-4e90-bdba-2b6b84f4c2a6.png)

[2022-06-21 07:01] jmarrec commented on #512
What would be great is also to have a functional OpenStudioApp inside the build folder. Currently I have to build a package everytime I want to test something, and that's annoying.

[2022-06-21 07:08] jmarrec commented on #500
This is probably unrelated to the OS App.

@Ski90Moo Are you applying this measure **on a valid proposed building**? You are trying to apply the "Create Baseline Building" measure, not the "Create DOE Prototype Building". That measure uses your proposed model to create a baseline:
* The geometry must be defined and the proposed HVAC system must be defined, so that the determination of the system t

[2022-06-21 07:08] #500 closed

[2022-06-21 15:45] Ski90Moo commented on #547
Thanks for working on this guys! @macumber @jmarrec

[2022-06-22 05:34] Ski90Moo commented on #549
@jmarrec This appears also to be an issue with the field : !- Rated Total Heating Capacity Sizing Ratio {W/W}

stderr: [BOOST_ASSERT] <2> Assertion value failed on line 258 of double __cdecl openstudio::model::detail::ZoneHVACTerminalUnitVariableRefrigerantFlow_Impl::ratedTotalHeatingCapacitySizingRatio(void) const in file D:\OSN\src\model\ZoneHVACTerminalUnitVariableRefrigerantFlow.cpp.

[2022-06-22 05:53] Ski90Moo commented on #551
Yes, but there is no way to connect this terminal unit to an
AirConditioner:VariableRefrigerantFlow object.

On Tue, Jun 21, 2022 at 12:00 AM Julien Marrec ***@***.***>
wrote:

--
Best Regards,
Mike Lovejoy P.E.
Helix Energy Partners LLC
Helix, OR
http://www.helix-engineers.net/
<https://deref-mail.com/mail/client/aJLmMsp2k0Y/dereferrer/?redirectUrl=http%3A%2F%2Fwww.helix-engineers.net%2F>
P:541-3

[2022-06-23 17:51] Ski90Moo commented on #500
Hello @jmarrec , my apologies!  Yes, I was trying to create the DOE prototype building, but evidently got the two measures confused.  Thank you.

[2022-06-23 18:24] jmarrec commented on #500
No problem @Ski90Moo . I am most grateful you report issues, and wouldn't trade a few mishaps for the actual ones you do find and describe well!

[2022-06-24 07:28] jmarrec commented on #529
https://devblogs.microsoft.com/visualstudio/arm64-visual-studio/

[2022-06-27 03:45] Nischal0150 opened #554 "Openstudio application crashes after clicking on thermal zone tab"
Issue overview
--------------
I am using Openstudio 3.40 to model a building with 50 thermal zones. But every time I click on the thermal zone tab on Openstudio, the application stalls for a few seconds and then crashes abruptly.

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your envi

[2022-06-27 04:08] macumber commented on #554
Moved from https://github.com/NREL/OpenStudio/issues/4617

@Nischal0150 Would you be able to post the model here (you can rename it to a .txt extension and upload it to the issue) or send it privately to osc@openstudiocoalition.org?

[2022-06-27 04:16] Nischal0150 commented on #554
I have sent the model to osc@openstudiocoalition.org

[2022-06-28 04:47] Ski90Moo opened #555 "Connection for DOAS, VRF, and SingleDuct:Mixer"
Enhancement Request
--------------

I would like to model a DOAS system with VRF zone terminals tied together with an AirTerminal:SingleDuct:Mixer.

## Detailed Description

As it is, I have a standard AirLoopHVAC serving as a DOAS.  The AirTerminal:SingleDuct:Mixer is connected to the zone:
![2022-06-27 (4)](https://user-images.githubusercontent.com/69771412/176094257-d80245e3-1d63-4b60-88b4-811c

[2022-06-28 05:37] macumber commented on #554
Thanks @Nischal0150, I can reproduce the crash. I think this has something to do with `NUM_ROWS_PER_GRIDLAYOUT` which is currently set at 50.

[2022-06-28 05:56] macumber commented on #554
Another odd thing seems to be that the ThermalZones are missing an inletPortList, was this OSM created through some script or other process?  Did it use the OS SDK to create the ThermalZone objects?

[2022-06-28 05:59] macumber commented on #554
Possibly related to https://github.com/openstudiocoalition/OpenStudioApplication/issues/554

[2022-06-28 06:09] Nischal0150 commented on #554
Yes, the thermal zones were created through openstudio user script using openstudio sketchup plugin V 1.4.0

[2022-06-29 02:32] macumber commented on #554
Hmm, I was not able to reproduce this using SketchUp 2021 on Windows 11, OpenStudio SketchUp Plug-in 1.4.0, OpenStudio Application 1.4.0, and OpenStudio SDK 1.4.0

![image](https://user-images.githubusercontent.com/1327850/176338434-0f3ff4aa-ca8f-4291-b9f9-89a038ce086f.png)

Can you check your OpenStudio SketchUp Plug-in preferences to make sure that you have the plug-in pointed at the right OpenS

[2022-06-29 15:37] Ski90Moo opened #556 "Unable to delete subsurfaces in spaces, subsurfaces tab"
Issue overview
--------------

Unable to delete subsurfaces in the spaces, subsurfaces tab
![2022-06-29](https://user-images.githubusercontent.com/69771412/176477494-cfc68b97-7f99-470b-aca2-34dc3d965a44.jpg)

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your environment for this issue

[2022-06-30 04:20] macumber commented on #556
This is the line that would enable that: https://github.com/openstudiocoalition/OpenStudioApplication/blob/develop/src/openstudio_lib/SpacesSubsurfacesGridView.cpp#L169

I don't think we want to enable Add, Copy, or Purge for SubSurfaces.  Remove could be acceptable but it risks removing matched SubSurfaces in different zones.  I suppose in that case we could remove both SubSurfaces?

Note that th

[2022-06-30 04:27] Ski90Moo commented on #556
I wanted to use this as an easy way to remove all interior doors or windows
as there were a lot of vertex mismatch errors associated with the interior
walls with these subsurfaces.

If you are removing a subsurface and it has a match, you will likely want
to remove both anyway.

This function used to be available on 2.9.1.

Dan Macumber ***@***.***> schrieb am Mi. 29. Juni 2022 um
9:20 PM:

--
Bes

[2022-07-02 20:24] macumber opened #557 "Upgrade Ruby to 3.1"
Enhancement Request
--------------
Upgrade the embedded Ruby version to 3.1.  This would align with future plans for integrating with SketchUp, https://forums.sketchup.com/t/ruby-3-is-coming-headers-and-libs-available/202102.  I think their reasoning is pretty sound on picking 3.1 vs 3.0 (which Ubuntu 22.04 went with).

Related to https://github.com/NREL/OpenStudio/issues/4624

[2022-07-02 20:29] #507 closed

[2022-07-21 04:16] macumber opened #559 "Cannot set object name in OpenStudio SketchUp Plug-in"
Issue overview
--------------
First reported https://github.com/openstudiocoalition/openstudio-sketchup-plugin/issues/104

## Possible Solution
I first thought this was a SketchUp bug but want to look into other possibilities in the Qt 6 upgrade (did this work in 1.3.1 - Qt 5) as well as if the SketchUp strings might have changed here https://github.com/openstudiocoalition/OpenStudioApplication/bl

[2022-07-21 04:18] macumber commented on #559
Problem does not occur when using OpenStudio Application 1.3.1 so that points to a Qt 6 related issue.

[2022-07-21 05:01] macumber commented on #559
Possible alternative to QtWinMigrate:

https://stackoverflow.com/questions/57149572/embed-qt-inside-native-window-windows

[2022-08-22 13:45] jmarrec commented on #549
hvac_library.osm does have it

  1,                                      !- Rated Total Heating Capacity Sizing Ratio {W/W}

https://github.com/openstudiocoalition/OpenStudioApplication/blob/802a0690f6b5977c9920b856f7b859ee4dde63e2/src/openstudio_app/Resources/default/hvac_library.osm#L5498-L5525

[2022-08-30 19:09] Ski90Moo opened #560 "HVAC tab for VRF does not zoom"
Issue overview
--------------

Zoom buttons do not function.  Also, unable to return to the VRF main overview page.
## Current Behavior

![2022-08-30](https://user-images.githubusercontent.com/69771412/187522344-00b85f98-9910-4c64-9add-7b6edf7e2d54.png)

## Expected Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Possible Solution

## Details

### Environment

Some additional details about your e

[2022-09-05 08:41] manuvarkey opened #561 "Subsurfaces across thermal zones do not have outside boundary condition object assigned"
Issue overview
--------------
While geometry is created using inbuilt FloorspaceJS editor, subsurfaces (windows and doors) in walls across thermal zones do not have outside boundary condition object assigned in Spaces->Subsurfaces.

## Current Behavior
No outside boundary condition objects are assigned in Spaces->Subsurfaces for internal windows and doors.

Following EnergyPlus error is thrown for

[2022-09-05 08:59] manuvarkey commented on #486
I think this is due to some zones not being assigned to a thermal zone. Found the following discussion.

https://unmethours.com/question/45911/interior-lighting-summary-open-studio/

[2022-09-06 02:01] macumber commented on #560
The VRF page is a bit weird because the zoom button is associated with zooming in on a particular VRF system.

Zooming in on a particular system:
![image](https://user-images.githubusercontent.com/1327850/188531235-25f115be-8772-410d-8700-a5d37aec9e4e.png)

Returning to the main overview:
![image](https://user-images.githubusercontent.com/1327850/188531149-6559454b-2fdc-4b46-b603-246be774521b.png)

[2022-09-06 02:28] macumber commented on #561
Thanks for the report @manuvarkey.  I believe that this issue is with the OpenStudio SDK, interior windows are not translated from FloorspaceJS to OSM with the correct Outside Boundary Condition Object property set.   We could implement workarounds in the OS App but I think the best fix would be in the OS SDK, especially if there is work happening in this translation now.

[2022-09-08 20:24] klim9012 opened #562 "Search Function Request for User Interface in "My Model" tab and "Library" tab especially for HVAC tab"
Enhancement Request
--------------

## Detailed Description

## Possible Implementation

[2022-09-21 12:43] enrico-prataviera commented on #495
Hi,

I have the same issue reported [here](https://unmethours.com/question/70492/floorspacejs-json-file-corrupted-after-merging-with-osm/)
Apparently, after merging the FloorspaceJS model with the osm model, the floorplan.json is corrupted and it is no more available in the editor tab.
Find attached the osm and the floorplan.json before and after the merging

I'm using Windows 10 Enterprise, Opens

[2022-09-21 14:09] enrico-prataviera commented on #495
## **Update**

I think I found the issue.
In the original file, I created a story called "Basement" and a space called "Basement" in FloorspaceJS.
Since similar names are not accepted, OS renamed the story "Basement 1" after the merging, but the name was not updated automatically in the floorspace.json. The name mismatch didn't allow the floorspace.json to be loaded correctly again.
Same issue wit

[2022-09-24 15:33] macumber commented on #495
That is a great clue to follow up on @enrico-prataviera, I will look into it!

[2022-10-04 20:17] Markaeus commented on #123
Hello, this is my first open source contribution and I'd like to take a shot at this one.

[2022-10-05 02:41] macumber commented on #123
Great @Markaeus! We will probably be putting out a release in the November/December time frame.  It might be worth considering interaction with a search function similar to that proposed in https://github.com/openstudiocoalition/OpenStudioApplication/issues/562, I was thinking of looking at that one.

[2022-10-05 21:11] Markaeus commented on #123
Sounds good, I'll get started as soon as I get the environment setup. having Conan issues.

[2022-10-06 13:41] ianvg opened #565 "Show inherited constructions in spaces tab"
Enhancement Request
--------------
To be able to see which construction set a space has inherited in the spaces tab.

## Detailed Description
I am going to reference a post I made on Unmet Hours where I detail this further, but essentially it as simple as copying behavior over from other parts of OpenStudio (i.e. showing inherited schedules, construction, random elements, etc. as 'inherited' throu

[2022-10-06 14:35] ianvg commented on #565
Looks like this issue is listed as a minor bug [over here](https://github.com/openstudiocoalition/OpenStudioApplication/issues/114). I apologize, missed this on the first search.

[2022-10-06 14:35] #565 closed

[2022-10-12 16:46] MatthewSteen commented on #542
+1 for Ubuntu 22.04.

[2022-10-17 13:10] #478 closed

[2022-10-17 13:10] jmarrec commented on #478
This is done now. We have boost 1.79, MSVC 17 is supported.

[2022-10-18 13:44] jmarrec opened #571 "Modernize OSGridController"
Enhancement Request
--------------

https://github.com/openstudiocoalition/OpenStudioApplication/blob/747b5dcf27899780bd372ec6609632554db75cb7/src/shared_gui_components/OSGridController.cpp#L254-L265

## Detailed Description

## Possible Implementation

Use lambdas instead of std::bind.

does t_setterMO / t_getterMO require a pass by value instead of a reference?

[2022-11-10 12:10] Ski90Moo opened #574 "BCL Measures do not Update"
Issue overview
--------------

The application notifies me that there are measures from the BCL that need to be updated.  When I click Yes, it seems to be updating, but there is no notification that it was successful.  Also, when I click the update button again, it says the same measures need to be updated.

![OpenStudioApp_rcKsneqHJH](https://user-images.githubusercontent.com/69771412/201088144-f

[2022-11-10 18:41] eapuertoc opened #575 "Adaptive ASHRAE 55 model doesn't report status variable"
If you select the Thermal Comfort Model Type: "AdaptiveASH55" and select Output Variable "Zone Thermal Comfort ASHRAE 55 Adaptive Model 80%% Acceptability Status, *", it's not reported. The EnergyPlus error log shows:

** Warning ** The following Report Variables were requested but not generated -- check.rdd file
   **   ~~~   ** Either the IDF did not contain these elements, the variable name is